.fa-auth0:before {
  @extend .fa-star;
}

.fa-keycloak:before {
  content: '❮❯';
  white-space: nowrap;
}

.EnforceSSOButton {
  float: right;
  margin-top: -line-height-times(1/3);
}

.AllowPasswordButton {
  float: right;
  margin-top: 0;
}

// toggle submit button when checkbox is checked/unchecked
#settings_enforce_sso:checked + label + .EnforceSSOButton,
#settings_enforce_sso:not(:checked) + label + .AllowPasswordButton {
  display: block !important;
}
