#bulk-operations {
  @include white-box-shadow;
  clear: both;
  display: none;
  line-height: $line-height-lg;
  margin-bottom: line-height-times(1);
  padding: line-height-times(1);

  button {
    @extend .outline-button-thin;
  }

  dl {
    @extend %dl;
  }

  .operation {
    @extend %dt;
  }

  .description {
    @extend %dd;
  }

  .select-total-entries {
    display: none;
  }
}

