@use "provider/colors" as *;
@use "provider/typography" as *;
@use "sass:math";

.button,
a {
  &.next {
    float: right;
  }
}

// TODO: remove this class
.button-bar {
  position: relative;

  fieldset {
    margin: 0;
  }

  & > fieldset {
    & > ol > li {
      display: inline-block;
    }

    &.actions:first-child {
      float: left;
      margin: line-height-times(.5) 0 0;
      padding: 0;
      text-align: left !important;

      & > ol > li {
        margin-right: var(--pf-global--spacer--sm);
      }
    }

    &.actions:last-child:not(:first-child) {
      float: right;
      margin: line-height-times(.5) 0 0;
      padding: 0;

      & > ol > li {
        margin-left: var(--pf-global--spacer--sm);
      }
    }
  }

  display: flow-root;
}

// TODO: remove outline-button
@mixin outline-button($color: $font-color, $border-color: $border-color) {
  color: $color;
  display: inline-block;
  font-size: $font-size-base;
  line-height: 1;
  border: $border-width solid $border-color;
  border-radius: $border-radius-sm;
  margin-top: -$border-width;
  padding: line-height-times(math.div(1,3)) line-height-times(.5);
  height: line-height-times(1.5);
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: $link-color;
    border-color: $link-color;
  }
}

.outline-button {
  @include outline-button;
}

.outline-button-thin {
  @include outline-button;

  padding: line-height-times(.25) line-height-times(math.div(1,3)) !important;
  height: line-height-times(1.25);
}

.outline-button-thin--negative {
  @include outline-button($error-color, $error-color);

  padding: line-height-times(.25) !important;
  height: line-height-times(1.25);
}

.outline-button-thin--positive {
  @include outline-button($success-color, $success-color);

  padding: line-height-times(.25) !important;
  height: line-height-times(1.25);
}
