$call-to-action-color: $body-background;
$call-to-action-background-color: $error-color;

.CallToAction {
  background-color: $call-to-action-background-color;
  color: $call-to-action-color;
  padding: line-height-times(1/2);
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2000;

  &-link {
    border: $border-width solid $call-to-action-color;
    border-radius: $border-radius-sm;
    color: $call-to-action-color;
    padding: line-height-times(1/8) line-height-times(1/4);

    &:hover {
      border-color: $font-color;
    }
  }
}
