#colorbox, #cboxOverlay, #cboxWrapper{
  position:absolute;
  top: 0;
  left:0;
  z-index:9999;
  overflow:hidden;
  -webkit-transform: translate3d(0,0,0);
  min-width: line-height-times(20);
}

#cboxWrapper {
  max-width: none;
}

#colorbox {
  box-shadow: 0 0 line-height-times(1/2) $box-shadow-color;
  background: rgba($content-background, .99);
  border: $border-width solid $border-color;
  text-align: left;
  border-radius: $border-radius;

  form.formtastic {
    width: 100%;

    fieldset.inputs {
      border-top: 0;
    }

    fieldset.buttons {
      margin-bottom: 0;
      margin-left: 0 !important;
    }

    .fancybox-close {
      float: left;
    }

    table, tr, td {
      height: auto;

      label {
        line-height: 2.4;
      }
    }
  }
}

#cboxOverlay{
  position:fixed;
  width:100%;
  height:100%;
  background: rgba($content-background, .8);
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear:left;
}

#cboxContent{
  position:relative;
  padding: line-height-times(2) line-height-times(1) line-height-times(1);
  width: auto !important;
  min-width: line-height-times(20);
}

#cboxLoadedContent{
  overflow:auto;
  -webkit-overflow-scrolling: touch;

  h1 {
    margin-top: line-height-times(1);
    font-size: $secondary-title-font-size;
  }

  h2 {
    font-size: $font-size-base;
    margin-bottom: 0;
  }
}

#cboxTitle{
  position:absolute;
  top: line-height-times(1);
  left: line-height-times(1);
  color: $label-color;
}

#cboxClose{
  position: absolute;
  top: line-height-times(2/3);
  right: line-height-times(1);
  width: line-height-times(1);
  height: line-height-times(2);
  text-indent: line-height-times(-500);
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:after {
    @include iconic("\f057\0000a0");
    position: absolute;
    top: 0;
    right: -0.2rem;
    color: $label-color;
    text-indent: 0;
    display: block;
    height: line-height-times(1);
    width: line-height-times(1);
    font-size: $secondary-title-font-size;

    &:hover {
      color: $link-color;
    }
  }
}
