@use 'provider/colors' as *;
@use 'provider/typography' as *;
@use 'provider/links' as *;
@use 'sass:math';

/* stylelint-disable selector-id-pattern */
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 599;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  min-width: line-height-times(20);
}

#cboxWrapper {
  max-width: none;

  h2 {
    font-weight: $font-weight-bold;
    font-size: $secondary-title-font-size;
  }
}

#colorbox {
  box-shadow: var(--pf-global--BoxShadow--lg);
  background: white;
  border: $border-width solid $border-color;
  text-align: left;
  border-radius: $border-radius;

  form.formtastic {
    padding: 0;
    width: 100%;

    fieldset.inputs {
      border-top: 0;
    }

    fieldset.actions {
      margin-bottom: 0;
      margin-left: 0 !important;
    }

    table,
    tr,
    td {
      height: auto;

      label {
        line-height: 2.4;
      }
    }

    .actions > * {
      margin-right: var(--pf-global--spacer--sm);
    }
  }
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--pf-global--BackgroundColor--dark-transparent-100);
}

#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
  padding: line-height-times(2) line-height-times(1) line-height-times(1);
  width: auto !important;
  min-width: line-height-times(20);
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  h1 {
    margin-top: line-height-times(1);
    font-size: $secondary-title-font-size;
  }

  h2 {
    font-size: $font-size-base;
    margin-bottom: 0;
  }

  .formtastic {
    box-shadow: none;
  }
}

#cboxTitle {
  position: absolute;
  top: line-height-times(1);
  left: line-height-times(1);
  color: $label-color;
}

#cboxClose {
  position: absolute;
  top: line-height-times(math.div(2,3));
  right: line-height-times(1);
  width: line-height-times(1);
  height: line-height-times(2);
  text-indent: line-height-times(-500);
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::after {
    @include iconic("\f057\0000a0");

    position: absolute;
    top: 0;
    right: -0.2rem;
    color: $label-color;
    text-indent: 0;
    display: block;
    height: line-height-times(1);
    width: line-height-times(1);
    font-size: $secondary-title-font-size;

    &:hover {
      color: $link-color;
    }
  }
}
/* stylelint-enable selector-id-pattern */
