@charset 'utf-8';

$body-background: white;
$border-color: var(--pf-global--palette--black-300);
$disabled-color: var(--pf-global--disabled-color--100);
$error-color: var(--pf-global--danger-color--100);
$font-color: var(--pf-global--Color--100);
$highlight-color: var(--pf-global--primary-color--100);
$label-color: var(--pf-global--palette--black-500);
$light-color: var(--pf-global--Color--200);
$link-color: var(--pf-global--link--Color);
$link-hover-color: var(--pf-global--primary-color--200);
$success-color: var(--pf-global--success-color--100);
$warning-color: var(--pf-global--warning-color--100);
$warning-color-hover: var(--pf-global--warning-color--200);
