#context-menu > li + li {
  display: inline-block !important;
  width: 100%;
}

.nav-search-widget {

  &.active {
    .docs-search-results {
      display: block;
    }

    a.close-widget {
      display: block;
    }
  }

  input.docs-search-input {
    margin: line-height-times(1/3) 0;
    padding: 0 line-height-times(1/2);
    border: 0;
  }

  a.close-widget {
    display: none !important;
    position: absolute;
    right: line-height-times(1/4);
    top: line-height-times(1/2);
    font-size: $font-size-sm;
  }

  .docs-search {
    padding: 0;
    text-align: left;
    z-index: 100;
  }

  .docs-search-results {
    display: none;

    li {
      border-top: $border-width solid $border-color;
    }

    a {
      color: $link-color;
      display: block;
      padding: line-height-times(1/2);
    }
  }
}
