$dropdown-bg-color: lighten(black, 85%);

.dropdown {
  position: absolute !important;
  display: none !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 1000;
  border: $border-width solid $border-color;

  &.expanded {
    display: block !important;
    @include box-shadow(0 0 6px $box-shadow-color);
    background-color: $white;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    top: line-height-times(2);
  }

  & > li {
    float: none !important;
    text-align: left;
    vertical-align: middle;
    font-style: bold;
    padding: 0;
    list-style: none;
    overflow: hidden;

    &:last-child {
      & > a,
      & > input[type=submit],
      & > button {
        border-bottom: 0;
      }
    }
    & > a,
    & > input[type=submit],
    & > button {
      display: block;
      color: $font-color;
      white-space: nowrap;
      background: transparent;
      text-shadow: none;
      text-align: left !important;
      margin: 0;
      padding: line-height-times(1/2) !important;
      font-size: $font-size-base !important;
      width: 100% !important;
      @include border-radius(0);
      border: none;
      cursor: pointer;
      border-bottom: $border-width solid $border-color;
      min-width: 6rem;
      height: auto !important;
      font-weight: $font-weight-normal !important;

      &:hover {
        color: $link-color;
      }
    }
  }
}

.dropdown-buttons {
  position: static !important;
  margin: 0 !important;
  padding: 0 !important;
}


.button-group {
  & > a, & > button, & > input[type='submit'] {
    position: relative;
    margin-right: 0;
    border-radius: 0;
    min-width: 0;

    &:last-child {
      border-top-right-radius: $border-radius-sm;
      border-bottom-right-radius: $border-radius-sm;
    }

    &:first-child {
      margin-right: 0;
      border-top-left-radius: $border-radius-sm;
      border-bottom-left-radius: $border-radius-sm;
    }

    &.dropdown-toggle {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: $border-width !important;
      min-width: 0;
    }
  }

  & > input[type=submit], & > button {
    margin-right: line-height-times(1/4);
  }
}

// select 2
.select2-container {
  text-align: left;
  min-width: line-height-times(10);
}

// For a select box with fixed link at the bottom, select the last li to be that sticky link
.pf-c-select__menu--with-fixed-link li:last-of-type {
  position:sticky;
  bottom: calc(-1 * var(--pf-global--spacer--sm));
  padding-top: var(--pf-global--spacer--xs);
  padding-bottom: var(--pf-global--spacer--sm);
  background-color: var(--pf-global--BackgroundColor--100);
}
// Make the sticky link look like a link
.pf-c-select__menu--with-fixed-link li:last-of-type .pf-c-select__menu-item {
  color: var(--pf-global--link--Color);
}
.pf-c-select__menu--with-fixed-link li:last-of-type .pf-c-select__menu-item:hover {
  background-color: var(--pf-global--BackgroundColor--100);
  color: var(--pf-global--link--Color--hover);
}

// For a typeahead select with an option marked as a group name, make the option look like the SelectGroup name should
.pf-c-select__menu-item.pf-c-select__menu-item--group-name  {
  padding-top: var(--pf-c-select__menu-item--PaddingTop);
  padding-right: var(--pf-c-select__menu-item--PaddingRight);
  padding-bottom: var(--pf-c-select__menu-item--PaddingBottom);
  padding-left: var(--pf-c-select__menu-item--PaddingLeft);
  font-size: var(--pf-global--FontSize--sm);
  font-weight: var(--pf-global--FontWeight--semi-bold);
  color: var(--pf-global--Color--dark-200);
}

// fix the bottom border of the typeahead select that is being overwritten by a reset
.pf-c-select__toggle-wrapper > .pf-c-form-control {
  border-bottom-color: var(--pf-c-select__toggle--BorderBottomColor);
}

// fix a reset that is breaking the disabled typeahead select
.pf-c-select__toggle.pf-m-disabled input {
  background-color: var(--pf-global--disabled-color--300);
}
