@use 'provider/typography' as *;
@use 'utils';

ul#actions li form.button-to {
  @include utils.white-box-shadow;

  display: block;
  padding: line-height-times(1);
}

form#payment-gateway-form {
  section.pf-c-form__section {
    &.hidden {
      display: none;
    }

    &.payment_gateway_options {
      margin-top: 0;
    }
  }
}
