//
// Fonts
// --------------------------------------------------

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;

  src: local('Open Sans'), local('OpenSans'),
       font-url('open-sans-v15-cyrillic_latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       font-url('open-sans-v15-cyrillic_latin_latin-ext-regular.woff') format('woff');   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;

  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       font-url('open-sans-v15-cyrillic_latin_latin-ext-italic.woff2') format('woff2'),
       font-url('open-sans-v15-cyrillic_latin_latin-ext-italic.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;

  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       font-url('open-sans-v15-cyrillic_latin_latin-ext-700.woff2') format('woff2'),
       font-url('open-sans-v15-cyrillic_latin_latin-ext-700.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;

  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       font-url('open-sans-v15-cyrillic_latin_latin-ext-700italic.woff2') format('woff2'),
       font-url('open-sans-v15-cyrillic_latin_latin-ext-700italic.woff') format('woff');
}

/* overpass-mono-regular - latin */
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Mono Regular'), local('OverpassMono-Regular'),
       font-url('overpass-mono-v3-latin_latin-ext-regular.woff2') format('woff2'),
       font-url('overpass-mono-v3-latin_latin-ext-regular.woff') format('woff');
}

