#footer {
  color: $label-color;
  background-color: $footer-background-color;
  float: left;
  width: 100%;
  white-space: nowrap;
  margin: line-height-times(4) 0 line-height-times(0) 0;
  // Padding should be eventually taken care by PF
  padding-top: var(--pf-c-page__main-section--PaddingTop);
  padding-right: var(--pf-c-page__main-section--PaddingRight);
  padding-bottom: var(--pf-c-page__main-section--PaddingBottom);
  padding-left: var(--pf-c-page__main-section--PaddingLeft);
  border-top: $border-width solid $border-color;
  font-size: $font-size-sm;

  ul {
      @include horizontal-list(line-height-times(1/2));
      width: 100%;
      overflow: visible;

      li {
        white-space: nowrap;

        a {
          color: $footer-link-color;
          &:hover { color: $footer-link-hover-color; }

        }

        &.last { float: right; }
      }
  }
}

.powered-by-3scale {
  text-decoration: none;
  color: $footer-link-color;
}
