@use 'provider/colors' as *;
@use 'provider/typography' as *;
@use 'provider/layouts/main' as *;

.InfoBox {
  @include white-box-shadow;

  display: block;
  margin: line-height-times(.5) 0;
  padding: line-height-times(1);

  &--notice {
    background: $dirty-color;
  }

  p,
  form,
  form li,
  fieldset {
    max-width: 100% !important;
  }

  fieldset {
    margin: 0 !important;
  }

  .u-dl-definition:last-child {
    margin-bottom: line-height-times(-1);
    border-bottom: 0;
  }
}

.api-docs-wrap {
  @include white-box-shadow;

  padding: line-height-times(1);
}
