.inlineHelper {
  position: absolute;
  width: auto;
  min-width: line-height-times(8);
  max-width: line-height-times(20);
  padding: line-height-times(1/2);
  margin-top: 0;
  margin-left: line-height-times(1/4);
  font-size: $font-size-sm;
  box-shadow: 0 0 line-height-times(1/2) $box-shadow-color;
  background: rgba($content-background, .99);
  border: $border-width solid #f3a137;
  border-radius: $border-radius;
  border-top-left-radius: 0;
  font-style: italic;
  font-weight: $font-weight-normal;
  text-align: left;
}

.helpButton {
  position: absolute;
  margin-left: line-height-times(1/4);
}

.formtastic .helpButton {
  right: line-height-times(-1/4);
  top: line-height-times(1/8);
}
