@use 'provider/typography' as *;
@use 'utils';

div.dashboard_card {
  @include utils.white-box-shadow;

  border: 0;
  padding: line-height-times(1);
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: line-height-times(1);
  }

  &> table.list:first-child {
    margin-top: line-height-times(-0.5);
  }

  &> table.list:last-child {
    margin-bottom: line-height-times(-0.5);

    tr:last-child th,
    tr:last-child td {
      border-bottom: 0;
    }
  }
}

.left-column {
  float: left;
  width: calc(50% - #{line-height-times(1)});
}

.right-column {
  float: right;
  width: calc(50% - #{line-height-times(1)});
}

.self_clear {
  clear: both;
}

.clearfix {
  display: inline-table;
  width: 100%;
}
