@use 'provider/colors' as *;
@use 'provider/typography' as *;
@use 'utils';

#liquid-docs {
  @include utils.white-box-shadow;

  padding: line-height-times(1);

  hr {
    margin: line-height-times(2) 0 line-height-times(.5);
  }

  ul {
    list-style: disc inside;
  }

  #table-of-contents {

    li {
      font-size: $font-size-lg;
      list-style: none;

      ul {
        margin-bottom: line-height-times(1);

        li {
          font-size: $font-size-base;
          list-style: disc inside;
        }
      }
    }

    margin-left: line-height-times(1);
    float: right;
    padding: line-height-times(1);
    border: $border-width solid $border-color;
    border-radius: $border-radius;
  }
}
