/* Menu - Login Page */
ul.login-form-links {
  border-bottom: $border-width solid $font-color;
  height: line-height-times(2);
  margin: line-height-times(-1) 0 line-height-times(1);

  li {
    display: inline;
    list-style-type: none;

    &:first-child {
      margin: 0;

      a {
        padding-left: 0;
      }
    }

    a {
      color: $submenu-color;
      display: inline-block;
      height: line-height-times(2);
      line-height: line-height-times(2);
      padding: 0 line-height-times(1/2);

      &:hover {
        color: $submenu-hover-color;
      }
    }

    &.active,
    &.active a {
      color: $submenu-active-color;
    }
  }
}

#subsubmenu {
  height: line-height-times(1);
  padding: 0 0 line-height-times(1.5) 0;
  font-size: $font-size-sm;

  .active {
    color: $subsubmenu-active-color;
  }

  li {
    list-style-type: none;
    display: inline;
    padding-right: line-height-times(1/2);

    a {
      color: $menu-color;
      text-decoration: underline;

      &:hover {
        color: $menu-hover-color;
      }
    }
  }
}

// important styles needed to override the id based styling above
.SubSubMenuItem {
  list-style-type: none;
  display: inline-block !important;
  white-space: nowrap;
  margin: 0 line-height-times(1/4) line-height-times(1/2) 0;
  padding: 0 0 0 0 !important;

  &--trunk {
    margin-left: 0;
  }

  &--branch:before {
    content: '>';
    margin-right: line-height-times(1/4);
  }

  &--leaf:before {
    content: '|';
    margin-right: line-height-times(1/4);
  }

  .is-active {
    color: $subsubmenu-active-color;
  }

  &-link {
    color: $menu-color;
    text-decoration: underline;

    &:hover {
      color: $menu-hover-color;
    }
  }
}
