#header_table {
  margin-top: line-height-times(2);
}

th.collapsible {
  span {
    cursor: pointer;

    i {
      margin-right: line-height-times(1/4);
    }
  }

  &.collapsed {
    i {
      transform: rotate(-90deg);
    }
  }
}

table.contract_table {
  @include white-box-shadow;
  border-collapse: collapse;
  border-spacing: 0;
	margin-bottom: line-height-times(1/2);
  width: 100%;

  &#features {
    table-layout: fixed;

    thead {
      th:first-child,
      th:nth-child(2) {
        width: 35%;
      }

      th:nth-child(3) {
        width: 10%;
      }

      th:last-child {
        width: 20%;
      }
    }
  }
  
  &#metrics,
  &#backend_api_metrics {
    table-layout: fixed;

    thead {
      th {
        width: 64%;
      }
      th + th {
        width: 12%;
      }
    }

    tbody {
      tr {
        &.hidden {
          display: none;
        }
      }
    }
  }

  tr {
    border-bottom: $border-width solid $border-color;
  }

  th {
    padding-top: line-height-times(1/4);
    padding-bottom: line-height-times(1/4);
    
    &:first-child {
      text-align: left;
    }
  }

  td.selected strong {
    background: $light-background-color;
    padding: line-height-times(1/8);
  }

  table.usage_table {
    th, td {
      background-color: transparent;
    }

    td {
      border: $border-width solid $border-color;
    }
  }

  table#metrics tr.child td.title {
    background-image: image-url('child_metric_background.png');
    background-position: left center;
    background-repeat: no-repeat;
    color: $font-color;
    padding-left: line-height-times(1);
  }

  td.metrics-subtable-toggle {
    text-align: center;

    &.selected {
      color: $font-color;
      font-weight: $font-weight-bold;
      border-bottom: $border-width solid $background-color-base;
      border-left: $border-width solid $border-color;
      border-right: $border-width solid $border-color;
    }
  }

  td.metric_slot {
    padding: line-height-times(1);

    table {
      thead {
        border-bottom: $border-width solid $border-color;
      }

      tr {
        border: none;

        td {
          border: none;
          border-bottom: $border-width solid $border-color;
        }
      }
    }

  }

  .usage_limits {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .usageHidden {
    position: absolute;
    background: $font-color;
  }
}


// Overrides
table.contract_table {

  > thead tr th {
    padding-top: line-height-times(1);
    padding-bottom: line-height-times(1 / 2);
    &:first-child {
      padding-left: line-height-times(1);
    }
    &:last-child {
      padding-right: line-height-times(1);
    }
  }

  tbody tr td {
    &:first-child {
      padding-left: line-height-times(1);
    }
    &:last-child {
      padding-right: line-height-times(1);
      border-top: 1px solid #d1d1d1;
    }
    &.operations:last-child {
      padding-right: line-height-times(1);
    }
  }

  table.usage_table {
    border-collapse: collapse;
    border: 0;

    thead tr.table_title th {
      position: relative;
    }
  }

  #metrics_container > tr > th.backend_api_metric_title {
    padding-left: line-height-times(1);
  }

  thead tr th.operations {
    position: relative;
  }

}

