@charset "UTF-8";

[class*="pf-c-"], [class*="pf-c-"]::before, [class*="pf-c-"]::after,
[class*="pf-l-"],
[class*="pf-l-"]::before,
[class*="pf-l-"]::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: transparent; }

// html {
//   font-size: unset !important; }

// .pf-screen-reader {
//   position: fixed;
//   overflow: hidden;
//   clip: rect(0, 0, 0, 0);
//   white-space: nowrap;
//   border: 0; }

/* stylelint-enable */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%; }

ul {
  list-style: none; }

button {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  color: #151515; }

input {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  color: #151515; }

optgroup {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  color: #151515; }

select {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  color: #151515; }

textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  color: #151515; }

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
  height: auto; }

iframe {
  border: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td,
th {
  padding: 0;
  text-align: left; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  text-align: left;
  background-color: #fff; }

  // Moved under pf-c-nav to not to mess with existing styles
  // a {
//   color: #06c;
//   -webkit-text-decoration: none;
//           text-decoration: none; }

// a:hover{
//   text-decoration: underline; }

// a:hover{
//   -webkit-text-decoration: underline; }

// a:hover{
//   // color: #004080; } wrong?
//   color: #06c; }

button,
a {
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

.pf-t-dark.pf-m-transparent {
  background-color: transparent; }

.pf-t-dark.pf-m-transparent-100 {
  background-color: rgba(3, 3, 3, 0.42); }

.pf-t-dark.pf-m-transparent-200 {
  background-color: rgba(3, 3, 3, 0.6); }

.pf-t-dark.pf-m-opaque-100 {
  background-color: #393f44; }

.pf-t-dark.pf-m-opaque-200 {
  background-color: #151515; }

.pf-t-light.pf-m-transparent {
  background-color: transparent; }

.pf-t-light.pf-m-opaque-100 {
  background-color: #fff; }

.pf-t-light.pf-m-opaque-200 {
  background-color: #fafafa; }

.pf-t-light.pf-m-opaque-300 {
  background-color: #ededed; }

html {
  /* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */ }
  // html .fa,
  // html .fas,
  // html .far,
  // html .fal,
  html .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    // font-style: normal;
    -webkit-font-feature-settings: normal;
            font-feature-settings: normal;
    // font-variant: normal;
    text-rendering: auto;
    line-height: 1; }
  // html .fa-lg {
  //   font-size: 1.33333em;
  //   line-height: 0.75em;
  //   vertical-align: -.0667em; }
  // html .fa-xs {
  //   font-size: .75em; }
  // html .fa-sm {
  //   font-size: .875em; }
  // html .fa-1x {
  //   font-size: 1em; }
  // html .fa-2x {
  //   font-size: 2em; }
  // html .fa-3x {
  //   font-size: 3em; }
  // html .fa-4x {
  //   font-size: 4em; }
  // html .fa-5x {
  //   font-size: 5em; }
  // html .fa-6x {
  //   font-size: 6em; }
  // html .fa-7x {
  //   font-size: 7em; }
  // html .fa-8x {
  //   font-size: 8em; }
  // html .fa-9x {
  //   font-size: 9em; }
  // html .fa-10x {
  //   font-size: 10em; }
  html .fa-fw {
    text-align: center;
    width: 1.25em; }
  html .fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0; }
    html .fa-ul > li {
      position: relative; }
  html .fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit; }
  html .fa-border {
    border: solid 0.08em #eee;
    border-radius: .1em;
    padding: .2em .25em .15em; }
  html .fa-pull-left {
    float: left; }
  html .fa-pull-right {
    float: right; }
  html .fa.fa-pull-left,
  html .fas.fa-pull-left,
  html .far.fa-pull-left,
  html .fal.fa-pull-left,
  html .fab.fa-pull-left {
    margin-right: .3em; }
  html .fa.fa-pull-right,
  html .fas.fa-pull-right,
  html .far.fa-pull-right,
  html .fal.fa-pull-right,
  html .fab.fa-pull-right {
    margin-left: .3em; }
  html .fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
            animation: fa-spin 2s infinite linear; }
  html .fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
            animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
  html .fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    transform: rotate(90deg); }
  html .fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    transform: rotate(180deg); }
  html .fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    transform: rotate(270deg); }
  html .fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    transform: scale(-1, 1); }
  html .fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    transform: scale(1, -1); }
  html .fa-flip-horizontal.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
    transform: scale(-1, -1); }
  html :root .fa-rotate-90,
  html :root .fa-rotate-180,
  html :root .fa-rotate-270,
  html :root .fa-flip-horizontal,
  html :root .fa-flip-vertical {
    -webkit-filter: none;
            filter: none; }
  html .fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em; }
  html .fa-stack-1x,
  html .fa-stack-2x {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%; }
  html .fa-stack-1x {
    line-height: inherit; }

  html .fa-stack-2x {
    font-size: 2em; }
  html .fa-inverse {
    color: #fff; }
  html .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  html .sr-only-focusable:active, html .sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* stylelint-enable */
@font-face {
  font-family: "pficon";
  src: url("./assets/pficon/pficon.eot");
  src: url("./assets/pficon/pficon.eot?#iefix") format("eot"), url("./assets/pficon/pficon.woff2") format("woff2"), url("./assets/pficon/pficon.woff") format("woff"), url("./assets/pficon/pficon.ttf") format("truetype"), url("./assets/pficon/pficon.svg#pficon") format("svg"); }

.pf-icon-add-circle-o:before, .pf-icon-applications:before, .pf-icon-arrow:before, .pf-icon-asleep:before, .pf-icon-automation:before, .pf-icon-blueprint:before, .pf-icon-build:before, .pf-icon-builder-image:before, .pf-icon-bundle:before, .pf-icon-catalog:before, .pf-icon-chat:before, .pf-icon-close:before, .pf-icon-cloud-security:before, .pf-icon-cloud-tenant:before, .pf-icon-cluster:before, .pf-icon-connected:before, .pf-icon-container-node:before, .pf-icon-cpu:before, .pf-icon-degraded:before, .pf-icon-disconnected:before, .pf-icon-domain:before, .pf-icon-edit:before, .pf-icon-enhancement:before, .pf-icon-enterprise:before, .pf-icon-equalizer:before, .pf-icon-error-circle-o:before, .pf-icon-export:before, .pf-icon-filter:before, .pf-icon-flavor:before, .pf-icon-folder-close:before, .pf-icon-folder-open:before, .pf-icon-globe-route:before, .pf-icon-help:before, .pf-icon-history:before, .pf-icon-home:before, .pf-icon-import:before, .pf-icon-in-progress:before, .pf-icon-info:before, .pf-icon-infrastructure:before, .pf-icon-integration:before, .pf-icon-key:before, .pf-icon-locked:before, .pf-icon-maintenance:before, .pf-icon-memory:before, .pf-icon-messages:before, .pf-icon-middleware:before, .pf-icon-migration:before, .pf-icon-monitoring:before, .pf-icon-network:before, .pf-icon-off:before, .pf-icon-ok:before, .pf-icon-on-running:before, .pf-icon-on:before, .pf-icon-optimize:before, .pf-icon-orders:before, .pf-icon-os-image:before, .pf-icon-paused:before, .pf-icon-pending:before, .pf-icon-pficon-dragdrop:before, .pf-icon-pficon-history:before, .pf-icon-pficon-network-range:before, .pf-icon-pficon-satellite:before, .pf-icon-pficon-sort-common-asc:before, .pf-icon-pficon-sort-common-desc:before, .pf-icon-pficon-template:before, .pf-icon-pficon-vcenter:before, .pf-icon-plugged:before, .pf-icon-port:before, .pf-icon-print:before, .pf-icon-private:before, .pf-icon-process-automation:before, .pf-icon-project:before, .pf-icon-rebalance:before, .pf-icon-rebooting:before, .pf-icon-regions:before, .pf-icon-registry:before, .pf-icon-remove2:before, .pf-icon-replicator:before, .pf-icon-repository:before, .pf-icon-resource-pool:before, .pf-icon-resources-almost-empty:before, .pf-icon-resources-almost-full:before, .pf-icon-resources-full:before, .pf-icon-save:before, .pf-icon-screen:before, .pf-icon-security:before, .pf-icon-server-group:before, .pf-icon-server:before, .pf-icon-service-catalog:before, .pf-icon-service:before, .pf-icon-services:before, .pf-icon-spinner:before, .pf-icon-spinner2:before, .pf-icon-storage-domain:before, .pf-icon-tenant:before, .pf-icon-thumb-tack:before, .pf-icon-topology:before, .pf-icon-trend-down:before, .pf-icon-trend-up:before, .pf-icon-unknown:before, .pf-icon-unlocked:before, .pf-icon-unplugged:before, .pf-icon-user:before, .pf-icon-users:before, .pf-icon-virtual-machine:before, .pf-icon-volume:before, .pf-icon-warning-triangle:before, .pf-icon-zone:before {
  font-family: "pficon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none; }

.pf-icon-add-circle-o:before {
  content: ""; }

.pf-icon-applications:before {
  content: ""; }

.pf-icon-arrow:before {
  content: ""; }

.pf-icon-asleep:before {
  content: ""; }

.pf-icon-automation:before {
  content: ""; }

.pf-icon-blueprint:before {
  content: ""; }

.pf-icon-build:before {
  content: ""; }

.pf-icon-builder-image:before {
  content: ""; }

.pf-icon-bundle:before {
  content: ""; }

.pf-icon-catalog:before {
  content: ""; }

.pf-icon-chat:before {
  content: ""; }

.pf-icon-close:before {
  content: ""; }

.pf-icon-cloud-security:before {
  content: ""; }

.pf-icon-cloud-tenant:before {
  content: ""; }

.pf-icon-cluster:before {
  content: ""; }

.pf-icon-connected:before {
  content: ""; }

.pf-icon-container-node:before {
  content: ""; }

.pf-icon-cpu:before {
  content: ""; }

.pf-icon-degraded:before {
  content: ""; }

.pf-icon-disconnected:before {
  content: ""; }

.pf-icon-domain:before {
  content: ""; }

.pf-icon-edit:before {
  content: ""; }

.pf-icon-enhancement:before {
  content: ""; }

.pf-icon-enterprise:before {
  content: ""; }

.pf-icon-equalizer:before {
  content: ""; }

.pf-icon-error-circle-o:before {
  content: ""; }

.pf-icon-export:before {
  content: ""; }

.pf-icon-filter:before {
  content: ""; }

.pf-icon-flavor:before {
  content: ""; }

.pf-icon-folder-close:before {
  content: ""; }

.pf-icon-folder-open:before {
  content: ""; }

.pf-icon-globe-route:before {
  content: ""; }

.pf-icon-help:before {
  content: ""; }

.pf-icon-history:before {
  content: ""; }

.pf-icon-home:before {
  content: ""; }

.pf-icon-import:before {
  content: ""; }

.pf-icon-in-progress:before {
  content: ""; }

.pf-icon-info:before {
  content: ""; }

.pf-icon-infrastructure:before {
  content: ""; }

.pf-icon-integration:before {
  content: ""; }

.pf-icon-key:before {
  content: ""; }

.pf-icon-locked:before {
  content: ""; }

.pf-icon-maintenance:before {
  content: ""; }

.pf-icon-memory:before {
  content: ""; }

.pf-icon-messages:before {
  content: ""; }

.pf-icon-middleware:before {
  content: ""; }

.pf-icon-migration:before {
  content: ""; }

.pf-icon-monitoring:before {
  content: ""; }

.pf-icon-network:before {
  content: ""; }

.pf-icon-off:before {
  content: ""; }

.pf-icon-ok:before {
  content: ""; }

.pf-icon-on-running:before {
  content: ""; }

.pf-icon-on:before {
  content: ""; }

.pf-icon-optimize:before {
  content: ""; }

.pf-icon-orders:before {
  content: ""; }

.pf-icon-os-image:before {
  content: ""; }

.pf-icon-paused:before {
  content: ""; }

.pf-icon-pending:before {
  content: ""; }

.pf-icon-pficon-dragdrop:before {
  content: ""; }

.pf-icon-pficon-history:before {
  content: ""; }

.pf-icon-pficon-network-range:before {
  content: ""; }

.pf-icon-pficon-satellite:before {
  content: ""; }

.pf-icon-pficon-sort-common-asc:before {
  content: ""; }

.pf-icon-pficon-sort-common-desc:before {
  content: ""; }

.pf-icon-pficon-template:before {
  content: ""; }

.pf-icon-pficon-vcenter:before {
  content: ""; }

.pf-icon-plugged:before {
  content: ""; }

.pf-icon-port:before {
  content: ""; }

.pf-icon-print:before {
  content: ""; }

.pf-icon-private:before {
  content: ""; }

.pf-icon-process-automation:before {
  content: ""; }

.pf-icon-project:before {
  content: ""; }

.pf-icon-rebalance:before {
  content: ""; }

.pf-icon-rebooting:before {
  content: ""; }

.pf-icon-regions:before {
  content: ""; }

.pf-icon-registry:before {
  content: ""; }

.pf-icon-remove2:before {
  content: ""; }

.pf-icon-replicator:before {
  content: ""; }

.pf-icon-repository:before {
  content: ""; }

.pf-icon-resource-pool:before {
  content: ""; }

.pf-icon-resources-almost-empty:before {
  content: ""; }

.pf-icon-resources-almost-full:before {
  content: ""; }

.pf-icon-resources-full:before {
  content: ""; }

.pf-icon-save:before {
  content: ""; }

.pf-icon-screen:before {
  content: ""; }

.pf-icon-security:before {
  content: ""; }

.pf-icon-server-group:before {
  content: ""; }

.pf-icon-server:before {
  content: ""; }

.pf-icon-service-catalog:before {
  content: ""; }

.pf-icon-service:before {
  content: ""; }

.pf-icon-services:before {
  content: ""; }

.pf-icon-spinner:before {
  content: ""; }

.pf-icon-spinner2:before {
  content: ""; }

.pf-icon-storage-domain:before {
  content: ""; }

.pf-icon-tenant:before {
  content: ""; }

.pf-icon-thumb-tack:before {
  content: ""; }

.pf-icon-topology:before {
  content: ""; }

.pf-icon-trend-down:before {
  content: ""; }

.pf-icon-trend-up:before {
  content: ""; }

.pf-icon-unknown:before {
  content: ""; }

.pf-icon-unlocked:before {
  content: ""; }

.pf-icon-unplugged:before {
  content: ""; }

.pf-icon-user:before {
  content: ""; }

.pf-icon-users:before {
  content: ""; }

.pf-icon-virtual-machine:before {
  content: ""; }

.pf-icon-volume:before {
  content: ""; }

.pf-icon-warning-triangle:before {
  content: ""; }

.pf-icon-zone:before {
  content: ""; }


/* stylelint-enable */
/* stylelint-disable */
/* stylelint-enable */
.pf-c-nav {
  position: relative;

  // HACK: this should affect the whole page
  a {
    color: #06c;
    -webkit-text-decoration: none;
            text-decoration: none; }

  a:hover{
    text-decoration: underline; }

  a:hover{
    -webkit-text-decoration: underline; }

  a:hover{
    // color: #004080; } wrong?
    color: #06c; }
}
  .pf-c-nav .pf-c-nav__scroll-button {
    display: none;
    visibility: hidden; }
  .pf-c-nav [class*="list"] [class*="link"], .pf-c-nav [class*="list"] [class*="link"]:hover, .pf-c-nav [class*="list"] [class*="link"]:focus, .pf-c-nav [class*="list"] [class*="link"]:active {
    text-decoration: none; }
  .pf-c-nav.pf-m-start .pf-c-nav__scroll-button:nth-of-type(1) {
    display: block;
    visibility: visible; }
  .pf-c-nav.pf-m-end .pf-c-nav__scroll-button:nth-of-type(2) {
    display: block;
    visibility: visible; }

// @media screen and (min-width: 768px) {
  @media screen and (min-width: 10px) {
  .pf-c-page__sidebar .pf-c-nav {
    width: 18.125rem; } }

.pf-c-page__header-nav .pf-c-nav__scroll-button {
  background-color: #fff; }
  .pf-c-page__header-nav .pf-c-nav__scroll-button:nth-of-type(1) {
    box-shadow: 20px 0 10px -4px rgba(21, 21, 21, .7); }
  .pf-c-page__header-nav .pf-c-nav__scroll-button:nth-of-type(2) {
    box-shadow: -20px 0 10px -4px rgba(21, 21, 21, .7); }

.pf-c-nav__list > .pf-c-nav__item {
  position: relative; }

.pf-c-nav__list > .pf-c-nav__item > .pf-c-nav__link::after {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  width: 3.125rem;
  height: 0.1875rem;
  content: ""; }

.pf-c-nav__list .pf-c-nav__link {
  position: relative;
  display: flex;
  align-items: baseline;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  font-weight: 500;
  // color: #004080; } this wrong?
  color: #151515; }

// .pf-c-nav__list .pf-c-nav__link:focus{
//   color: #004080; }

.pf-c-nav__list .pf-c-nav__link:active{
  // color: #004080; }
  color: #06c; }

.pf-c-nav__list .pf-c-nav__link:hover{
  // color: #004080; }
  color: #06c; }

// .pf-c-nav__list .pf-c-nav__link:focus{
//   font-weight: 400; }

.pf-c-nav__list .pf-c-nav__link:active{
  font-weight: 400; }
.pf-c-nav__list .pf-m-current.pf-c-nav__link {
  // color: #004080; }
  color: #06c; }
.pf-c-nav__list .pf-m-current > .pf-c-nav__link {
  // color: #004080; }
  color: #06c; }
.pf-c-nav__list .pf-c-nav__link.pf-m-hover::after {
  // background-color: #004080; }
  background-color: #06c; }
.pf-c-nav__list .pf-c-nav__link:hover::after {
  // background-color: #004080; }
  background-color: #06c; }
.pf-c-nav__list .pf-c-nav__link.pf-m-active::after {
  // background-color: #004080; }
  background-color: #06c; }
.pf-c-nav__list .pf-c-nav__link:active::after {
  // background-color: #004080; }
  background-color: #06c; }
.pf-c-nav__list .pf-c-nav__link.pf-m-focus::after {
  // background-color: #004080; }
  background-color: #06c; }
// .pf-c-nav__list .pf-c-nav__link:focus::after {
//   background-color: #004080; }
.pf-c-nav__list .pf-m-current.pf-c-nav__link::after {
  // background-color: #004080; }
  background-color: #06c; }
.pf-c-nav__list .pf-m-current > .pf-c-nav__link::after {
  // background-color: #004080; }
  background-color: #06c; }

.pf-c-nav__separator {
  height: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  background-color: #d2d2d2; }

.pf-c-nav__toggle {
  flex: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: auto;
  // font-size: 1rem;
  line-height: 1;
  pointer-events: none;
  border: 0; }
  .pf-c-nav__toggle > * {
    transition: .1s ease-in-out; }

.pf-c-nav__item.pf-m-expanded .pf-c-nav__toggle > * {
  transform: rotate(90deg); }

.pf-c-nav__simple-list .pf-c-nav__link {
  display: block;
  padding: 0.5rem 1.5rem 0.5rem calc(1.5rem + 1rem);
  font-weight: 500;
  // color: #004080; } wrong?
  color: #131313; }

.pf-c-nav__simple-list .pf-c-nav__link:active{
  // color: #004080; }
  color: #06c; }

// .pf-c-nav__simple-list .pf-c-nav__link:focus{
//   color: #0A84FF; }

.pf-c-nav__simple-list .pf-c-nav__link:hover{
  // color: #004080; }
  color: #06c; }

.pf-c-nav__simple-list .pf-c-nav__link:active{
  font-weight: 500; }


// .pf-c-nav__simple-list .pf-c-nav__link:focus{
//   font-weight: 500; }
  .pf-c-nav__simple-list .pf-c-nav__link.pf-m-hover {
    background-color: #f5f5f5; }
  .pf-c-nav__simple-list .pf-c-nav__link:hover {
    background-color: #f5f5f5; }
  .pf-c-nav__simple-list .pf-c-nav__link.pf-m-focus {
    background-color: #f5f5f5; }
  // .pf-c-nav__simple-list .pf-c-nav__link:focus {
  //   background-color: #f5f5f5; }
  .pf-c-nav__simple-list .pf-c-nav__link.pf-m-active {
    background-color: #f5f5f5; }
  .pf-c-nav__simple-list .pf-c-nav__link:active {
    background-color: #f5f5f5; }
  .pf-c-nav__simple-list .pf-c-nav__link.pf-m-current {
    background-color: #f5f5f5; }

.pf-c-nav__horizontal-list,
.pf-c-nav__tertiary-list {
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  display: inline-flex;
  max-width: 100%;
  overflow-x: auto; }
  .pf-c-nav__horizontal-list::-webkit-scrollbar,
  .pf-c-nav__tertiary-list::-webkit-scrollbar {
    display: none; }
  .pf-c-nav__horizontal-list .pf-c-nav__link,
  .pf-c-nav__tertiary-list .pf-c-nav__link {
    position: relative;
    display: inline-block; }

.pf-c-nav__horizontal-list {
  vertical-align: bottom; }
  .pf-c-nav__horizontal-list .pf-c-nav__item {
    margin-right: 2rem; }
  .pf-c-nav__horizontal-list .pf-c-nav__link {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-weight: 600;
    color: #004080;
    white-space: nowrap; }
  .pf-c-nav__horizontal-list .pf-c-nav__link:active{
    color: #004080; }
  .pf-c-nav__horizontal-list .pf-c-nav__link:focus{
    color: #004080; }
  .pf-c-nav__horizontal-list .pf-c-nav__link:hover{
    color: #004080; }
  .pf-c-nav__horizontal-list .pf-c-nav__link:active{
    font-weight: 600; }
  .pf-c-nav__horizontal-list .pf-c-nav__link:focus{
    font-weight: 600; }
      .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-hover::after {
        background-color: #004080; }
      .pf-c-nav__horizontal-list .pf-c-nav__link:hover::after {
        background-color: #004080; }
      .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-focus::after {
        background-color: #004080; }
      .pf-c-nav__horizontal-list .pf-c-nav__link:focus::after {
        background-color: #004080; }
      .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-active::after {
        background-color: #004080; }
      .pf-c-nav__horizontal-list .pf-c-nav__link:active::after {
        background-color: #004080; }
      .pf-c-nav__horizontal-list .pf-c-nav__link.pf-m-current::after {
        background-color: #004080; }
    .pf-c-nav__horizontal-list .pf-c-nav__link::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 0.1875rem;
      content: ""; }

.pf-c-nav__tertiary-list .pf-c-nav__item {
  margin-right: 2rem; }

.pf-c-nav__tertiary-list .pf-c-nav__link {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: #004080;
  white-space: nowrap; }

.pf-c-nav__tertiary-list .pf-c-nav__link:active{
  color: #004080; }

.pf-c-nav__tertiary-list .pf-c-nav__link:focus{
  color: #004080; }

.pf-c-nav__tertiary-list .pf-c-nav__link:hover{
  color: #004080; }

.pf-c-nav__tertiary-list .pf-c-nav__link:active{
  font-weight: 600; }

.pf-c-nav__tertiary-list .pf-c-nav__link:focus{
  font-weight: 600; }
    .pf-c-nav__tertiary-list .pf-c-nav__link.pf-m-hover::after {
      background-color: #004080; }
    .pf-c-nav__tertiary-list .pf-c-nav__link:hover::after {
      background-color: #004080; }
    .pf-c-nav__tertiary-list .pf-c-nav__link.pf-m-focus::after {
      background-color: #004080; }
    .pf-c-nav__tertiary-list .pf-c-nav__link:focus::after {
      background-color: #004080; }
    .pf-c-nav__tertiary-list .pf-c-nav__link.pf-m-active::after {
      background-color: #004080; }
    .pf-c-nav__tertiary-list .pf-c-nav__link:active::after {
      background-color: #004080; }
    .pf-c-nav__tertiary-list .pf-c-nav__link.pf-m-current::after {
      background-color: #004080; }
  .pf-c-nav__tertiary-list .pf-c-nav__link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0.1875rem;
    content: ""; }

.pf-c-nav__subnav {
  flex: 1 0 100%;
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1); }
  .pf-c-nav__subnav::-webkit-scrollbar {
    display: none;
    visibility: hidden; }
  .pf-c-nav__item.pf-m-expanded .pf-c-nav__subnav {
    max-height: 37.5rem;
    margin-top: 0.5rem;
    overflow-y: auto;
    opacity: 1; }

.pf-c-nav__section {
  margin-top: 2rem; }

.pf-c-nav__section-title {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #72767b; }

.pf-c-nav__scroll-button {
  position: absolute;
  top: 0.5rem;
  bottom: 0;
  z-index: 300;
  width: 2rem;
  height: 2.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background-color: #fff;
  border: 0; }
  .pf-c-nav__scroll-button.pf-m-hover {
    color: #004080; }
  .pf-c-nav__scroll-button:hover {
    color: #004080; }
  .pf-c-nav__scroll-button.pf-m-active {
    color: #004080; }
  .pf-c-nav__scroll-button:active {
    color: #004080; }
  .pf-c-nav__scroll-button.pf-m-focus {
    color: #004080; }
  .pf-c-nav__scroll-button:focus {
    color: #004080; }
  .pf-c-nav__scroll-button:nth-of-type(1) {
    left: 0;
    box-shadow: 20px 0 10px -4px rgba(255, 255, 255, .7); }
  .pf-c-nav__scroll-button:nth-of-type(2) {
    right: 0;
    box-shadow: -20px 0 10px -4px rgba(255, 255, 255, .7); }

/* stylelint-enable */

/* stylelint-disable */
/* stylelint-enable */
.pf-c-page {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: -webkit-max-content 1fr;
  grid-template-rows: -webkit-max-content 1fr;
  -ms-grid-rows: max-content 1fr;
  grid-template-rows: max-content 1fr;
      grid-template-areas: "header" "main";
  background-color: #151515; }

  // @media (min-width: 768px) {
    @media (min-width: 10px){
    .pf-c-page {
      grid-template-columns: -webkit-max-content 1fr;
      -ms-grid-columns: -webkit-max-content 1fr;
      -ms-grid-columns: max-content 1fr;
      grid-template-columns: max-content 1fr;
          grid-template-areas: "header header" "nav main"; }
  }

.pf-c-page__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  color: #fff;
  z-index: 300;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  display: -ms-grid;
  display: grid;
  grid-area: header;
  align-items: center;
  min-width: 0;
  min-height: 4.75rem;
}

.pf-c-page__header > * {
  display: flex;
  align-items: center;
}

// @media screen and (min-width: 992px) {
@media screen and (min-width: 10px) {
  .pf-c-page__header {
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
  }
}

.pf-c-page__header-brand {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding-left: 1.5rem;
}

// @media (min-width: 768px) {
  @media (min-width: 10px){
  .pf-c-page__header-brand {
    padding-right: 2rem;
  }
}

.pf-c-page__header-brand-link {
  display: flex;
  flex: 1;
  align-items: center; }

.pf-c-page__header-brand-link .pf-c-brand {
  max-height: 3.75rem; }

.pf-c-page__header-brand-toggle .pf-c-button {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-right: 1rem;
  margin-left: calc(0.5rem * -1);
  // font-size: 1.5rem;
  line-height: 1; }

.pf-c-page__header-nav {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  min-width: 0;
  padding-left: 0;
  background-color: transparent;
}
  .pf-c-page__header-nav > .pf-c-nav {
    min-width: 0;
  }

  @media screen and (max-width: 992px) {
    .pf-c-page__header-nav > .pf-c-nav .pf-c-nav__scroll-button {
      top: 0;
      background-color: #242424;
    }
  }

  .pf-c-page__header-nav > .pf-c-nav .pf-c-nav__scroll-button:nth-of-type(1) {
    left: 0;
  }

  // @media screen and (min-width: 992px) {
    .pf-c-page__header-nav {
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2;
      flex: 1;
      align-self: flex-end;
      order: initial;
      width: auto;
      margin-right: 2rem;
      margin-left: 2rem; }
    // }

.pf-c-page__header-tools {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 0; //1.5rem; //last item in our header should sit at the right
  margin-bottom: 0.5rem;
  margin-left: auto;
}
  .pf-c-page__header-tools .pf-m-icons {
    display: none;
    visibility: hidden; }
    // @media screen and (min-width: 992px) {
    @media screen and (min-width: 10px) {
      .pf-c-page__header-tools .pf-m-icons {
        display: block;
        visibility: visible; } }
  .pf-c-page__header-tools .pf-m-mobile {
    margin-right: 0; }
    // @media screen and (min-width: 992px) {
    @media screen and (min-width: 10px) {
      .pf-c-page__header-tools .pf-m-mobile {
        display: none;
        visibility: hidden; } }
  .pf-c-page__header-tools .pf-m-user {
    display: none;
    visibility: hidden; }
    // @media screen and (min-width: 768px) {
      @media screen and (min-width: 10px) {
      .pf-c-page__header-tools .pf-m-user {
        display: block;
        visibility: visible; } }
  .pf-c-page__header-tools .pf-c-avatar {
    margin-left: 1rem; }

  // @media screen and (min-width: 992px) {
  @media screen and (min-width: 10px) {
    .pf-c-page__header-tools {
      -ms-grid-column: 3;
      -ms-grid-column-span: 1;
      grid-column: 3 / 4;
    }
  }

.pf-c-page__header-tools-group {
  display: flex; }
  .pf-c-page__header-tools-group + .pf-c-page__header-tools-group {
    margin-left: 2rem; }

.pf-c-page__sidebar {
  grid-area: nav;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  z-index: 200;
  width: 18.125rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transform: translate3d(0, 0, 0); }
  // @media screen and (min-width: 768px) {
  @media screen and (min-width: 10px) {
    .pf-c-page__sidebar {
      max-width: 18.125rem;
      box-shadow: 0.75rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.07); } }
  .pf-c-page__sidebar.pf-m-expanded {
    box-shadow: 0.75rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.07); }
  // @media screen and (min-width: 768px) {
    @media screen and (min-width: 10px) {
    .pf-c-page__sidebar.pf-m-collapsed {
      max-width: 0;
      overflow: hidden; } }

.pf-c-page__sidebar-body {
  padding-top: 0.5rem;
  padding-bottom: 1rem; }

.pf-c-page__main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  z-index: 100;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

// @media (min-width: 768px){
@media (min-width: 10px){
    .pf-c-page__header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
    .pf-c-page__sidebar {
    -ms-grid-row: 2;
    -ms-grid-column: 1; }
    .pf-c-page__main {
    -ms-grid-row: 2;
    -ms-grid-column: 2; } }

.pf-c-page__main-nav {
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  background-color: #fff; }
  .pf-c-page__main-nav .pf-c-nav .pf-c-nav__scroll-button:nth-of-type(1) {
    left: calc(-1 * (1rem - 0.25rem)); }
  .pf-c-page__main-nav .pf-c-nav .pf-c-nav__scroll-button:nth-of-type(2) {
    right: calc(-1 * (1rem - 0.25rem)); }

.pf-c-page__main-breadcrumb {
  padding: 0 1.5rem 0 1.5rem;
  background-color: #fff; }

.pf-c-page__main-section {
  padding: 0 0 0 0;
  background-color: rgba(3, 3, 3, 0.32); }
  .pf-c-page__main-section:last-of-type, .pf-c-page__main-section:only-child, .pf-c-page__main-section.pf-m-fill {
    flex: 1 0 auto; }
  .pf-c-page__main-section.pf-m-no-fill {
    flex: 0 0 auto; }
  .pf-c-page__main-section[class*="pf-m-dark-"] {
    color: #fff; }
  .pf-c-page__main-section.pf-m-no-padding {
    padding: 0; }
