// scss-lint:disable SelectorFormat

/**
 * This are styles to fake Tab component without using PF4 css.
 *
 * It is wrapped around pf-c-tabs to avoid possible issues with other
 * styles in the project. Properties values are hardcoded to meet the exact
 * ones from PF4.
 *
 * It is to be removed completely once using PF4 css files.
 */

.pf-c-tabs {

  ul {
    list-style: none;
  }

  button {
    cursor: pointer;
    font-size: 100%;
    height: unset;
    line-height: line-height-times(1); //var(--pf-global--LineHeight--md);
  }

  .pf-c-tabs__list {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    position: relative;

    .pf-c-tabs__item {
      .pf-c-tabs__button::before {
        border-color: #d2d2d2; //var(--pf-c-tabs__item--BorderColor)
        border-style: solid;
        border-width: 1px 0 1px 1px; //var(--pf-c-tabs__item--BorderWidth) 0 var(--pf-c-tabs__item--BorderWidth) var(--pf-c-tabs__item--BorderWidth);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      .pf-c-tabs__button {
        background: transparent; //var(--pf-c-tabs__button--Background);
        border: 0;
        color: rgb(21, 21, 21); //var(--pf-c-tabs__item--m-current--Color);
        display: inline-block;
        font-weight: 400; //var(--pf-c-tabs__button--FontWeight)
        outline-offset: calc(-1 * .25rem); //var(--pf-c-tabs__button--OutlineOffset);
        padding: line-height-times(1 / 4) line-height-times(1); //var(--pf-c-tabs__button--PaddingTop) var(--pf-c-tabs__button--PaddingRight) var(--pf-c-tabs__button--PaddingBottom) var(--pf-c-tabs__button--PaddingLeft)
        position: relative;
        user-select: none;
      }

      &.pf-m-current {
        .pf-c-tabs__button::before {
          border-bottom-color: $white;
        }

        .pf-c-tabs__button {
          background-color: $white;
          color: rgb(0, 102, 204); //var(--pf-c-tabs__item--m-current--Color);
        }

        .pf-c-tabs__button::after {
          border-top: 2px solid #06c; //var(--pf-c-tabs__item--m-current--BorderTopWidth) solid var(--pf-c-tabs__item--m-current--Color);
          bottom: 0;
          content: '';
          left: 0;
          margin-left: 1px; //var(--pf-c-tabs__item--BorderWidth);
          position: absolute;
          right: 0;
          top: 0;
        }
      }   
    }

    .pf-c-tabs__item:not(pf-m-current):hover .pf-c-tabs__button::after {
      border-top: 2px solid #737679; //var(--pf-c-tabs__item--m-current--BorderTopWidth) solid var(--pf-c-tabs__item--hover--Color);
      bottom: 0;
      content: '';
      left: 0;
      margin-left: 1px;
      position: absolute;
      right: 0;
      top: 0;
    }

  }
}

/**
 * Overrides
 *
 * This styles are not PF4 compatibe, were added to make tabs match our dashboard design
 */

 .DashboardSection--tabs-title {
    bottom: line-height-times(-1 / 4);
    color: #393f44;
    cursor: pointer;
    float: left;
    font-size: 100%;
    font-weight: 700;
    line-height: line-height-times(1);
    margin-right: 0.75rem;
    margin: 0 0 0 0;
    position: relative;
 }

.pf-tabs-header {
  border-bottom: 1px solid transparent;
  float: right;
  line-height: line-height-times(1);
  position: relative;
  top: 2px;
}

.pf-c-tabs .pf-c-tabs__list .pf-c-tabs__item .pf-c-tabs__button {
  text-transform: uppercase;
}

