/*
  Old HACKs
  Some may be outdated or badly implemented. TODO: review and cleanup.
*/

a.action.pf-c-button {
  color: $success-color;

  &.add,
  &.new,
  &.approve,
  &.activate,
  &.ok,
  &.enable,
  &.resume {
    color: $create-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  &.bolt,
  &.fire,
  &.off,
  &.eye,
  &.revert {
    color: $warning-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  &.delete,
  &.reject,
  &.eye-slash,
  &.suspend,
  &.disable {
    color: $delete-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}
