
// Overrides legacy style app/assets/stylesheets/provider/_commons.scss:83
.pf-c-page__main-section .pf-c-content {
  h1 + p,
  h2 + p {
    margin: unset;
    padding: unset;
  }
}

// Emulates .pf-c-content styles on elements WITHOUT class .pf-c-content
main.Main.pf-hack__override-page-titles#content {
  & > h1:first-child,
  & > h2:first-child {
    color: #151515; // --pf-c-content--Color
    font-family: RedHatDisplay, Overpass, overpass, helvetica, arial, sans-serif;
    font-weight: 400; // --pf-c-content--h1--FontWeight
    line-height: 1.3; // --pf-c-content--h1--LineHeight
    padding-top: 1.5rem; // .Main padding

    & + p {
      color: #151515; // --pf-c-content--Color
      // Overrides legacy style app/assets/stylesheets/provider/_commons.scss:95
      padding-top: 0.5rem;
    }
  }
}

//
// Old HACKs
// Some may be outdated or badly implemented. TODO: review and cleanup.
//

// HACK: Some PF classes still collapses with ours.
// As we are still using both PF and not-PF links, we need this
button.action.pf-c-button {

  padding: 0 var(--pf-global--spacer--md);

  &.pf-m-primary,
  &.pf-m-danger {
    color: $white;
  }

  &.pf-m-secondary {
    color: var(--pf-c-button--m-secondary--Color);
  }

}

a.action.pf-c-button {
  color: $success-color;

  &.add,
  &.new,
  &.approve,
  &.activate,
  &.ok,
  &.enable,
  &.resume {
    color: $create-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  &.bolt,
  &.fire,
  &.off,
  &.eye,
  &.revert {
    color: $warning-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  &.delete,
  &.reject,
  &.eye-slash,
  &.suspend,
  &.disable {
    color: $delete-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

// Overrides app/assets/stylesheets/provider/_commons.scss:31
// Original rule targets all h1 titles that are not in the page header
.pf-c-content h1 {
  font-size: unset;
  font-weight: unset;
  margin-bottom: unset;
  padding-top: unset;

  a {
    text-decoration: unset;
  }
}

// Overrides app/assets/stylesheets/provider/_commons.scss:70
.pf-c-content p {
  margin: unset;
}
