$link-padding: line-height-times(1 / 2);
$pf4-sidebar-width: 18.125rem;

.PopNavigation {
  color: $content-background;
  float: right;

  &-list {
    @include box-shadow(0 0 line-height-times(1 / 2) $box-shadow-color);
    background-color: $white;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    display: none;
    margin-top: line-height-times(1 / 2, true);
    max-width: line-height-times(10);
    min-width: line-height-times(4);
    overflow: hidden;
    position: absolute;
    right: line-height-times(1 / 2);
    text-align: left;
    width: 20%;
    z-index: 1000;

    &.is-expanded {
      display: block;
    }
  }

  &-results {
    max-height: line-height-times(10);
    overflow-y: auto;
  }

  &-listItem {
    border-top: $border-width solid $border-color;
    margin-top: -$border-width;

    &:first-child {
      border-top: 0;
      margin-top: 0
    }
  }

  &-info {
    color: $light-color;
    display: block;
    font-size: $caption-font-size;
    font-style: italic;
    margin: 0;
    padding: line-height-times(1 / 2) line-height-times(1 / 2) 0;
  }

  &-link {
    color: $font-color;
    display: block;
    padding: $link-padding;

    &:hover {
      color: $link-color;
    }
  }

  &-trigger {
    color: $gallery;
    cursor: pointer;
    display: block;

    &:hover,
    &.is-expanded {
      color: $link-color;
    }

    i {
      padding: line-height-times(1) 0;
    }
  }
}

/****** HACK ******/

/* This is a temporary fix, should be removed when the context selector
is moved to the right, to match PF4 style */

.pf-c-page__header-tools {
  .PopNavigation-trigger {
    margin-left: line-height-times(2);
  }
}
/****** END OF HACK ******/
