.Section {
  h2 {
    margin: line-height-times(1) 0 0;
  }

  &.u-toggleableBySettingsBox p {
    @include white-box-shadow;
  }

  &#access-tokens p,
  &#service-tokens p {
    @include white-box-shadow;
  }
}

.Section:first-of-type > h2 {
  margin: 0;
}

.swagger-section {
  @include white-box-shadow;
  padding: line-height-times(1);
}
