@use 'provider/typography' as *;
@use 'utils';

.Section {
  h2 {
    margin: line-height-times(1) 0 0;
  }

  &.u-toggleableBySettingsBox p {
    @include utils.white-box-shadow;
  }

  &#service-tokens p {
    @include utils.white-box-shadow;
  }
}

.Section:first-of-type > h2 {
  margin: 0;
}

.swagger-section {
  @include utils.white-box-shadow;

  padding: line-height-times(1);
}
