#user-permissions-form {
  overflow: hidden;
}

.edit-user-form.formtastic.user .buttons {
  margin-top: 0;
}

form.formtastic fieldset > ol > li.radio fieldset,
form.formtastic fieldset > ol > li fieldset {

  .FeatureAccessList {

    &--noServicePermissionsGranted {
      .FeatureAccessList-item.FeatureAccessList-item--monitoring::after,
      .FeatureAccessList-item.FeatureAccessList-item--partners::after,
      .FeatureAccessList-item.FeatureAccessList-item--plans::after,
      .FeatureAccessList-item--services {
        display: none;
      }
    }

    &-item {
      position: relative;

      &--partners {
        margin-top: line-height-times(2);
      }

      &.is-checked.FeatureAccessList-item--monitoring::after,
      &.is-checked.FeatureAccessList-item--partners::after,
      &.is-checked.FeatureAccessList-item--plans::after {
        border-top-style: solid;
        border-right-style: solid;
      }

      &--monitoring::after,
      &--partners::after,
      &--plans::after {
        position: absolute;
        background-color: transparent;
        width: 53%;
        margin-top: line-height-times(-1/2);
        border-top: $border-width dotted $border-color;
        display: block;
        content: "";
        margin-left: 40%;
        height: line-height-times(200);
        border-right: $border-width dotted $border-color;
        z-index: 0;
        border-top-right-radius: $border-radius;
      }

      &--monitoring:after {
        margin-left: 13.5%;
        width: 64%;
      }

      &--plans:after {
        margin-left: 35%;
        width: 20%;
      }

      &--services {
        margin-top: line-height-times(2);
      }
    }
  }

  .ServiceAccessList {
    margin-top: line-height-times(1);
    position: relative;
    z-index: 1000;

    &--noServicePermissionsGranted, &--services {
      display: none;
    }

    &-labelText {
      display: inline-block;
      width: 24%;
      @include ellipsis;
      overflow: hidden;
      line-height: 1;
    }

    &-item {
      position: relative;

      &:last-of-type .ServiceAccessList-label{
        margin-bottom: 0;
      }
    }

    &-label {
      width: auto;
      display: block;
      margin-bottom: line-height-times(1);
      padding: line-height-times(1/2) 2% line-height-times(1/2) 2%;
      border: $border-width dotted $border-color;
      margin-left: -2%;
      border-radius: $border-radius;
      background-color: $background-color-base;

      &.is-checked {
        border: $border-width solid $border-color;
        background-color: rgba($background-color-base, 0.8)
      }
    }

    &-sections {
      white-space: nowrap;
      text-align: right;
      width: 70%;
      position: absolute;
      top: line-height-times(1/2);
      right: line-height-times(1/2);
    }

    &-sectionItem {
      display: inline;
      margin-left: 8% !important;
      font-weight: $font-weight-normal;

      &:first-child {
        margin-left: 0 !important;
      }
    }
  }
}

.is-hidden {
  display: none !important;
}

.is-unavailable {
   text-decoration: line-through !important;
   color: $light-color;
}


form.formtastic fieldset > ol > li.radio.u-servicePermissionsDisabled fieldset,
form.formtastic fieldset > ol > li.u-servicePermissionsDisabled fieldset {

  .ServiceAccessList {
    display: none;
  }

  .FeatureAccessList {
    &-item {
      &--monitoring::after,
      &--partners::after {
        display: none;
      }
    }
  }
}
