@use 'provider/colors' as *;
@use 'provider/typography' as *;
@use 'sass:math';

table:not(.pf-c-table) {
  background-color: $body-background;
  width: 100%;

  td,
  th {
    height: line-height-times(2);
    padding: line-height-times(.5, true) line-height-times(.5) line-height-times(.5) 0;
    vertical-align: top;
  }

  .title {
    max-width: line-height-times(5);
  }

  .operations:not(.pf-c-table__action) {
    padding-right: 0;
    text-align: right;
  }
}

table:not(.pf-c-table) a.action,
table:not(.pf-c-table) button.action {
  margin: line-height-times(-0.25) 0 line-height-times(-0.25) line-height-times(.25);
  white-space: nowrap;
  display: inline-block;
}

table.list {
  td {
    border-bottom: $border-width solid $border-color;
    font-weight: $font-weight-normal;
  }

  th {
    border-bottom: $border-width solid $border-color;
    font-weight: $font-weight-normal;
    padding-right: line-height-times(.5);
    text-align: left;
  }

  .action:last-child,
  input[type='submit']:last-child {
    clear: both;
    float: right;
    height: auto;
    line-height: $line-height-base;
    margin: 0 line-height-times(-0.5) 0 0;
  }

  border-collapse: collapse;
  border-color: transparent;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;

  /* only used in plans/_widget.html.erb */
  &.list-checkmarks tr th {
    overflow-wrap: break-word;

    &.header {
      color: $label-color;
      font-variant: small-caps;
    }
  }
}

table .select {
  min-width: line-height-times(1);
}

.u-amount {
  text-align: right;
}

td.metric,
td.pattern,
td.StatsMethodsTable-name {
  overflow-wrap: break-word;
}

.pf-c-table {
  tr.unread {
    td[data-label] a {
      font-weight: $font-weight-bold;
    }
  }
}

/* only used in buyers/accounts/show.html.erb */
.lists-with-borderless-bottom {
  table.list tr:last-child th,
  table.list tr:last-child td {
    border-bottom: none;
  }
}
