@forward 'provider/typography';
@forward 'provider/layouts/commons';

// vendored styles
@forward 'vendor/jquery.ui';

// TODO: remove this crap
// but be aware that you have to remove all div.right and similar shit
@forward 'provider/legacy_theme';

// modules and constants
@forward 'provider/commons';
@forward 'provider/buttons';
@forward 'provider/links';
@forward 'provider/footer';
@forward 'provider/services';
@forward 'provider/plans';
@forward 'provider/tables';
@forward 'provider/utilization';
@forward 'provider/forms';
@forward 'provider/upgrade_notice';
@forward 'provider/admin/account';
@forward 'provider/service_access';
@forward 'vendor/c3';
@forward 'provider/stats/base';
@forward 'provider/stats/selector';
@forward 'provider/invoices';
@forward 'provider/finance';
@forward 'provider/metrics';
@forward 'provider/section';
@forward 'provider/liquid_docs';
@forward 'provider/logo';

// view specific stylesheets placed in the controller paths
@forward 'provider/settings_box';
@forward 'provider/colorbox';
@forward 'provider/pagination';
@forward 'provider/print';
