#user_widget {
  background-color: $header-background-color;
  height: line-height-times(5/2);
  border-top: 2px solid $header-border-color;
  padding: 0 0 0 0;
  position: relative;
  width: 100%;

  #top-menu-nav {
    @include inline-block-list;
    float: left;
    list-style: none;

    &> li > a {
      letter-spacing: 1px;
      color: $background-color-base;
      text-transform: uppercase;
      font-family: $font-family-brand;
      display: block;
      padding: line-height-times(2/3) line-height-times(1);

      span sup {
        font-weight: normal;
        font-size: 40%;
        margin-left: -2px;
      }
      span {
        font-weight: 900;
      }
    }
  }
}
