#user_widget {
  background-color: $font-color;
  height: line-height-times(2);
  padding: 0 0 0 0;
  position: relative;
  width: 100%;

  #top-menu-nav {
    @include inline-block-list;
    float: right;
    list-style: none;

    &> li > a {
      color: $border-color;
      display: block;
      padding: line-height-times(1/2) line-height-times(1);
    }

    &> li.active a,
    &> li:hover a {
      color: $link-color;
    }
  }
}
