.pf-c-page__sidebar {
  text-align: left;

  .pf-c-nav__section-title {
    // Give artificial margin-top of pf-c-nav__section
    margin-top: 2rem;
  }

  // scss-lint:disable SelectorFormat
  .pf-c-nav__item {
    &.outdated-config:not(.pf-m-expanded) > a::before {
      content: '\f071';
      float: right;
      font-family: FontAwesome;
      font-weight: normal;
      left: line-height-times(9);
      position: absolute;
    }
  }
}
