.pf-c-table > tbody > tr > td {
  font-size: 14px;
}
  
.api-table-description {
  margin-top: 16px;
}
  
.api-table-search {
  width: 300px;
}

.api-table-timestamp {
  color: var(--pf-global--disabled-color--100);
  font-size: var(--pf-global--FontSize--sm);
}