// TODO: Sort out styles libs after migration (webpack)
// Copied from colors and typography for now
$altoGray:       #d1d1d1; // pf-black-300
$outerSpaceGray: #393f44; // pf-black-800

$border-color: $altoGray;
$border-width: 1px;
$border-radius: 4px;
$font-color: $outerSpaceGray;

.ApiFilter {
  float: left;
  width: auto;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  margin-bottom: 0.2rem;
  margin-top: -0.2rem;
  padding: 1px;

  span {
    margin: 0.5rem;
    color: $font-color
  }

  input {
    border: none;
    width: auto;
    padding: 0.5rem;
  }
}

.dashboard-list-icon-title-layout {
  display: flex;
  align-items: center;
}

.dashboard-list-icon-title-layout svg {
  font-size: 28px;
  margin-right: 8px;
}

.dashboard-list-subtitle {
  margin-top: 8px;
}

.pf-c-card__footer {
  margin-left: auto;
}

.pf-c-data-list__item-row {
  --pf-c-data-list__item-row--PaddingLeft: 0;
}

.dashboard-list-secondary {
  color: var(--pf-global--disabled-color--100);
  font-size: var(--pf-global--FontSize--sm);
}

.dashboard-list-item-action > button.pf-c-dropdown__toggle {
  height: 29px;
  margin-top: -6px;
}

.apiContainer {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
}
