= render 'shared/new_mapping_rules', url: provider_admin_backend_api_mapping_rules_path(@backend_api),
                                     is_proxy_pro_enabled: nil,
                                     top_level_metrics: @backend_api.top_level_metrics.reorder(updated_at: :desc).decorate.map(&:new_mapping_rule_data).to_json,
                                     errors: @proxy_rule.errors.to_json,
                                     methods: @backend_api.method_metrics.reorder(updated_at: :desc).decorate.map(&:new_mapping_rule_data).to_json
