@charset "UTF-8";

html,
body {
  height: 100%;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

@-webkit-keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg);
  }
}

/* stylelint-enable */
.pf-c-nav {
  position: relative;

  // HACK: this should affect the whole page
  a {
    color: #2b9af3;
    -webkit-text-decoration: none;
            text-decoration: none;
  }

  a:hover {
    color: #2b9af3;
  }
}

// @media screen and (min-width: 768px) {
@media screen and (min-width: 10px) {
  .pf-c-page__sidebar .pf-c-nav {
    width: 18.125rem;
  }
}

.pf-c-nav__list {
  &> .pf-c-nav__item {
    position: relative;
  }

  &> .pf-c-nav__item > .pf-c-nav__link::after {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    width: 3.125rem;
    height: 0.1875rem;
    content: "";
  }

  .pf-c-nav__link {
    position: relative;
    display: flex;
    align-items: baseline;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
    font-weight: 500;
    color: #151515;

    i.fa {
      padding-left: line-height-times(1 / 2);
    }
  }

  .pf-c-nav__link:active,
  .pf-c-nav__link:hover {
    color: #2b9af3;
    font-weight: bold;

    &::after {
      background-color: #2b9af3;
    }
  }
  .pf-c-nav__link:active {
    font-weight: 400;
  }
  .pf-m-current {
    &> .pf-c-nav__link,
    &.pf-c-nav__link {
      color: #2b9af3;
      font-weight: bold;

      &::after {
        background-color: #2b9af3;
      }
    }
  }
  .pf-c-nav__link.pf-m-hover::after {
    background-color: #2b9af3;
  }
  .pf-c-nav__list .pf-c-nav__link.pf-m-active::after {
    background-color: #2b9af3;
  }
  .pf-c-nav__link.pf-m-focus::after {
    background-color: #2b9af3;
  }
}

.pf-c-nav__toggle {
  flex: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: auto;
  line-height: 1;
  pointer-events: none;
  border: 0;

  &> * {
    transition: .1s ease-in-out;
  }
}


.pf-c-nav__item.pf-m-expanded .pf-c-nav__toggle > * {
  transform: rotate(90deg);
}

.pf-c-nav__simple-list {
  .pf-c-nav__link {
    display: block;
    padding: 0.5rem 1.5rem 0.5rem calc(1.5rem + 1rem);
    font-weight: 500;
    color: #FFF;

    &:hover,
    &:active {
      color: #FFF;
      font-weight: 16px;
      background-color: rgb(79, 82, 85);
    }
  
    &:focus,
    &:active {
      font-weight: 16px;
      background-color: rgb(79, 82, 85);
    }
  
    &.pf-m-hover,
    &.pf-m-focus,
    &.pf-m-current,
    &.pf-m-active {
      background-color: rgb(79, 82, 85);
    }
  }

}

.pf-c-nav__subnav {
  flex: 1 0 100%;
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  scrollbar-width: none;
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }
}


.pf-c-nav__item.pf-m-expanded .pf-c-nav__subnav {
  max-height: 37.5rem;
  margin-top: 0.5rem;
  overflow-y: auto;
  opacity: 1;
}

.pf-c-nav__section {
  margin-top: 2rem;
}

.pf-c-nav__section-title {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #72767b;
}

.pf-c-page {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: -webkit-max-content 1fr;
  grid-template-rows: -webkit-max-content 1fr;
  -ms-grid-rows: max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: "header" "main";
  background-color: #151515;
}

// @media (min-width: 768px) {
@media (min-width: 10px) {
  .pf-c-page {
    grid-template-columns: -webkit-max-content 1fr;
    -ms-grid-columns: -webkit-max-content 1fr;
    -ms-grid-columns: max-content 1fr;
    grid-template-columns: max-content 1fr;
    grid-template-areas: "header header" "nav main";
  }
}

.pf-c-page__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  color: #FFF;
  z-index: 300;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  display: -ms-grid;
  display: grid;
  grid-area: header;
  align-items: center;
  min-width: 0;
  min-height: 4.75rem;

  &> * {
    display: flex;
    align-items: center;
  }
}

// @media screen and (min-width: 992px) {
@media screen and (min-width: 10px) {
  .pf-c-page__header {
    -ms-grid-columns: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
  }
}

.pf-c-page__header-brand {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding-left: 1.5rem;
}

// @media (min-width: 768px) {
@media (min-width: 10px) {
  .pf-c-page__header-brand {
    padding-right: 2rem;
  }
}

.pf-c-page__header-brand-toggle .pf-c-button {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-right: 1rem;
  margin-left: calc(0.5rem * -1);
  line-height: 1; 
}

.pf-c-page__header-nav {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  min-width: 0;
  padding-left: 0 !important; // Need to override styles introduced by PF React
  background-color: transparent !important; // Need to override styles introduced by PF React
}

.pf-c-page__header-nav > .pf-c-nav {
  min-width: 0;
}

@media screen and (max-width: 992px) {
  .pf-c-page__header-nav > .pf-c-nav .pf-c-nav__scroll-button {
    top: 0;
    background-color: #242424;
  }
}

.pf-c-page__header-nav > .pf-c-nav .pf-c-nav__scroll-button:nth-of-type(1) {
  left: 0;
}

// @media screen and (min-width: 992px) {
.pf-c-page__header-nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  flex: 1;
  align-self: flex-end;
  order: initial;
  width: auto;
  margin-right: 2rem;
  margin-left: 2rem;
}

.pf-c-page__header-tools {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 0; //1.5rem; //last item in our header should sit at the right
  margin-bottom: 0.5rem;
  margin-left: auto;
}

// @media screen and (min-width: 992px) {
@media screen and (min-width: 10px) {
  .pf-c-page__header-tools {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

.pf-c-page__sidebar {
  grid-area: nav;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  z-index: 200;
  width: 18.125rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #FFF;
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transform: translate3d(0, 0, 0);
}

// @media screen and (min-width: 768px) {
@media screen and (min-width: 10px) {
  .pf-c-page__sidebar {
    max-width: 18.125rem;
    box-shadow: 0.75rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.07);
  }
}

.pf-c-page__sidebar.pf-m-expanded {
  box-shadow: 0.75rem 0 0.625rem -0.25rem rgba(3, 3, 3, 0.07);
}

// @media screen and (min-width: 768px) {
@media screen and (min-width: 10px) {
  .pf-c-page__sidebar.pf-m-collapsed {
    max-width: 0;
    overflow: hidden;
  }
}

.pf-c-page__sidebar-body {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.pf-c-page__main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  z-index: 100;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// @media (min-width: 768px){
@media (min-width: 10px) {
  .pf-c-page__header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .pf-c-page__sidebar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .pf-c-page__main {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

.pf-c-nav.pf-m-dark .pf-c-divider {
  background-color: #4f5255; 
}

.pf-c-nav.pf-m-dark .pf-c-nav__item.pf-m-current .pf-c-divider {
  background-color: #212427;
}

.pf-c-nav.pf-m-dark .pf-c-nav__item.pf-m-expanded {
  padding-bottom: 0.5rem;
}

.pf-c-nav.pf-m-dark .pf-c-nav__list > .pf-c-nav__item.pf-m-current {
    background-color:#3c3f42; 
}
.pf-c-nav.pf-m-dark .pf-c-nav__list > .pf-c-nav__item > .pf-c-nav__link {
    background-color: rgb(33, 36, 39); 
    color: #FFF
}

.pf-c-page__sidebar.pf-m-dark {
  background-color: rgb(33, 36, 39);
  color: #FFF; 
}