@import '@patternfly/patternfly/components/Backdrop/backdrop.css';
@import '@patternfly/patternfly/layouts/Bullseye/bullseye.css';
@import '@patternfly/patternfly/components/Table/table.css';
@import '@patternfly/patternfly/components/Button/button.css';
@import '@patternfly/patternfly/components/Pagination/pagination.css';
@import '@patternfly/patternfly/components/OptionsMenu/options-menu.css';
@import '@patternfly/patternfly/components/InputGroup/input-group.css';
@import '@patternfly/patternfly/components/Toolbar/toolbar.css';

.pf-c-page__main-section {
  form {
    // isWidthLimited isn't available in current version. See: https://github.com/patternfly/patternfly-react/blob/master/packages/react-core/src/components/Form/Form.tsx#L12
    max-width: 500px;
  }
}
