- content_for :title, t('.page_title')
- content_for :page_header_title, t('.page_title')

- if months.empty?
  = render 'shared/empty_state', title: t('.empty_state.title'),
                                 body: t('.empty_state.body'),
                                 icon: 'ghost'

- else
  - content_for :javascripts do
    = javascript_packs_with_chunks_tag 'table_toolbar'

  table class="pf-c-table pf-m-grid-lg" role="grid" aria-label="Earnings by month table" data-toolbar-props=toolbar_props.to_json
    thead
      tr role="row"
        th role="columnheader" scope="col" Month
        th role="columnheader" scope="col" class="u-amount" Total
        th role="columnheader" scope="col" class="u-amount" In process
        th role="columnheader" scope="col" class="u-amount" Overdue
        th role="columnheader" scope="col" class="u-amount" Paid

    tbody
      - months.each do |row|
        tr role="row"
          td role="cell" data-label="Month"
            = row.link_to_invoices

          td role="cell" data-label="Total" class="u-amount u-tabular-number"
            = row.total_revenue

          td role="cell" data-label="In process" class="u-amount u-tabular-number"
            = row.in_process_revenue

          td role="cell" data-label="Overdue" class="u-amount u-tabular-number"
            = row.overdue_revenue

          td role="cell" data-label="Paid" class="u-amount u-tabular-number"
            = row.paid_revenue
