.pf-c-icon__inline-icon {
  margin-right: var(--pf-global--spacer--sm);
}

.pf-c-icon__toggle-inline-icon {
  margin-right: var(--pf-global--spacer--sm);
  color: var(--pf-global--active-color--100);
}
