<% content_for :page_header_title, 'Export' %>
<%= form_tag provider_admin_account_data_exports_path, :method => :post do %>
  <div class="dashboard_card left-column">
    <table>
      <tbody>
        <tr>
          <th>Data:</th>
          <td><%= select_tag(:data, options_for_select(@targets)) %></td>
        </tr>
        <tr>
          <th>Period:</th>
          <td><%= select_tag(:period, options_for_select(@periods)) %></td>
        </tr>
      </tbody>
    </table>
    <div class="pf-c-form"><%# TODO: remove div and move class to form element %>
      <div class="pf-c-form__group pf-m-action">
        <div class="pf-c-form__actions">
          <button class="pf-c-button pf-m-primary" type="submit" data-disable-with="Exporting CSV...">
            Export CSV
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
