div.dashboard_card.round
  h3
    label for='cinstance_plan_id' Change Plan
    - confirm_message = @cinstance.plan.customized? ? 'This will delete all customizations. Are you sure?' : 'Are you sure you want to change the application plan?'

    = form_for @cinstance, url: change_plan_admin_buyers_application_path(@cinstance),
                           html: { :method => :put, class: "formtastic" },
                           'data-confirm': confirm_message do |form|
      fieldset.inputs
        data = default_application_plan_data(@service, @cinstance.available_application_plans)
        = javascript_pack_tag 'default_plan_selector'

        = form.collection_select :plan_id, @cinstance.available_application_plans,
                                  :id,
                                  :name,
                                  { include_blank: true },
                                  { required: true }
      fieldset.buttons
        .commit
          = form.submit 'Change Plan', class: 'important-button'

  - if @cinstance.credit_card_missing?
    p Buyer does not have any payment details on record.