<table class="list">
  <tr>
    <th>Available plans</th>
    <td><%= link_to h(@service.account_plans.count), admin_buyers_account_plans_path(current_account) %></td>
  </tr>
  <tr>
    <th>Signed up users</th>
    <% path = current_account.multiple_applications_allowed ? admin_cinstances_path : admin_cinstances_path %>
    <td><%= link_to h(@service.cinstances.count), admin_cinstances_path %></td>
  </tr>
</table>
