css:
  .form-control:- moz -placeholder {
    color: #999999;
  }

  .form-control::-moz-placeholder {
    color: #999999;
  }

  .form-control:- ms - input -placeholder {
    color: #999999;
  }

  .form-control::-webkit-input-placeholder {
    color: #999999;
  }

  .form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 1rem;
    border: 1px solid #d1d1d1;
    color: #393f44;
    background-color: #fff;
    width: 100%;
    padding: 0.375rem;
    height: 2.25rem;
    border-radius: 0.1875rem;
    line-height: 1.5;
  }

  .form-control.braintree-hosted-fields-focused {
    outline: none !important;
    border-color: #0088ce;
    box-shadow: 0;
    color: #0088ce;
  }

  fieldset#hosted-fields.braintree-hosted-fields-focused {
    display: none;
  }

h2
  = site_account.org_name
  |  Payment Details

p
  ' Update your credit card details here to set up monthly billing for your
  => current_account.provider_account.org_name
  ' service. You'll be charged monthly around the 7th of the following month and
  | receive email notification about a successful payment along with the invoice.

- if @errors
  .InfoBox.InfoBox--notice
    h2 Your payment details could not be saved
    p There were problems with the following fields:
    ul.no_style
      - @errors.each do |error|
        li = error

= semantic_form_for current_account.customer, as: :customer, url: hosted_success_provider_admin_account_braintree_blue_path(next_step: params[:next_step]), id: 'customer_form' do |form|
  = form.inputs "Personal Details" do
    = form.input :first_name, required: true
    = form.input :last_name, required: true
    = form.input :phone, required: true

  = form.inputs 'Credit Card Details', id: 'fake-fields' do
    = form.input 'foo', label: 'Number', input_html: { disabled: true }
    = form.input 'foo', label: 'Expiration Date (MM/YY)', input_html: { disabled: true }
    = form.input 'foo', label: 'CVV', input_html: { disabled: true }

  = form.inputs "Credit Card Details", id: 'hosted-fields', class: 'braintree-hosted-fields-hidden' do
    ol
      li.string.required#customer_credit_card_number_input
        label for="customer_credit_card_number" Number
        div.form-control#customer_credit_card_number
      li.string.required#customer_credit_card_expiration_date_input
        label for="customer_credit_card_expiration_date" Expiration Date (MM/YY)
        div.form-control#customer_credit_card_expiration_date
      li.string.optional#customer_credit_card_cvv_input
        label for="customer_credit_card_cvv" CVV
        div.form-control#customer_credit_card_cvv

  = form.inputs "Billing Address" do
    = form.semantic_fields_for :credit_card do |cc|
      = cc.semantic_fields_for :billing_address, current_account.billing_address_data do |billing_address|
        = billing_address.input :company, required: true
        = billing_address.input :street_address, required: true
        = billing_address.input :extended_address, required: true
        = billing_address.input :postal_code , required: true
        = billing_address.input :locality, required: true
        = billing_address.input :region, required: true
        = billing_address.input :country_name, as: :select,
          collection: merchant_countries, required: true,
          allow_blank: false, prompt: 'Select your country'
  = hidden_field_tag 'braintree[nonce]', nil, id: 'braintree_nonce'

  = render partial: '/shared/legal_terms_for_cc_details'
  = form.actions do
    = form.commit_button 'Save credit card', button_html: { disabled: true }

/ TODO: All is duplicated. Move this into a pack and use braintree from node_modules
script src="https://js.braintreegateway.com/web/3.69.0/js/client.min.js"
script src="https://js.braintreegateway.com/web/3.69.0/js/hosted-fields.min.js"
javascript:
  const form = document.querySelector('form#new_customer');
  const submit = document.querySelector('button[type="submit"]');
  const hostedFieldset = document.querySelector('fieldset#hosted-fields')
  const fakeFieldset = document.querySelector('fieldset#fake-fields')

  if (!(form && submit && hostedFieldset && fakeFieldset)) {
    throw new Error('Required elements not found')
  }

  const authorization = '#{@braintree_authorization}'

  if (typeof braintree !== 'undefined' && authorization) {
    braintree.client.create({
      authorization
    }, function(clientErr, clientInstance) {
      if (clientErr) {
        console.error(clientErr);
        return;
      }

      // This example shows Hosted Fields, but you can also use this
      // client instance to create additional components here, such as:qa
      // PayPal or Data Collector.

      braintree.hostedFields.create({
        client: clientInstance,
        styles: {
          'input': {
            'font-size': '14px'
          },
          'input.invalid': {
            'color': 'red'
          },
          'input.valid': {
            'color': 'green'
          }
        },
        fields: {
          number: {
            selector: '#customer_credit_card_number',
            placeholder: '4111 1111 1111 1111'
          },
          cvv: {
            selector: '#customer_credit_card_cvv',
            placeholder: '123'
          },
          expirationDate: {
            selector: '#customer_credit_card_expiration_date',
            placeholder: 'MM/YY'
          }
        }
      }, function(hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        fakeFieldset.remove()
        hostedFieldset.classList.remove('braintree-hosted-fields-focused')
        submit.removeAttribute('disabled')
        form.addEventListener('submit', function(event) {
          event.preventDefault();
          event.stopPropagation();
          hostedFieldsInstance.tokenize(function(tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }
            document.querySelector('input#braintree_nonce').setAttribute('value', payload.nonce);
            form.submit();
          });
        });
      });
    })
  }
