<div class='data-container'>
  <h3>API key</h3>
  <p class='sub'>This is the API key, you need to send it with each API request.</p>
  <p class="key"><%= cinstance.user_key %></p>

  <% if can?(:regenerate_user_key, cinstance) %>
    <div align="right">
      <%= button_to 'Regenerate Key', admin_application_user_key_path(cinstance), 
        :method => :put, data: {:confirm => "Are you sure?"}  %>
    </div>
  <% end %>
</div>
