{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current",
          "ie": "11",
          "firefox": "62",
          "chrome": "69"
        }
      }
    ],
    "@babel/react",
    "@babel/flow"
  ]
}