{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-transform-template-literals",
    "@babel/plugin-transform-regenerator"
  ],
  "presets": [
    ["@babel/preset-env", {
      "corejs": 2,
      "targets": {
        "node": "current",
        "chrome": "58",
        "firefox": "60",
        "ie": "11"
      }
    }],
    "@babel/preset-react",
    "@babel/preset-flow"
  ]
}
