.git
.bundle
.DS_Store
.byebug_history
.jenkins-build
.bin
cookbooks
node_modules
assets/jspm_packages/*/*
vendor/bundle
.vagrant
.deploy
.idea
**/.idea
.zeus*
.docker*
*.crt
*.key
Dockerfile*
Makefile
tmp/*
db/sphinx
doc/*
!doc/liquid
!doc/active_docs
!doc/dependency_decisions.yml
!doc/licenses
*.md
config/amazon_s3.yml
config/database.yml
config/redis.yml
config/backend_redis.yml
config/cubert.yml
config/tinny_tim.yml
config/*.sphinx.conf
public/assets
public/system
openshift/system/*file
openshift/system/Dockerfile*
openshift/system/*.yml
openshift/system/*.md
log/*
**/.idea
**/*.sql
**/*.swp
**/.*
!.eslintrc
!.flowconfig
!.babelrc
!Gemfile*
!config.ru
README.md
