.git
.bundle
.DS_Store
.byebug_history
.jenkins-build
.bin
cookbooks
node_modules
assets/jspm_packages/*/*
vendor/bundle
.vagrant
.deploy
.idea
**/.idea
.zeus*
.docker*
*.crt
*.key
Dockerfile*
Makefile
tmp/*
db/sphinx
doc/*
!doc/liquid
!doc/active_docs
!doc/dependency_decisions.yml
!doc/licenses
*.md
config/amazon_s3.yml
config/backend.yml
config/backend_redis.yml
config/cache_store.yml
config/core.yml
config/cors.yml
config/content_security_policy.yml
config/currencies.yml
config/database.yml
config/domain_substitution.yml
config/features.yml
config/master.key
config/oauth2.yml
config/paperclip.yml
config/payments.yml
config/plan_rules.yml
config/redhat_customer_portal.yml
config/redis.yml
config/rolling_updates.yml
config/sandbox_proxy.yml
config/segment.yml
config/service_discovery.yml
config/settings.yml
config/smtp.yml
config/unicorn.rb
config/web_hooks.yml
config/zync.yml
config/*.sphinx.conf
public/assets
public/system
public/packs
public/packs-tests
openshift/system/*file
openshift/system/Dockerfile*
openshift/system/*.yml
openshift/system/*.md
log/*
**/.idea
**/*.sql
**/*.swp
**/.*
!.eslintrc
!.babelrc
!.ruby-version.sample
!Gemfile*
!config.ru
README.md
