{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "$": true
  },
  "extends": ["standard", "plugin:@typescript-eslint/recommended", "plugin:react/jsx-runtime"],
  "plugins": [
    "@typescript-eslint"
  ],
  "root": true,
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": [
          "error"
        ]
      }
    ],
    "no-duplicate-imports": 0,
    "react/sort-comp": [
      2,
      {
        "order": [
          "type-annotations",
          "static-methods",
          "life-cycle",
          "everything-else",
          "render"
        ]
      }
    ],
    "react/no-unused-prop-types": 0,
    // Workaround to bypass error: TypeError: Cannot read property 'range' of null
    // See: https://github.com/babel/babel-eslint/issues/681#issuecomment-420663038
    // We should upgrade from babel-eslint (deprecated) to @babel/eslint-parser
    "template-curly-spacing": "off",
    "indent": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
