{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    },
    // "project": ["./tsconfig.json"],
    // "sourceType": "module",
    // "allowImportExportEverywhere": false,
    // "codeFrame": false
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "$": "readonly"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
    // "standard",
    // "plugin:@typescript-eslint/recommended",
  ],
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-console": ["warn", { "allow": ["error"] }],
    "no-duplicate-imports": "error",
    "@typescript-eslint/no-explicit-any": "off" // TODO: only temporary!!
  },
  "settings": {
    "react": {
      "version": "detect" // React version. "detect" automatically picks the version you have installed.
    }
  },
  "ignorePatterns": [
    "spec/javascripts/__mocks__/"
  ]
}
