{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsxPragma": null // for @typescript/eslint-parser
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "plugin:react/all",
    // "eslint:recommended",
    // "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "import",
    // "jsx-expressions"
  ],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-console": ["warn", { "allow": ["error"] }],
    "no-duplicate-imports": "off", // Replaced by @typescript-eslint/no-duplicate-imports
    "sort-imports": "off", // Replaced by import/order
    "semi": "off",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "object-curly-spacing": ["error", "always"],
    "jsx-quotes": ["error", "prefer-double"],
    "array-bracket-spacing": ["error", "never"],

    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/consistent-type-imports": 2,
    "@typescript-eslint/no-duplicate-imports": "error",

    "react/destructuring-assignment": "off",
    "react/forbid-component-props": "off",
    "react/function-component-definition": "off",
    "react/jsx-curly-newline": ["error", { "multiline": "forbid", "singleline": "forbid" }],
    "react/jsx-filename-extension": [2, { "extensions": [".jsx", ".tsx"] }],
    "react/jsx-handler-names": "off",
    "react/jsx-indent-props": "off",
    "react/jsx-indent": "off",
    "react/jsx-max-depth": "off",
    "react/jsx-max-props-per-line": ["error", { "maximum": 1, "when": "multiline" }],
    "react/jsx-newline": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-no-leaked-render": "off",
    "react/jsx-no-literals": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-sort-props": [2, {
      "callbacksLast": true,
      "shorthandFirst": true,
      "reservedFirst": ["key"]
    }],
    "react/jsx-wrap-multilines": ["error", {
      "declaration": "parens-new-line",
      "assignment": "parens-new-line",
      "return": "parens-new-line",
      "arrow": "parens-new-line",
      "condition": "parens-new-line",
      "logical": "parens-new-line"
    }],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",

    "import/order": ["error", {
      "warnOnUnassignedImports": true,
      "groups": ["builtin", "index", "parent", "internal", "external", "object", "type", "sibling"],
      "newlines-between": "always"
    }],
    "import/newline-after-import": "error",
    "import/no-relative-packages": "error",

    // "jsx-expressions/strict-logical-expressions": "error", // Replaces rule "react/jsx-no-leaked-render"

    // TODO: only temporary for development
    "@typescript-eslint/no-explicit-any": "off",
    "react/no-set-state": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-child-element-spacing": "off"
  },
  "settings": {
    "react": {
      "version": "detect" // React version. "detect" automatically picks the version you have installed.
    }
  },
  "ignorePatterns": [
    "jest.config.js",
    "spec/javascripts/setupTests.ts",
    "spec/javascripts/__mocks__/",
    "app/javascript/src/Stats" // We better avoid touching this module, eslint may automatically fix some of the errors and break it.
  ]
}
