*.#*
*~
.env
*#
*.DS_Store
*.rdb
.bin
.cache_cap_t
.cache_rake_t
.docker_bash_logs
.routes
.*.swp
.rvmrc
.deploy_info
.ruby-gemset
.ruby-version
.pt
.pivotalrc
.pivotal_cache
.jenkins-build
.idea
.*rc
.livereload
./Guardfile
C:\\nppdf32Log\\debuglog.txt
.zeus.sock
.deploy
.s3cfg

# Bundler Stuff
.bundle
.vagrant

/localhost.key
/localhost.crt

/.routes
/assets/**/*.map
/assets/jspm_packages/**/*
!/assets/jspm_packages/system.js
!/assets/jspm_packages/system-polyfills.js
/public/assets/
/lib/developer_portal/app/assets/javascripts/*.map

/junit/
/coverage/

/config/amazon_s3.yml
/config/backend.yml
/config/application.yml
/config/database.yml
/config/backend_redis.yml
/config/redis.yml
/config/oauth2.yml
/config/slave_redis.yml
/config/cassandra.yml
/config/initializers/before_filter_debug.rb
/config/unicorn.rb
/config/tinny_tim.yml
/config/resque.yml
/config/cubert.yml
/config/segment.yml
/config/core.yml
/config/mixpanel.yml
/config/settings.yml
/config/sandbox_proxy.yml
/config/cache_store.yml
/config/google_experiments.yml
/config/web_analytics.yml
/config/web_hooks.yml
/config/rolling_updates.yml
/config/paperclip.yml
/config/plan_rules.yml
/config/service_discovery.yml
/config/smtp.yml
/config/zync.yml
/config/redhat_customer_portal.yml
/config/prometheus.yml
/db/*.sql
/db/safe.json
/db/*.sql*
/doc/app
/log/*
/nbproject/
/public/.DS_Store
/public/stylesheets/compiled/*
/public/stylesheets/templates/
/public/active_docs/application-*
/public/active_docs/application-*
/public/active_docs/manifest.yml
/public/active_docs/*-*.png
/public/assets/*
/public/system
/public/test*.html
/tmp/*
!.gitkeep
!.eslint*
!.babelrc
.eslintcache
Session.vim
/TAGS
/tags
config/*.sphinx.conf
config/amazon_s3.yml
db/sphinx
public/.com.apple*
*_flymake.rb
/node_modules/
/public/javascripts/cache/

/test/unit/stats/tmp/
/test/proxy_helpers/sentiment/log/thin.log

vendor/active-docs/.gitignore
vendor/active-docs/.gitmodules
vendor/active-docs/log/*
vendor/active-docs/tmp/*
vendor/bundle
vendor/cache
.sass-cache

.powenv
Gemfile.local

.powrc
/public/packs
/public/packs-test
/node_modules

/vendor/oracle/*.zip
