// HACK: removes Main 1.5 rem padding
#quick-start-catalog-page-wrapper {
  margin: -1.5rem;
}

#quick-start-container {
  height: 100%;
}

.pfext-page-layout__content {
  .pf-c-content {
    .catalog{
      margin: 0 0 11.5px;
    }
  }
}
