= form.input :name, as: :patternfly_input,
                    input_html: { autofocus: true }

= form.input :scopes, as: :patternfly_check_boxes,
                      collection: @access_token.available_scopes.to_collection_for_check_boxes

= form.input :permission, as: :patternfly_select,
                          collection: @access_token.available_permissions,
                          include_blank: false
