#settings_change_service_plan_permission_direct,
#settings_change_account_plan_permission_direct {
  & ~ .pf-c-radio__description {
    margin-top: 1rem;
  }
}

.pf-c-form__group {
  &.use-service-plans,
  &.use-account-plans {
    margin-left: 1.25rem;
  }
}

.use-account-plans,
.use-service-plans {
  &.hidden {
    display: none;
  }
}
