body.login-layout {

  #flashWrapper {
    bottom: line-height-times(3.5);
    top: auto;
  }

  .authorizeLink {
    border-color: $font-color;

    &:hover {
      color: $background-color-base;

      .fa-inverse {
        color: $link-color;
      }
    }

    &-alt {
      color: $light-color;
      cursor: default;

      &:hover {
        color: $light-color;
      }
    }
  }

  #flashWrapper {
    left: 0;
    right: auto;
    bottom:line-height-times(3);
  }
}
