.wrapper, #layout-header, #wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#border {
  min-height: calc(100vh - 92px); // Header's height
  position: relative;
  text-align: left;
}

#nav {
  height: auto;
}

.Main {
  // HACK: import PF4 styles instead of use hardcoded value. In the future it will be included in PF class.
  padding: line-height-times(1);

  &--callToAction {
    min-height: calc(100vh - #{line-height-times(12)});
  }
}

.pf-c-page__main {
  background-color: $gallery;
}

@mixin white-box-shadow {
  background-color: $white;
  box-shadow: $whiteBoxShadow;

  // IE 11
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    box-shadow: $whiteBoxShadowIE11;
  }
}
