body {
  min-width: $layout-wrapper-min-width;
}

.wrapper, #layout-header, #wrapper {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#border {
  min-height: calc(100vh - 92px); // Header's height
  position: relative;
  text-align: left;
}

#nav {
  height: auto;
}

.Main {
  // HACK: import PF4 styles instead of use hardcoded value. In the future it will be included in PF class.
  padding: line-height-times(1);

  &--callToAction {
    min-height: calc(100vh - #{line-height-times(12)});
  }
}

.pf-c-page__main {
  background-color: $gallery;
}

.pf-c-nav__link {
  .fa-exclamation-triangle {
    margin-left: line-height-times(1 / 4);
  }
}

@mixin white-box-shadow {
  background-color: $white;
  box-shadow: $whiteBoxShadow;

  // IE 11
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    box-shadow: $whiteBoxShadowIE11;
  }
}

// Styles for the Cross Console Navigation
.pf-c-page__header {
  font-size: $font-size-base;

  .pf-c-page__header-brand-toggle {
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row: 2;

    .pf-c-button {
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-left: line-height-times(2/3);
      padding-right: line-height-times(2/3);
    }
  }
  
  .pf-c-page__header-brand-link {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  &.pf-m-no-toggle {
    grid-template-columns: minmax(auto, line-height-times(25/3)) minmax(auto, line-height-times(10)) auto auto !important;
  
    .app-context-selector-wrapper {
      grid-column: 2;
    }

    .pf-c-page__header-tools {
      grid-row: 1;
      grid-column: 4 !important;
    }

    .pf-c-page__header-brand-link {
      padding-left: line-height-times(2/3);
      padding-right: line-height-times(2/3);
    }
  }
}

.pf-c-page__header-nav {
  background-color: transparent;
}

.app-context-selector-wrapper {
  height: line-height-times(57/18);

  .pf-c-context-selector {
    height: 100%;
    width: line-height-times(10);
  }

  .pf-c-context-selector__menu {
    margin-top: 0;
    padding-bottom: line-height-times(1/3);

    li,
    button {
      font-size: $font-size-base;
      height: line-height-times(4/3);
    }
  }

  .pf-c-context-selector__menu-list-item {
    font-size: $font-size-base;
  }
  
  .pf-c-context-selector__toggle {
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding-left: line-height-times(2/3);

    &::before {
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-right-color: var(--pf-global--BorderColor--200) !important;
      border-left-color: var(--pf-global--BorderColor--200) !important;
      border-bottom-width: 0px !important;
    }

    .pf-c-context-selector__toggle-text {
      font-size: $font-size-base;
    }
  }
}

.pf-m-expanded.pf-c-context-selector__toggle::before,
.pf-c-context-selector__toggle:hover::before,
.pf-c-context-selector__toggle:focus::before {
  border-top: var(--pf-global--BorderWidth--lg) solid var(--pf-global--active-color--100) !important;
}

@media screen and (min-width: 576px) {
    .pf-c-page__header.pf-m-no-toggle .app-context-selector-wrapper {
      grid-column: 2;
    }

    .pf-c-page__header.pf-m-no-toggle .pf-c-page__header-brand-link {
      grid-column: 1 !important;
    }

    .pf-c-page__header-tools {
      grid-column: 4 !important;
      grid-row: 1;
    }
  
    .pf-c-page__header-brand-toggle {
      grid-column: 1;
      grid-row: 1;
    }
  
    .pf-c-page__header-brand-link {
      display: flex;
      justify-content: start;
      grid-column: 2 !important;
      grid-row: 1;
    }

  .app-context-selector-wrapper {
    grid-column: 3;
    grid-row: 1;

    .pf-c-context-selector {
      width: initial;
    }

    .pf-c-context-selector__toggle {
      width: initial;
      background-color: transparent;
    }
  }

  .pf-c-page__header-nav {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
  }
}

@media screen and (max-width: 576px) {
  .pf-c-context-selector__toggle::before {
    border: initial;
  }

  .pf-c-context-selector {
    width: 100% !important;
  }

  .app-context-selector-wrapper {
    grid-column: 2;
    grid-row: 1;
  }

  .pf-c-page__header-nav {
    grid-column: 3;
    grid-row: 1;
  }
}

.pf-c-page__header-brand-link > .Header-logo {
  background-size: cover;
  width: line-height-times(25/4);
  height: line-height-times(2067/1000);
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 735 244'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:%23e00;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3ELogo-Red_Hat-Integration-A-Reverse-RGB%3C/title%3E%3Cpath class='cls-1' d='M227.65,145.74h10.92v72.8H227.65Z'/%3E%3Cpath class='cls-1' d='M252.19,165.6h10.4v5.31a21.81,21.81,0,0,1,15.92-6.35c12.16,0,20.69,8.43,20.69,20.7v33.28H288.8V187c0-8.32-5.09-13.42-13.1-13.42a15,15,0,0,0-13.11,6.86v38.07h-10.4Z'/%3E%3Cpath class='cls-1' d='M316,174.34H304.71V165.6H316V152.08l10.29-2.5v16h15.6v8.74h-15.6V203c0,5.41,2.19,7.39,7.8,7.39a20.37,20.37,0,0,0,7.6-1.25v8.74a34.67,34.67,0,0,1-9.89,1.55c-10.29,0-15.8-4.88-15.8-14Z'/%3E%3Cpath class='cls-1' d='M373.77,219.47c-15.6,0-27.77-12-27.77-27.45,0-15.29,11.65-27.25,26.52-27.25,14.56,0,25.59,12.06,25.59,27.66v3H356.3a17.85,17.85,0,0,0,17.89,15.18A20.56,20.56,0,0,0,387.6,206l6.66,6.55A31.59,31.59,0,0,1,373.77,219.47ZM356.4,187.65h31.41c-1.56-8.11-7.8-14.14-15.49-14.14C364.31,173.51,358,179.23,356.4,187.65Z'/%3E%3Cpath class='cls-1' d='M405.8,191.81a26.7,26.7,0,0,1,26.83-27.14,26,26,0,0,1,15.71,5.3V165.6h10.3v53.67c0,13.73-8.64,21.42-24.24,21.42a44.89,44.89,0,0,1-21.32-5.2l4.06-8.11c6,3.12,11.33,4.58,16.95,4.58,9.26,0,14.15-4.37,14.15-12.69v-5.93A24.92,24.92,0,0,1,432.43,219C417.55,219,405.8,207,405.8,191.81Zm27.87,18.1c6,0,11.13-2.19,14.57-6.14V179.85a19.11,19.11,0,0,0-14.57-6.14c-10,0-17.68,7.91-17.68,18.1S423.69,209.91,433.67,209.91Z'/%3E%3Cpath class='cls-1' d='M470.91,165.6h10.4v6.76a16.57,16.57,0,0,1,14.56-7.9,13.26,13.26,0,0,1,5.3.83v9.36a17.8,17.8,0,0,0-6.14-1.14c-6.13,0-11,3.32-13.72,9.67v35.36h-10.4Z'/%3E%3Cpath class='cls-1' d='M504.6,203.35c0-10,8.11-16.12,21.43-16.12a37.22,37.22,0,0,1,14.45,2.92v-5.62c0-7.49-4.47-11.23-12.89-11.23-4.89,0-9.88,1.35-16.44,4.47l-3.84-7.8c7.9-3.75,14.76-5.41,21.73-5.41,13.73,0,21.63,6.76,21.63,18.93v35H540.48V214a25.07,25.07,0,0,1-16.43,5.51C512.5,219.47,504.6,212.92,504.6,203.35Zm21.84,8.43a20.33,20.33,0,0,0,14-5v-9.16a27.51,27.51,0,0,0-13.62-3.22c-7.59,0-12.28,3.43-12.28,8.74C514.58,208.24,519.37,211.78,526.44,211.78Z'/%3E%3Cpath class='cls-1' d='M567.42,174.34H556.19V165.6h11.23V152.08l10.29-2.5v16h15.61v8.74H577.71V203c0,5.41,2.19,7.39,7.8,7.39a20.37,20.37,0,0,0,7.6-1.25v8.74a34.66,34.66,0,0,1-9.88,1.55c-10.3,0-15.81-4.88-15.81-14Z'/%3E%3Cpath class='cls-1' d='M599.87,150.62a6.38,6.38,0,0,1,6.34-6.44,6.45,6.45,0,1,1,0,12.89A6.39,6.39,0,0,1,599.87,150.62Zm11.54,67.92H601V165.6h10.4Z'/%3E%3Cpath class='cls-1' d='M648.85,164.56A27.51,27.51,0,1,1,621.29,192,27.17,27.17,0,0,1,648.85,164.56ZM666.11,192c0-10.3-7.69-18.31-17.26-18.31s-17.37,8-17.37,18.31,7.59,18.41,17.37,18.41C658.42,210.43,666.11,202.31,666.11,192Z'/%3E%3Cpath class='cls-1' d='M686.18,165.6h10.4v5.31a21.83,21.83,0,0,1,15.92-6.35c12.17,0,20.69,8.43,20.69,20.7v33.28h-10.4V187c0-8.32-5.09-13.42-13.1-13.42a15,15,0,0,0-13.11,6.86v38.07h-10.4Z'/%3E%3Cpath class='cls-2' d='M128,84c12.51,0,30.61-2.58,30.61-17.46a14,14,0,0,0-.31-3.42l-7.45-32.36c-1.72-7.12-3.23-10.35-15.73-16.6C125.39,9.19,104.26,1,98,1c-5.82,0-7.55,7.54-14.45,7.54-6.68,0-11.64-5.6-17.89-5.6-6,0-9.91,4.09-12.93,12.5,0,0-8.41,23.72-9.49,27.16A6.43,6.43,0,0,0,43,44.54C43,53.76,79.33,84,128,84m32.55-11.42c1.73,8.19,1.73,9.05,1.73,10.13,0,14-15.74,21.77-36.43,21.77C79,104.47,38.08,77.1,38.08,59a18.45,18.45,0,0,1,1.51-7.33C22.77,52.52,1,55.54,1,74.72,1,106.2,75.59,145,134.65,145c45.28,0,56.7-20.48,56.7-36.65,0-12.72-11-27.16-30.83-35.78'/%3E%3Cpath d='M160.52,72.57c1.73,8.19,1.73,9.05,1.73,10.13,0,14-15.74,21.77-36.43,21.77C79,104.47,38.08,77.1,38.08,59a18.45,18.45,0,0,1,1.51-7.33l3.66-9.06A6.43,6.43,0,0,0,43,44.54C43,53.76,79.33,84,128,84c12.51,0,30.61-2.58,30.61-17.46a14,14,0,0,0-.31-3.42Z'/%3E%3Cpath class='cls-1' d='M580.24,93.3c0,11.89,7.15,17.67,20.19,17.67a52.11,52.11,0,0,0,11.89-1.68V95.51a24.84,24.84,0,0,1-7.68,1.16c-5.37,0-7.36-1.68-7.36-6.73V68.8h15.56V54.6H597.28v-18l-17,3.68V54.6H569V68.8h11.25Zm-53,.32c0-3.68,3.69-5.47,9.26-5.47a43.12,43.12,0,0,1,10.1,1.26v7.15A21.51,21.51,0,0,1,536,99.19c-5.46,0-8.73-2.1-8.73-5.57m5.2,17.56c6,0,10.84-1.26,15.36-4.31v3.37h16.82V74.58c0-13.56-9.14-21-24.39-21-8.52,0-16.94,2-26,6.1l6.1,12.52c6.52-2.74,12-4.42,16.83-4.42,7,0,10.62,2.73,10.62,8.31v2.73a49.53,49.53,0,0,0-12.62-1.58c-14.31,0-22.93,6-22.93,16.73,0,9.78,7.78,17.24,20.19,17.24m-92.44-.94h18.09V81.42h30.29v28.82h18.09V36.62H488.43V64.91H458.14V36.62H440.05ZM371.12,82.37c0-8,6.31-14.1,14.62-14.1a17.22,17.22,0,0,1,11.78,4.32V92a16.36,16.36,0,0,1-11.78,4.42c-8.2,0-14.62-6.1-14.62-14.09m26.61,27.87h16.83V32.94l-17,3.68V57.55a28.3,28.3,0,0,0-14.2-3.68c-16.19,0-28.92,12.51-28.92,28.5A28.25,28.25,0,0,0,382.8,111a25.12,25.12,0,0,0,14.93-4.83Zm-77.19-42.7c5.36,0,9.88,3.47,11.67,8.83H309c1.68-5.57,5.89-8.83,11.57-8.83M291.83,82.47c0,16.2,13.25,28.82,30.28,28.82,9.36,0,16.2-2.53,23.25-8.42l-11.26-10c-2.63,2.74-6.52,4.21-11.14,4.21a14.39,14.39,0,0,1-13.68-8.83h39.65V84.05c0-17.67-11.88-30.39-28.08-30.39a28.57,28.57,0,0,0-29,28.81M262.49,52.08c6,0,9.36,3.78,9.36,8.31s-3.37,8.31-9.36,8.31H244.61V52.08Zm-36,58.16h18.09V83.42h13.77l13.89,26.82h20.19l-16.2-29.45a22.27,22.27,0,0,0,13.88-20.72c0-13.25-10.41-23.45-26-23.45H226.52Z'/%3E%3C/svg%3E");
}
