.wrapper, #layout-header, #wrapper {
  margin: 0 auto;
  min-width: $layout-wrapper-min-width;
  //max-width:  $layout-wrapper-max-width;
  height: 100%;
  padding-left: line-height-times(1);
  padding-right: line-height-times(1);
}

#border {
  position: relative;
  margin-top: -$border-width;
  border-top: $border-width solid $border-color;
  border-bottom: $border-width solid $border-color;
  padding: line-height-times(1) line-height-times(1) line-height-times(2) line-height-times(1);
  text-align: left;
  min-height: line-height-times(21, true);
  min-height: 80vh;
}

#nav {
  height: auto;
}
