/* Patternfly styles are imported in app/javascript/packs/cms.scss and loaded as a pack */
@use 'provider/colors' as *;
@use 'provider/typography' as *;
@use 'provider/legacy_theme';
@use 'sass:math';
@use 'utils';

$tab-width: 20%;
$tab-content-width: 100% - $tab-width;
$tab-min-height: line-height-times(21, true);
$tab-content-z-index: 0;

#cms-sidebar {
  @include utils.white-box-shadow;

  font-size: $caption-font-size;
  float: left;
  width: 20%;
  position: relative;
  z-index: $tab-content-z-index + 1; /* Make sure it's above content's left shadow */

  .collapse-button {
    margin-left: -3px;
  }

  ul.packed {
    display: none;
  }

  .glowing {
    background-color: var(--pf-global--palette--blue-50);
  }

  input.glowing {
    color: $highlight-color;
  }

  #cms-sidebar-filter-origin {
    border-bottom: $border-width solid $border-color;

    & > li {
      height: line-height-times(2);
    }
  }

  #cms-sidebar-filter-origin,
  #cms-sidebar-filter-type {
    display: flex;

    li {
      border-left: $border-width solid $border-color;
      flex: auto;
      text-align: center;
      align-content: center;

      &.active {
        font-weight: $font-weight-bold;
      }

      &.active,
      &:hover {
        color: $link-color;

        i.fa {
          color: $link-color;
        }
      }
    }

    [data-filter-type],
    [data-filter-origin] {
      cursor: pointer;
    }
  }

  #cms-filter {
    margin-bottom: -$border-width;

    input {
      border-bottom: 0;
      border-left: $border-width solid $border-color;
      border-radius: 0;
      border-right: 0;
      border-top: $border-width solid $border-color;
      font-size: $font-size-sm;
    }
  }

  .cms-sidebar-listing {
    h3 {
      margin: 0;
      padding-top: 36px;
    }

    ul {
      list-style: none;
    }

    &:not(.empty) {
      li.no-results {
        display: none;
      }
    }

    .fa-folder-open:hover::before {
      content: '\f07c';
    }

    .fa-folder:hover::before {
      content: '\f07b';
    }

    .fa {
      cursor: pointer;
      margin-left: -line-height-times(.5);
      padding: line-height-times(.5) 0;
      position: relative;
      z-index: 100;

      &:hover {
        color: $link-color;
      }
    }

    .fa-folder,
    .fa-folder-open {
      color: $link-color;

      &:hover {
        color: $link-hover-color;
      }
    }

    a {
      @include ellipsis;

      color: $font-color;
      display: inline-block;
      vertical-align: middle;
      width: 100%;

      &:hover,
      &.current {
        color: $link-color;
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    li {
      border-top: $border-width solid $border-color;
      padding-left: line-height-times(.25);
      white-space: nowrap;

      ul {
        margin-left: line-height-times(.5);
      }

      &.empty {
        margin-left: line-height-times(.5);
      }

      &.dragged {
        list-style: none;
        z-index: 9999;
      }

      &.dirty a {
        font-style: italic;
      }

      &.cms-section {
        position: relative;

        &::after {
          background-image: url('/assets/tree-line.png');
          background-position: 0;
          background-repeat: repeat-y;
          bottom: $border-width;
          content: '';
          position: absolute;
          top: line-height-times(1);
          width: line-height-times(1);
        }
      }
    }

    &:last-child {
      padding-bottom: line-height-times(1);
    }
  }

  #cms-sidebar-error-empty {
    display: none;
    margin: line-height-times(.5);
  }
}

#cms-template-editor {
  position: relative;

  ul.ui-tabs-nav {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    top: $border-width;

    /* stylelint-disable-next-line no-descending-specificity */
    li {
      margin-left: 0;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      text-align: center;
      border: $border-width solid $border-color;
      border-bottom: none;
      border-top-left-radius: $border-radius-sm;
      border-top-right-radius: $border-radius-sm;
      background-color: $border-color;

      /* stylelint-disable-next-line no-descending-specificity */
      a {
        display: inline-block;
        padding: line-height-times(math.div(1,3)) line-height-times(.5);
      }

      &.ui-state-active {
        font-weight: $font-weight-bold;
        border-color: $border-color;
        background-color: var(--pf-global--BackgroundColor--200);

        a {
          color: $font-color;
        }
      }
    }
  }

  .ui-tabs-hide {
    display: none;
  }

  ul.links {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: line-height-times(.25);

    /* stylelint-disable-next-line no-descending-specificity */
    li {
      display: inline-block;
      vertical-align: top;
      margin-left: line-height-times(1);
    }
  }
}

#cms-new-content-button {
  z-index: 9999;
  position: absolute;
  margin: var(--pf-global--spacer--lg);
  top: 0;
  right: 0;
}

/* cms/files/edit */
.image-preview {
  margin: 2em auto 0;
}

#tab-content {
  @include utils.white-box-shadow;

  border-left: $border-width solid $border-color;
  border-right: none;
  float: left;
  min-height: $tab-min-height;
  position: relative;
  width: $tab-content-width;
  z-index: $tab-content-z-index;

  .formtastic {
    box-shadow: none;
  }

  border-bottom-left-radius: 0;
  padding: line-height-times(1);

  &.sticked {
    overflow-y: auto;
    top: 24px !important;
  }
}
