- content_for :title do
  = "Hello #{current_user.informal_name},"

p The best way to start discovering 3scale is through the APIcast staging gateway. You'll be up and running in minutes – ready to try all the different features of the platform.

= link_to "OK, how does 3scale work?", provider_admin_onboarding_wizard_explain_path, class: "button button--next"
