- content_for :javascripts do
  = javascript_packs_with_chunks_tag 'backend_api_metrics_index'

- content_for :main_section_with_react do
  div id='backend-api-metrics-index-container' data=presenter.index_data
