<div class="row">
  {% if provider.multiple_applications_allowed? %}
    {% unless applications == blank %}
      <div id="client-name" data-client="{{ applications.first.id }}" style="display:none"></div>
      {% include 'stats/chart' %}
    {% else %}
      <p>You do not currently have any live applications.</p>
    {% endunless %}
  {% else %}
    <div id="client-name" data-client="{{ applications.first.id }}" style="display:none"></div>
    {% include 'stats/chart' %}
  {% endif %}
</div>
