<% content_for :help do %>
<div id="help_layer_a" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>Country selection</h3>
		<p>The country selected here is important in determining your 
		   usage of three scale. Firstly the selection determines the 
		   HOME CURRENCY of your account. This currency is used to 
		   price any services you provide or contract and is used 
		   in all 3scale transactions for this account.
		   
		   Secondly, if you are resident in a country which requires 
		   tax payment on the purchase of Internet services, the 
		   appropriate amounts will be added to all your purchases.
		</p>		
	</div>
</div>
<div id="help_layer_b" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>Legal Address</h3>
		<p>In order to use your account to provide or purchase 
		services you need to add a full legal address here. This 
		address will be visible to the other party
	    in all 3scale service provision
		/ purchase interactions.
		
		3scale reserve the right to request confirmation of 
		your legal address.
		</p>		
	</div>
</div>
<% end %>