<% content_for :help do %>
<div id="help_layer_buy_disabled" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>Only free contracts currently available</h3>
		<p>During this test phase users can only sign up for free contracts.
    Paid contracts will be available shortly.</p>
	</div>
</div>
<% end %>