<% content_for :help do %>
<div id="help_layer_a" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>Cancelation Period</h3>
		<p>The cancellation period is the length of time which expires between 
		   the a request for cancellation of a contract by either the provider 
		   OR the service user and the final termination of the contract. During the 
		   cancellation period, the contract is still active and (if applicable) 
		   payments must be made. NB: as a provider you can also temporarily 
		   suspend malicious user accounts by cancelling their keys - see the 
		   3scale FAQ for more information.</p>		
	</div>
</div>
<% end %>