<% content_for :help do %>
<div id="help_layer_a" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>External API description </h3>
		<p>If you already have a detailed on-line description of your API and 
		   only plan to put a summary on 3scale, then use this URL to point to 
		   the service description. It will be included with your summary.</p>		
	</div>
</div>
<div id="help_layer_b" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>External Service descrition</h3>
		<p>If you have an external web page describing your service and only 
		   provide a summary on 3scale then the URL to your site here.</p>	
		</div>
</div>
<div id="help_layer_c" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		
		<h3>Service Blog</h3>
		<p>If your service has its own blog or forum, add the URL here.</p>		
	</div>
</div>
<div id="help_layer_d" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>Support pages</h3>
		<p>If your service has its own external support pages provide the link here. 
		   This will be added to the support information on your service pages.</p>		
	</div>
</div>
<div id="help_layer_e" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>WSDL</h3>
		<p>If you have a WSDL (Web Services Description Language) definition file for your service you can upload it here.</p>		
	</div>
</div>
<div id="help_layer_f" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>Support Email</h3>
		<p>Add an email address for the support team of the service here. Leave blank if you do not want your email to be displayed.</p>		
	</div>
</div>
<% end %>