<% content_for :help do %>
<div id="help_layer_a" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>Service Label</h3>
		<p>This field defines the URL of your 3scale service description.</p>
	</div>
</div>
<div id="help_layer_b" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>Online description</h3>
		<p>This is used in search results and summaries of the service - short and snappy.</p>	
		</div>
</div>
<div id="help_layer_c" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		
		<h3>Full description</h3>
		<p>You can use HTML markup in the field to make your information stand out.</p>		
	</div>
</div>
<div id="help_layer_d" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>Signup requires approval</h3>
		<p>Ticking this box means that new users signing up for contracts on this 
		   service will be kept pending until you authorise their usage application. 
		   You will receive an email with a link at which you can accept / deny the 
		   request. If you leave the box unticked the users can sign up and use the 
		   service right away without screening. (Note that in both cases you can 
		   later revoke the contract.)</p>		
	</div>
</div>
<div id="help_layer_e" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3>Signup requires description of intended use</h3>
		<p>Ticking this box adds a text field to the contract signup form in which 
		   users sign up must provide proposed usage information in order to help 
		   you decide whether to provide access or not. This is best used in conjunction 
		   with the signup approval option.</p>		
	</div>
</div>
<div id="help_layer_f" class="inlineHelper" style="display:none">
	<div class="inlineHelperContent">
		<h3></h3>
		<p></p>		
	</div>
</div>
<% end %>