= f.input :site
= f.input :token_url
= f.input :authorize_url
= f.input :user_info_url
= f.input :identifier_key, hint: 'Attribute from user_info url to read the user id'
= f.input :username_key, hint: 'Attribute from user_info url to read the user username'
= f.input :trust_email
