= form_for @authentication_provider,
        url: provider_admin_authentication_provider_path(@authentication_provider),
        as: :authentication_provider,
        :html => { :class => 'autosubmit' } do |f|
  = f.select :branding_state_event,
          @authentication_provider.allowed_state_transitions,
          include_blank: @authentication_provider.human_state_name
