= f.input :client_id, as: :patternfly_input, required: f.object.oauth_config_required?
= f.input :client_secret, as: :patternfly_input,  input_html: { type: 'password' }, required: f.object.oauth_config_required?

= render partial: authentication_provider.kind,
        locals: { f: f }
