= f.input :site, as: :patternfly_input, required: true, label: 'Realm', hint: 'e.g. https://rh-sso.example.com/auth/realms/demo'
= f.input :skip_ssl_certificate_verification, as: :patternfly_checkbox
