<div id="braintree-form-wrapper" data-braintree-form="<%= braintree_form_data.to_json %>"></div>
<% - append_javascript_pack_tag 'braintree_customer_form'%>

<% unless @errors.blank? %>
    <div class="errorExplanation" id="errorExplanation">
      <h2><%= pluralize(@errors.size, 'error') %> prohibited this form from being saved</h2>
      <p>There were problems with the following fields:</p>
      <ul>
        <% @errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
      </ul>
    </div>
<% end %>

