<html>
  <head>
    <title>Access Restricted</title>
    <style>
      body {
        margin-top: 10em;
        font-family: sans;
        text-align: center;
        overflow: hidden;
      }

      form { font-size: 1.3em; }
      input { border: 1px solid #cccccc; }
      p { font-size: small; }
      label {  font-size: bigger; }
    </style>
  </head>

  <body>
      <%= form_tag(main_app.access_code_path) do %>
        <%= label_tag(:access_code) %>
        <%= password_field_tag :access_code, params[:access_code] %>
        <%= submit_tag('Enter') %>
      <% end %>
      <p>
        You can configure the developer portal access code in your admin portal
        under <em>'Audience &gt; Developer Portal &gt; Domains &amp; Access'.</em>
      </p>
      <p>Please make sure that you have cookies enabled!</p>
  </body>
</html>