<div id="flashWrapper" style="<%= flash.empty? ? "display:none;" : "" %>">
  <div class="ajaxNoticeValid alwaysontop <%= flash.keys.join(" ") unless flash.empty? %>">
    <%- unless flash.empty? -%>
      <% flash.each do |type, value| %>
        <p><%= value %></p>
      <%- end -%>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    setTimeout($.flash.hide, 5000);
  });
</script>
