<div class="dashboard_card round">
  <h3>Sample Data</h3>

  <p>
    Sample data are set of plans and accounts that help you understand 3scale infrastructure
    and setup your API. Feel free to edit, reuse or delete them
    in any way you like.
  </p>

  <p>
    <%= fancy_link_to 'Create Sample Data', provider_admin_sample_data_path,
                       :method => :post, :class => 'sample-data' %>
  </p>

  </p>
</div>
