@import '~@patternfly/patternfly/components/Alert/alert.css';

.pf-c-page__main-section {
  form {
    // isWidthLimited isn't available in current version. See: https://github.com/patternfly/patternfly-react/blob/master/packages/react-core/src/components/Form/Form.tsx#L12
    max-width: 600px;
  }
}