.swagger-section {
  section {
    background-color: unset;
  }

  .wrapper {
    background-color: rgba(255, 255, 255, 0.2);
    padding-bottom: 4em;
    padding-top: 2em;
    padding-left: 30px;
    padding-right: 30px;
  }

  .information-container {
    background-color: unset;
    padding: 0;

    .info {
      .title {
        color: rgba(0, 0, 0, 0.6);
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-size: 25px;
      }
      .main {
        small,
        pre,
        a {
          // Version and base URL
          display: none;
        }
      }
    }
  }

  .scheme-container {
    // display: none;
    padding: unset;
    background: unset;
    box-shadow: unset;

    .wrapper {
      padding-bottom: 2em;
    }
  }

  .opblock {
    margin: 0 0 10px;
    border: none;

    .opblock-tag-section {
      &.is-open {
        .nostyle {
          color: black;
        }
      }
      .nostyle {
        color: #999;
        font-family: Droid Sans, sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
      }
    }

    .opblock-summary {
      background-color: #e7f0f7;
      border: 1px solid #c3d9ec;
      padding: 0;
    }

    .opblock-summary-method {
      border-radius: 0;
      color: #fff;
      display: inline-block;
      font-size: 0.7em;
      line-height: 2em;
      padding: 7px 0 4px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      width: 50px;
    }

    .opblock-summary-path {
      padding-left: 10px;
    }

    .opblock-summary-path span {
      font-size: 1.4rem;
      font-family: Futura, "Trebuchet MS", Arial, sans-serif;
      font-weight: normal;
    }

    .opblock-tag {
      a,
      small,
      div {
        display: inline-block;
      }

      button {
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }
}
