
<div class="cms-intro-page" id="tips-and-tricks" style="display:none" data-title="Snippets">
  <ul id="liquid-examples">
    <%= liquid_snippet('menu') %>
    <%= liquid_snippet('signup') %>
    <%= liquid_snippet('keys') %>
  </ul>
</div>
