<%= cms_new_button_dropdown(CMS::Page) %>

<div id='cms-intro-tabs'>
  <%# filled by JS in //= require provider/admin/cms/intro --> %>
  <ul></ul>

  <%= render 'quick_links' %>
  <%= render 'snippets' %>

</div>
