- append_javascript_pack_tag 'default_plan_selector', 'plans_table'

section class="pf-c-page__main-section pf-m-no-padding"
  div id='default_plan' data=default_plan_select_data
  div id='plans_table' data=plans_table_data
