@mixin cms-intro-coloring($name, $color2) {
  $color: $color2;

  ul > li[aria-controls="#{$name}"] {
    a:hover {
      border-bottom: line-height-times(1 / 4) $color solid;
      color: $color;
    }

    &.ui-tabs-active a {
      border-bottom: line-height-times(1 / 4) $color solid;
      color: $color;
    }
  }

  & > div[id="#{$name}"] {
    i.fa {
      color: $color;
    }

    h1 {
      color: $color
    }
  }
}

#cms-intro-tabs {
  $icon-height: $line-height-base;

  @include cms-intro-coloring('getting-started', $link-color);
  @include cms-intro-coloring('tips-and-tricks', $link-color);
  @include cms-intro-coloring('quick-links', $link-color);

  .links {
    margin-bottom: line-height-times(2);
  }

  // tabs selector
  & > ul {
    padding: 0;
    border: 0;
    overflow: hidden;
    list-style: none;
    margin: 0 0 line-height-times(1);
    width: 100%;

    li {
      margin-left: 0;
      white-space: nowrap;
      float: left;
      padding-left: 4px;
      padding-right: 4px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      a {
        min-width: line-height-times(4);
        padding: line-height-times(1 / 2);
        margin-right: line-height-times(1);
        padding-left: 0;
        border-bottom: line-height-times(1 / 4) $border-color solid;
        display: block;
      }
    }
  }

  & > div {
    position: relative;
    top: line-height-times(1);

    ul {
      list-style: none outside;

      /* stylelint-disable-next-line no-descending-specificity -- FIXME */
      li {
        margin-left: 0;
      }
    }

    p {

      em[id] {
        cursor: help;
        border-bottom: $border-width dashed $border-color;
        font-weight: $font-weight-bold;
        /* stylelint-disable-next-line property-no-unknown -- FIXME: this is probably just wrong */
        font-type: normal;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  pre code {
    display: block;
  }
}


#cms-sidebar {
  li.glowing.active,
  li.glowing {
    background-color: $glow-background-color;
  }

  input.glowing {
    background-color: $glow-background-color;
    color: $glow-color !important;

    /* stylelint-disable-next-line selector-no-vendor-prefix -- FIXME: probably deprecated */
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder {
      /* Chrome/Opera/Safari/Firefox 19+/Firefox 18- */
      background-color: $glow-background-color;
      color: $glow-color !important;
    }
  }
}

#recent-templates {
  @extend .left-column;

  /* stylelint-disable-next-line no-descending-specificity -- FIXME */
  a {
    max-width: 96%;
    display: inline-block;

    @include ellipsis;

    padding-right: 4%;
  }
}
