$subsection-bg-color: rgba(0,0,0,0.05);

#subsections-container {
  background-color: transparent;
  border: 1px solid $altoGray;
  box-shadow: none;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 40px;
  padding: 5px;
  width: 100%;

  &.subsection-hover {
     border-color: $border-color;
  }

  thead {
    background-color: transparent;
    color: opacify($subsection-bg-color, 0.5);
    font-size: 18px;
    td { text-align: center; }
  }

  tbody {
    tr td {
      padding-left: line-height-times(1 / 2);
    }
   tr:nth-child(2n-1) {
     background-color: rgb(243, 243, 243);
   }
  }


}
