@use 'provider/admin/cms/sidebar/filter';
@use 'provider/colors' as *;
@use 'provider/layouts/main' as *;
@use 'provider/typography' as *;

$tab-width: 20%;
$tab-content-width: 100% - $tab-width;
$tab-min-height: line-height-times(21, true);

#tab-content {
  @include white-box-shadow;

  border-left: $border-width solid $border-color;
  border-right: none;
  float: left;
  margin-left: -$border-width;
  min-height: $tab-min-height;
  padding: 0 0 line-height-times(1) line-height-times(1);
  position: relative;
  width: $tab-content-width;

  .formtastic {
    box-shadow: none;
  }
}

#cms-sidebar {
  @include white-box-shadow;

  font-size: $caption-font-size;
  float: left;
  width: 20%;

  .collapse-button {
    margin-left: -3px;
  }

  ul.packed {
    display: none;
  }

  li {
    padding-left: line-height-times(.25);
    white-space: nowrap;
  }

  & + #tab-content {
    border-bottom-left-radius: 0;
    background-color: $white;
    padding: line-height-times(1);

    &.sticked {
      overflow-y: auto;
      top: 24px !important;
    }
  }
}

.cms-sidebar-listing {

  h3 {
    margin: 0;
    padding-top: 36px;
  }

  ul {
    list-style: none;
  }

  li.no-results {
    display: none;
  }

  &.empty {
    li.no-results {
      display: list-item;
    }
  }

  .fa-folder-open:hover::before {
    content: '\f07c';
  }

  .fa-folder:hover::before {
    content: '\f07b';
  }

  .fa {
    cursor: pointer;
    margin-left: -line-height-times(.5);
    padding: line-height-times(.5) 0;
    position: relative;
    z-index: 100;

    &:hover {
      color: $link-color;
    }
  }

  .fa-folder,
  .fa-folder-open {
    color: $brand-blue;

    &:hover {
      color: $brand-blue;
    }
  }

  a {
    @include ellipsis;

    color: $font-color;
    display: inline-block;
    vertical-align: middle;
    width: 100%;

    &:hover,
    &.current {
      color: $link-color;
    }
  }

  /* stylelint-disable-next-line no-descending-specificity -- FIXME */
  li {
    border-top: $border-width solid $border-color;

    ul {
      margin-left: line-height-times(.5);
    }

    &.empty {
      margin-left: line-height-times(.5);
    }

    &.dragged {
      list-style: none;
      z-index: 9999;
    }

    &.dirty a {
      font-style: italic;
    }

    &.cms-section {
      position: relative;

      &::after {
        background-image: url('/assets/tree-line.png');
        background-position: 0;
        background-repeat: repeat-y;
        bottom: $border-width;
        content: '';
        position: absolute;
        top: line-height-times(1);
        width: line-height-times(1);
      }
    }
  }

  &:last-child {
    padding-bottom: line-height-times(1);
  }
}

#cms-sidebar-error-empty {
  display: none;
  margin: line-height-times(.5);
}

.cms-sidebar-listing:not(#cms-sidebar-content) {
  padding-left: line-height-times(.25);
}
