$tab-width: 20%;
$tab-content-width: 100% - $tab-width;
$tab-min-height: line-height-times(21, true);
$tab-content-z-index: 0;

#tab-content {
  @include white-box-shadow;

  border-left: $border-width solid $border-color;
  border-right: none;
  float: left;
  min-height: $tab-min-height;
  position: relative;
  width: $tab-content-width;
  z-index: $tab-content-z-index;

  .formtastic {
    box-shadow: none;
  }

  border-bottom-left-radius: 0;
  padding: line-height-times(1);

  &.sticked {
    overflow-y: auto;
    top: 24px !important;
  }
}

#cms-sidebar {
  @include white-box-shadow;

  font-size: $caption-font-size;
  float: left;
  width: 20%;
  position: relative;
  z-index: $tab-content-z-index + 1; /* Make sure it's above content's left shadow */

  .collapse-button {
    margin-left: -3px;
  }

  ul.packed {
    display: none;
  }

  .glowing {
    background-color: var(--pf-global--palette--black-150);
  }

  input.glowing {
    color: $highlight-color;
  }
}

.cms-sidebar-listing {
  h3 {
    margin: 0;
    padding-top: 36px;
  }

  ul {
    list-style: none;
  }

  &:not(.empty) {
    li.no-results {
      display: none;
    }
  }

  .fa-folder-open:hover::before {
    content: '\f07c';
  }

  .fa-folder:hover::before {
    content: '\f07b';
  }

  .fa {
    cursor: pointer;
    margin-left: -line-height-times(1 / 2);
    padding: line-height-times(1 / 2) 0;
    position: relative;
    z-index: 100;

    &:hover {
      color: $link-color;
    }
  }

  .fa-folder,
  .fa-folder-open {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  a {
    @include ellipsis;

    color: $font-color;
    display: inline-block;
    vertical-align: middle;
    width: 100%;

    &:hover,
    &.current {
      color: $link-color;
    }
  }

  li {
    border-top: $border-width solid $border-color;
    padding-left: line-height-times(1 / 4);
    white-space: nowrap;

    ul {
      margin-left: line-height-times(1 / 2);
    }

    &.empty {
      margin-left: line-height-times(1 / 2);
    }

    &.dragged {
      list-style: none;
      z-index: 9999;
    }

    &.dirty a {
      font-style: italic;
    }

    &.cms-section {
      position: relative;

      &::after {
        background-image: image-url('/assets/tree-line.png');
        background-position: 0;
        background-repeat: repeat-y;
        bottom: $border-width;
        content: '';
        position: absolute;
        top: line-height-times(1);
        width: line-height-times(1);
      }
    }
  }

  &:last-child {
    padding-bottom: line-height-times(1);
  }
}

#cms-sidebar-error-empty {
  display: none;
  margin: line-height-times(1 / 2);
}

*:focus {
  outline: none;
}

#cms-filter {
  margin-bottom: -$border-width;

  input {
    // border-left: $border-width solid $border-color;
    // border-radius: 0;
    // border-top: $border-width solid $border-color;
    // border: 0;
    // font-size: $font-size-sm;
    // width: 100%;
    border-bottom: 0;
    border-left: $border-width solid $border-color;
    border-radius: 0;
    border-right: 0;
    border-top: $border-width solid $border-color;
    font-size: $font-size-sm;
  }
}

#cms-sidebar-filter-origin {
  border-bottom: $border-width solid $border-color;

  li {
    height: line-height-times(2);
  }
}

#cms-sidebar-filter-origin,
#cms-sidebar-filter-type {
  display: flex;

  li {
    border-left: $border-width solid $border-color;
    flex: auto;
    text-align: center;
    align-content: center;

    &.active {
      font-weight: $font-weight-bold;
    }

    &.active,
    &:hover {
      color: $link-color;

      i.fa {
        color: $link-color;
      }
    }
  }

  [data-filter-type],
  [data-filter-origin] {
    cursor: pointer;
  }
}
