@use 'provider/colors' as *;
@use 'provider/typography' as *;
@use 'provider/legacy_theme';

.formtastic.cms_template,
.formtastic.cms_section,
.formtastic.cms_file {
  #cms_template_published_input {
    .cm-s-neat {
      background-color: $codemirror-bg-readonly;
      color: $codemirror-color-readonly;

      .CodeMirror-cursor {
        border-left: none !important;
      }

      &::after {
        transform: rotate(35deg);
        opacity: 0.1;
        content: "Published";
        top: -0.5rem;
        left: -2rem;
        text-align: center;
        font-size: 14rem;
        color: $label-color;
        position: absolute;
        transform-origin: 0 0;
      }
    }
  }

  .codemirror {
    list-style: none;

    // we have labels before codemirror inputs, this hides them
    // labels are there because of cucumber
    label[for="cms_template_draft"],
    label[for="cms_template_published"] {
      display: none;
    }
  }
}

#cms-template-editor {
  position: relative;

  ul.ui-tabs-nav {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    top: $border-width;

    li {
      margin-left: 0;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      text-align: center;
      border: $border-width solid $border-color;
      border-bottom: none;
      border-top-left-radius: $border-radius-sm;
      border-top-right-radius: $border-radius-sm;
      background-color: $border-color;

      a {
        display: inline-block;
        padding: line-height-times(1 / 3) line-height-times(1 / 2);
      }

      &.ui-state-active {
        font-weight: $font-weight-bold;
        border-color: $border-color;
        background-color: $codemirror-border;

        a {
          color: $font-color;
        }
      }
    }
  }

  .ui-tabs-hide {
    display: none;
  }

  ul.links {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: line-height-times(1 / 4);

    li {
      display: inline-block;
      vertical-align: top;
      margin-left: line-height-times(1);
    }
  }
}

#open-portal-to-public {
  @extend .right-column;
}

#cms-new-content-button {
  position: absolute;
  margin: var(--pf-global--spacer--lg);
  top: 0;
  right: 0;
}

html {
  height: 100%;
  overflow: auto;
}
