@use 'provider/colors' as *;
@use 'provider/typography' as *;
@use 'provider/legacy_theme';
@use 'sass:math';

#cms-template-editor {
  position: relative;

  ul.ui-tabs-nav {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    top: $border-width;

    li {
      margin-left: 0;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      text-align: center;
      border: $border-width solid $border-color;
      border-bottom: none;
      border-top-left-radius: $border-radius-sm;
      border-top-right-radius: $border-radius-sm;
      background-color: $border-color;

      a {
        display: inline-block;
        padding: line-height-times(math.div(1,3)) line-height-times(.5);
      }

      &.ui-state-active {
        font-weight: $font-weight-bold;
        border-color: $border-color;
        background-color: $codemirror-border;

        a {
          color: $font-color;
        }
      }
    }
  }

  .ui-tabs-hide {
    display: none;
  }

  ul.links {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: line-height-times(.25);

    li {
      display: inline-block;
      vertical-align: top;
      margin-left: line-height-times(1);
    }
  }
}

#open-portal-to-public {
  @extend .right-column;
}

#cms-new-content-button {
  position: absolute;
  margin: var(--pf-global--spacer--lg);
  top: 0;
  right: 0;
}

html {
  height: 100%;
  overflow: auto;
}
