h2 New Application

div id="new-application-form" data=(new_application_form_metadata(provider: @provider, service: @service))
  = javascript_pack_tag 'new_application'
  = javascript_pack_tag 'PF4Styles/application'
