h1 APIcast Custom Policy Integrations
p.help Custom Policies listed here will show up in the list of available policies on the APIcast configuration page of each of your APIs. 
- content_for :javascripts do
  = javascript_pack_tag 'custom_policies'

= content_tag :div, class: 'PoliciesWidget', id: 'custom-policies-container', data: { policies: @policies.as_json }  do end
