h1 APIcast Custom Policies
p.help Custom policies added here can be used and configured in the Policy Chain of any 3scale API that runs on APIcast self-managed.
- content_for :javascripts do
  = javascript_pack_tag 'custom_policies'

= content_tag :div, class: 'PoliciesWidget', id: 'custom-policies-container', data: { policies: @policies.as_json }  do end
