- content_for :javascripts do
  = javascript_packs_with_chunks_tag 'email_configurations_index'

- content_for :main_section_with_react do
  div id='email-configurations-index-container' data=presenter.index_data
