.pf-c-select__menu--with-sticky-footer .pf-c-select__menu-footer {
  position: sticky;
  bottom: calc(-1 * var(--pf-global--spacer--sm));
  background-color: var(--pf-global--BackgroundColor--100);
}
