.pf-c-select__menu {
  max-height: 20em;
  overflow: auto;
}

// For a select box with fixed link at the bottom, select the last li to be that sticky link
.pf-c-select__menu--with-fixed-link li:last-of-type {
  position: sticky;
  bottom: calc(-1 * var(--pf-global--spacer--sm));
  padding-top: var(--pf-global--spacer--xs);
  padding-bottom: var(--pf-global--spacer--sm);
  background-color: var(--pf-global--BackgroundColor--100);
}

// Make the sticky link look like a link
.pf-c-select__menu--with-fixed-link li:last-of-type .pf-c-select__menu-item {
  color: var(--pf-global--link--Color);
}

.pf-c-select__menu--with-fixed-link li:last-of-type .pf-c-select__menu-item:hover {
  background-color: var(--pf-global--BackgroundColor--100);
  color: var(--pf-global--link--Color--hover);
}
