@use 'provider/colors' as *;
@use 'provider/typography' as *;
@use 'provider/legacy_theme';
@use 'utils';

#account-column-wrapper {
  overflow: hidden;
  margin-bottom: line-height-times(2);

  #account-overview,
  #plan-overview {
    @extend .left-column;

    table tr {
      border-bottom: $border-width solid $border-color;
    }
  }

  #plan-overview {
    @extend .right-column;
  }

  .overview-box {
    table.list {
      @include utils.white-box-shadow;

      margin: 1px;

      tr:last-child {
        th,
        td {
          border-bottom: 2px solid transparent;
        }
      }
    }

    #account-redhat-connect p,
    #account-cancellation p {
      @include utils.white-box-shadow;

      margin: 1px;
    }

    /* stylelint-disable-next-line no-descending-specificity -- FIXME */
    table.list th, table.list td {
      padding: line-height-times(1);
    }
  }

}

#key-overview {
  margin-bottom: line-height-times(2);

  .info {
    @include utils.white-box-shadow;
  }

  .key {
    background-repeat: no-repeat;
    background-position: 10px 20px;
    background-image: url('/assets/provider/key-background.png');
    text-align: center;
    vertical-align: middle;
    padding: 40px 5px 15px 45px;
    font-size: 26px;
  }
}


#account-redhat-connect,
#account-cancellation,
#account-upgrade {
  margin-top: 5em;
}

.included {
  color: $success-color;
}

.excluded {
  color: $error-color;
}
