#account-column-wrapper {
  overflow: hidden;
  margin-bottom: line-height-times(2);

  #account-overview,
  #plan-overview {
    @extend div.left;

    table tr {
      border-bottom: $border-width solid $border-color;
    }
  }

  #plan-overview {
    @extend div.right;
  }

  .overview-box {
    table.list {
      @include white-box-shadow;
      margin: 1px;

      tr:last-child {
        th,
        td {
          border-bottom: 2px solid transparent;
        }
      }
    }

    #account-redhat-connect p,
    #account-cancellation p {
      @include white-box-shadow;
      margin: 1px;
    }

    table.list th,
    table.list td {
      padding: line-height-times(1);
    }
  }

}

#key-overview {
  margin-bottom: line-height-times(2);

  .info {
    @include white-box-shadow;
  }

  .key {
      background-repeat: no-repeat;
      background-position: 10px 20px;
      background-image: image-url('provider/key-background.png');

      text-align: center;
      vertical-align: middle;


      padding: 40px 5px 15px 45px;
      font-size: 26px;
  }
}


#account-redhat-connect,
#account-cancellation,
#account-upgrade {
  margin-top: 5em;
}

.included {
  color: $success-color;
}

.excluded {
  color: $error-color;
}
