.Dashboard {
  clear: both;
}

.DashboardSection {
  float: left;
  width: 100%;
  clear: both;

  &-header {
    width: 100%;
    text-transform: uppercase;

    .DashboardSection-title {
      font-weight: $font-weight-bold;
      float: left;
      margin-right: var(--pf-global--spacer--md);
    }

    .DashboardNavigation {
      float: right;

      ul {
        border: 0;
        overflow: hidden;

        .DashboardNavigation-list-item {
          @include ellipsis;

          margin-left: line-height-times(1.5);

          @media (max-width: 1235px) {
            margin-left: line-height-times(1);
          }

          &:first-child {
            margin-left: 0;
          }

          float: left;

          a.DashboardNavigation-link {
            color: var(--pf-global--Color--100);

            &:hover {
              color: $link-hover-color;
            }

            &.u-notice {
              color: $warning-color;
            }

            &.u-notice:hover {
              color: $warning-color-hover;
            }
          }
        }
      }
    }
  }
}

.DashboardWidget {
  @include white-box-shadow;

  float: left;
  height: line-height-times(10);
  overflow: hidden;
  padding: line-height-times(1 / 2);
  position: relative;
  width: 50%;

  &:only-of-type {
    width: 100%;
  }

  &--spinner-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Dashboard-chart {
    position: absolute !important;
    z-index: 1;
    padding: 0;
    max-height: none !important;
    inset: calc(#{line-height-times(3)} - 4px) 9px 5px 8px;

    .c3-bar._expanded_,
    .c3-bar._expanded_:last-child {
      fill: $link-color !important;
      fill-opacity: 1;
      stroke: $link-color !important;
    }

    .c3-bar:last-child {
      fill: transparent !important;
      shape-rendering: geometricPrecision;
      stroke: $border-color !important;
      stroke-width: $border-width;
    }
  }

  &-title {
    font-weight: $font-weight-light;
    margin-bottom: 0;
    padding-top: 0;
    float: left;
    font-size: $secondary-title-font-size;
    line-height: $line-height-sm;

    strong {
      font-weight: $font-weight-light;
    }
  }

  &-percentageInfo {
    float: right;
    text-align: right;
    font-size: $secondary-title-font-size;
    width: 50%;
    margin-bottom: 0;
    line-height: $line-height-sm;
  }

  &-intro {
    @include ellipsis;

    display: block;
    font-size: $font-size-sm;
    font-style: italic;
    color: $light-color;
    margin-bottom: line-height-times(1 / 2);
    clear: both;

    &--primary {
      float: left;
    }

    &--secondary {
      float: right;
      clear: none;
      overflow: visible;
    }
  }

  &-link--infoOnly {
    color: $font-color;
  }
}

.DashboardWidgetList {
  list-style: none;
  font-size: $font-size-sm;

  &-link {
    @include ellipsis;

    display: block;
    color: $font-color;
    padding: line-height-times(1 / 4, true) 0 line-height-times(1 / 4);
    border-bottom: $border-width solid $border-color;

    &:hover,
    &:hover .DashboardWidgetList-change {
      color: $link-color;
    }
  }

  &-item:last-of-type .DashboardWidgetList-link {
    border-bottom: 0;
  }
}

.Dashboard-widgets {
  float: left;
  padding-right: line-height-times(2);
  width: 80%;
}

.DashboardStream {
  float: right;
  margin: line-height-times(1) 0;
  width: 20%;

  &-title {
    text-transform: uppercase;
    color: $light-color;
    font-weight: $font-weight-normal;
    font-size: $font-size-base;
  }

  &-list {
    list-style: none;
    color: $light-color;

    & + .DashboardStream-title {
      margin-top: line-height-times(1);
    }
  }

  &-listItem {
    border-top: $border-width solid $border-color;
    padding: line-height-times(1 / 4, true) 0 line-height-times(1 / 4);
    font-size: $font-size-sm;

    &--empty {
      font-style: italic;
      padding: 0;
    }
  }

  /* TODO: probably never used. Check Dashboard::MessagesPresenter */
  &-link {
    @include ellipsis;

    display: block;
    color: $light-color;

    &--unread {
      color: $font-color;
    }

    &:hover {
      color: $link-color;
    }
  }
}

.u-plus::before {
  content: '+';
}

.u-minus::before {
  content: '-';
}
