@use 'provider/typography' as *;
@use 'provider/legacy_theme';
@use 'utils';

#account-column-wrapper {
  overflow: hidden;
  margin-bottom: line-height-times(2);

  #account-overview,
  #plan-overview {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- will disappear when implementing grid layout */
    @extend .left-column;
  }

  #plan-overview {
    /* stylelint-disable-next-line scss/at-extend-no-missing-placeholder -- will disappear when implementing grid layout */
    @extend .right-column;
  }

  .overview-box {
    #account-redhat-connect p,
    #account-cancellation p {
      @include utils.white-box-shadow;

      margin: 1px;
    }
  }
}

#key-overview {
  margin-bottom: line-height-times(2);

  .info {
    @include utils.white-box-shadow;
  }

  .key {
    background-repeat: no-repeat;
    background-position: 10px 20px;
    background-image: url('/assets/provider/key-background.png');
    text-align: center;
    vertical-align: middle;
    padding: 40px 5px 15px 45px;
    font-size: 26px;
  }
}

#account-redhat-connect,
#account-cancellation {
  margin-top: 5em;
}
