@use 'provider/colors' as *;
@use 'provider/typography' as *;

/* Grid gutter space defined by --pf-l-grid--m-gutter--GridGap, default is 1rem. */

button.pf-c-button.pf-m-primary.pf-c-button__float-button {
  display: none;
}

@media screen and (min-width: 1200px) {
  button.pf-c-button.pf-m-primary.pf-c-button__float-button {
    display: block;
    background-color: #b1b1e6;
    top: 0;
    color:black;
    margin: 470px -50px 0 0;
    position: absolute;
    right: 0;
    transform: rotate(-90deg);

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

section#audience {
  .dashboard-widget {
    height: 18rem;

    &:only-of-type {
      width: 100%;
    }
  }

  .dashboard-widgets > div {
    align-self: flex-start;
  }

  #new-accounts-widget {
    .pf-c-panel__main {
      width: 100%;

      .pf-l-level {
        align-items: baseline;
      }
    }

    .inline-title {
      display: inline;
    }

    .new-accounts-chart {
      position: absolute !important;
      inset: calc(#{line-height-times(3)} - 4px) 9px 5px 8px;

      .c3-bar._expanded_,
      .c3-bar._expanded_:last-child {
        fill: $link-color !important;
        fill-opacity: 1;
        stroke: $link-color !important;
      }

      .c3-bar:last-child {
        fill: transparent !important;
        shape-rendering: geometricPrecision;
        stroke: $border-color !important;
        stroke-width: $border-width;
      }
    }
  }

  #dashboard-widget-potential_upgrades .pf-c-content > h2 {
    margin-bottom: 0;
  }
}

.pf-m-flex-8 {
  flex: 8 0 0;
}

.dashboard-developers-navigation {
  width: 100%;
  text-transform: uppercase;

  h1 {
    float: left;
    margin-right: var(--pf-global--spacer--md);
  }

  ul {
    float: right;

    li {
      .dashboard-navigation-link {
        color: var(--pf-global--Color--100);

        &:hover {
          color: $link-hover-color;
        }
      }

      .dashboard-navigation-secondary-link {
        color: $warning-color;

        &:hover {
          color: $warning-color-hover;
        }
      }
    }
  }
}

section#messages {
  h4 {
    text-transform: uppercase;
  }

  .messages-empty {
    font-style: italic;
  }
}

section#apis {
  #products-widget,
  #backends-widget {
    .dashboard-list-icon-title-layout {
      display: flex;
      align-items: center;
    }

    .dashboard-list-secondary {
      color: var(--pf-global--disabled-color--100);
      font-size: var(--pf-global--FontSize--sm);
    }

    button.pf-c-dropdown__toggle {
      height: 29px;
      margin-top: -6px;
    }

    .pf-c-card__footer {
      margin-left: auto;
    }

    .pf-c-data-list__item-row {
      --pf-c-data-list__item-row--PaddingLeft: 0;
    }
  }
}
