<h2>Thank you for submitting your registration for access to 3scale.</h2>

<p>We will email you again later when we are ready to invite you to the beta program.</p>

<p>-- the 3scale Developer Team</p>
