$white: white;
$black: black;
$stripe-form-card-error-color: rgb(105, 115, 134);
$stripe-form-input-placeholder-color: #3f454c;
$stripe-form-font-family: "Helvetica Neue", Helvetica, sans-serif;

.StripeElementsForm {

  .editCardButton {
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    text-align: right;
    text-decoration: none;
    width: 100%;

    &:hover {
      text-decoration: none;
    }

    .fa {
      margin-right: 5px;
    }
  }

  .cardErrors {
    margin: 1rem;
  }

  input {
    background-color: transparent;
    border: 0;
    color: $black;
    font-family: $stripe-form-font-family;
    font-size: 19px;
    font-weight: 300;
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    color: $stripe-form-input-placeholder-color;
    font-style: normal;
  }

  .form-element + .form-element {
    margin-top: 6px;
  }

  .hidden {
    display: none;
  }

  .card-error {
    color: $stripe-form-card-error-color;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
    text-align: left;
  }

}
