@use "provider/colors" as *;
@use "provider/typography" as *;
@use "provider/logo";

html,
body,
header,
div,
span,
h1,
p,
a,
code,
strong,
ul,
ol,
li,
form,
fieldset,
input,
button,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

header,
main {
  display: block;
  margin: 0 auto;
  text-align: left;
  max-width: 50em;
  min-width: 20em;
  position: relative;
}

// typography
@function calculateRem($size) {
  $remSize: $size / 16px;

  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculaterem($size);
}

// sizes
$font-size-x-small: 12px;
$font-size-small: 14px;
$font-size: 16px;
$font-size-large: 18px;
$font-size-x-large: 24px;
$font-size-xx-large: 32px;
$font-size-xxx-large: 48px;

// line height
$line-height: $font-size * 1.5;

// weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

// families
$font-family-text: $font-family-base;

// colors
$color-grey-1: $font-color;
$color-grey-2: $label-color;
$color-grey-3: $disabled-color;
$color-grey-4: $border-color;
$color-success: $success-color;
$success-color: $color-success;
$color-failure: $error-color;
$error-color: $color-failure;
$color-disabled: $color-grey-3;
$color-text-primary: $color-grey-1;
$color-text-secondary: $color-grey-2;
$color-text-tertiary: $color-grey-3;
$color-border: $color-grey-4;
$color-brand-primary: $brand-orange;
$color-brand-secondary: $highlight-color; // blue
$color-link: $color-brand-secondary;
$color-link-hover: $color-text-primary;

// elements

html {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: $font-family-text;
  font-size: $font-size;
  color: $color-text-primary;
}

body {
  text-align: center;
}

hr {
  box-sizing: border-box;
  height: 24px;
  margin: 0;
  border: none;
  border-bottom: 1px solid $color-border;
}

strong {
  font-weight: $font-weight-bold;
}

a,
.link {
  color: $color-link;
  cursor: pointer;

  &:hover {
    color: $color-link-hover;
  }
}

header {
  margin-top: line-height-times(1);
  margin-bottom: line-height-times(2);
}

h1 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: $font-weight-normal;
  margin-bottom: line-height-times(1);
}

p {
  margin-top: 0;
  margin-bottom: line-height-times(1);
}

h1 + p {
  margin-top: -(line-height-times(1));
}

.wizard-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
  font-size: 2rem;
  line-height: 0;
  color: $color-border;
}

.success {
  color: $color-success;
}

.failure {
  color: $color-failure
}

// button
$button-color-border: $color-brand-secondary;
$button-color: $button-color-border;
$button-color-hover: white;

.button {
  box-sizing: border-box;
  margin-top: line-height-times(1);
  margin-bottom: line-height-times(1);
  text-decoration: none;
  color: $button-color;
  line-height: 0;
  border-radius: 6px;
  float: right;
  background-color: white;
  cursor: pointer;
  font-size: $font-size;
  border-width: 0.125rem;
  border-style: solid;
  padding: 1.375rem;
  border-color: $button-color-border;

  &:hover {
    background-color: $button-color-border;
    color: $button-color-hover;
  }
}

.button--next::after {
  content: " ›";
}

.button[disabled] {
  color: $color-disabled;
  border-color: $color-disabled;

  &::after {
    content: normal;
  }

  &:hover {
    background-color: $button-color-hover;
  }
}

// button nudge animation
@keyframes button-nudge {
  0%,
  100% {
    background-color: $button-color-hover;
    color: $button-color;
  }

  50% {
    background-color: $button-color-border;
    color: $button-color-hover;
  }
}


input {
  outline: none;
}

input[type="text"] {
  ::placeholder {
    color: $color-text-tertiary;
    font-style: italic;
    height: 1.5rem;
  }

  box-sizing: border-box;
  text-decoration: none;
  color: $button-color;
  height: 3.125rem;
  float: right;
  background-color: white;
  font-size: $font-size;
  border: none;
  border-bottom: 0.125rem solid $color-border;
  border-color: $color-border;
  width: 60%;

  &:hover {
    border-color: $color-text-tertiary;
  }

  &:focus {
    border-color: $color-brand-secondary;
  }
}

.error input {
  border-color: $color-failure;
}

.inline-errors {
  float: right;
  width: 60%;
  color: $color-failure;
  font-style: italic;
}

form li {
  display: block;
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: line-height-times(1);


  &.slim {
    display: inline;
    margin-bottom: -(line-height-times(0.5));
    max-width: 80%;

    label {
      text-align: left;
      width: auto;
      padding-left: 0;
    }

    input {
      float: left;
    }
  }

  &.hidden {
    display: none;
  }
}

fieldset {
  border: none;

  &:hover {
    color: $color-text-primary;
  }
}

/* stylelint-disable-next-line no-descending-specificity -- FIXME */
label {
  box-sizing: border-box;
  display: block;
  width: 40%;
  float: left;
  text-align: right;
  line-height: 0;
  height: $line-height;
  border-width: 0.125rem;
  border-style: solid;
  padding: 1.375rem;
  border-color: transparent;
}


.fa-ul {
  margin-left: 0;
}

.logo-3scale {
  margin: 0;
  padding: 0;
  float: none;
}

.logo-3scale--svg {
  height: $line-height * 1.5;
}

.explain {
  margin-top: line-height-times(1);

  .text {
    padding-top: line-height-times(0.5);
  }


  .text--down {
    padding-top: line-height-times(1);
  }

  .text--up {
    padding-top: 0;
  }

  .is-transparent {
    opacity: 0;
  }

  .explain__step--1 {
    animation: focus 1s ease-out 1s forwards,
      focus-border 1s ease-out 1s forwards,
      unfocus 1s ease-out 5s forwards,
      unfocus-border 1s ease-out 5s forwards,
      success 1s ease-out 15s forwards,
      success-border 1s ease-out 15s forwards;

    .icon {
      animation: focus 1s ease-out 1s forwards,
        unfocus 1s ease-out 5s forwards,
        success 1s ease-out 15s forwards;
    }

    .text {
      animation: reveal 1s ease-out 1s forwards;
    }

    .code-example {
      animation: reveal 1s ease-out 1s forwards;

      * {
        animation: unfocus 1s ease-out 5s forwards;
      }

      &:hover {
        * {
          animation: clean 0.2s ease-out 0 forwards;
        }
      }
    }
  }

  .explain__step--2 {
    animation: focus 1s ease-out 5s forwards,
      focus-border 1s ease-out 5s forwards,
      unfocus 1s ease-out 10s forwards,
      unfocus-border 1s ease-out 10s forwards,
      success 1s ease-out 15s forwards,
      success-border 1s ease-out 15s forwards;

    .icon {
      animation: focus 1s ease-out 5s forwards,
        unfocus 1s ease-out 10s forwards,
        success 1s ease-out 15s forwards;
    }

    .text {
      animation: reveal 1s ease-out 5s forwards;
    }

    .code-example {
      animation: reveal 1s ease-out 5s forwards;

      /* stylelint-disable-next-line no-descending-specificity -- FIXME */
      * {
        animation: unfocus 1s ease-out 10s forwards;
      }

      &:hover {
        * {
          animation: clean 0.2s ease-out 0 forwards;
        }
      }
    }
  }

  .explain__step--3 {
    animation: focus 1s ease-out 10s forwards,
      unfocus 1s ease-out 15s forwards,
      success 1s ease-out 15s forwards;

    .icon {
      animation: focus 1s ease-out 10s forwards,
        unfocus 1s ease-out 15s forwards,
        success 1s ease-out 15s forwards;
    }

    .text {
      animation: reveal 1s ease-out 10s forwards;
    }
  }
}

// Block: code example

// colors
$code-color-base: $color-success;
$code-color-path: $color-brand-secondary;
$code-color-params: $color-brand-primary;

/* stylelint-disable-next-line no-descending-specificity -- FIXME */
.code-example {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $color-text-secondary;

  .code-example__base {
    color: $code-color-base;
  }

  .code-example__path {
    color: $code-color-path;
  }

  .code-example__params {
    color: $code-color-params;

    &::before {
      content: '?';
      color: $color-text-secondary;
    }
  }

  .code-example--slash::after {
    content: '/';
    color: $color-brand-secondary;
  }

  .feedback--inactive .code-example--slash::after {
    color: $color-text-secondary;
  }

  .code-example--optional {
    &::before {
      content: '(';
      color: $color-text-secondary;
    }

    &::after {
      content: ')';
      color: $color-text-secondary;
    }
  }

  .code-example__params.code-example--optional {
    &::before {
      content: '(?';
    }
  }
}

$feedback-color-active: $color-brand-secondary;
$feedback-color-success: $color-success;
$feedback-color-failure: $color-failure;
$feedback-color-inactive: $color-text-secondary;

.feedback {
  border-left: 5px solid transparent;
  padding-left: 72px;
  margin-left: 24px;
  border-color: transparent;
  padding-bottom: 4.5rem;
  min-height: $line-height * 2;
  font-size: 1.125rem;
  line-height: 1.5rem;

  /* stylelint-disable-next-line no-descending-specificity -- FIXME */
  .code-example {
    position: relative;
    top: $line-height * 2;
    left: $line-height * -2;
  }

  &.feedback--connect {
    padding-bottom: 0;
  }

  &.feedback--sec {
    padding-bottom: 0;
    min-height: auto;
  }

  &.feedback--success {
    border-color: $feedback-color-success
  }

  &.feedback--failure {
    border-color: $feedback-color-failure;
  }

  &.feedback--active {
    border-color: $feedback-color-active;
  }

  &.feedback--inactive {
    border-color: $feedback-color-inactive;
  }

  /* stylelint-disable-next-line no-descending-specificity -- FIXME */
  .icon {
    color: $color-text-secondary;
  }

  .icon--sec {
    color: $color-text-primary;
  }

  .icon--focus {
    color: $feedback-color-active;
  }

  .icon--success {
    color: $feedback-color-success;
  }

  .icon--failure {
    color: $feedback-color-failure;
  }

  &>[class*="fa-li"] {
    font-size: 36px;
    background-color: white;
    margin-left: 46px;
    padding: 16px 0 48px;
    width: 48px;
    height: 56px;
  }

  .fa-mobile-alt {
    font-size: 48px;
    margin-left: 70px;
  }

  .fa-puzzle-piece {
    text-indent: 10px;
  }
}


// reveal animation
@keyframes reveal {
  0%,
  100% {
    visibility: visible;
    opacity: 1;
  }
}

// focus animation
@keyframes focus {
  0%,
  100% {
    color: $color-brand-secondary;
  }
}

// unfocus animation
@keyframes unfocus {
  0%,
  100% {
    color: $color-text-secondary;
  }
}

// focus border animation
@keyframes focus-border {
  0%,
  100% {
    border-color: $color-brand-secondary;
  }
}

// unfocus border animation
@keyframes unfocus-border {
  0%,
  100% {
    border-color: $color-text-secondary;
  }
}

// success animation
@keyframes success {
  0%,
  100% {
    color: $color-success;
  }
}

// success border animation
@keyframes success-border {
  0%,
  100% {
    border-color: $color-success;
  }
}

// clean animation
@keyframes clean {
  0%,
  100% {
    color: auto;
  }
}

.response {
  overflow-y: auto;
  max-height: $line-height * 20;
  display: block;
}

.is-hidden {
  display: none;
}
