<ul id="admin">
	<li><%= link_to 'Dashboard', admin_dashboard_path  %></li>
	<li> | </li>
	<li><%= link_to 'Settings', admin_profile_settings_path  %></li>
	<li> | </li>
	<li><%= link_to 'Picture', admin_logo_path %></li>
	<li> | </li>
	<li><%= link_to 'Sign out', logout_path %></li>
</ul>

<br class="clear" />
