#api_selector

javascript:
  document.addEventListener('DOMContentLoaded', function () {
    window.ContextSelector({
      currentApi: #{json @service},
      apis: #{json api_selector_services},
      controllerName: #{json controller_name}
    }, 'api_selector')
  })
