= javascript_pack_tag 'api_selector'

#api_selector data={ 'current-api': current_api.to_json,
                     'active-menu': active_menu,
                     'audience-link': audience_link,
                     'products-link': admin_services_path,
                     'backends-link': provider_admin_backend_apis_path }
