<div id="docs-widget" class="nav-search-widget">
  <form class="docs-search" data-role="search">
    <a href="#" data-role="close" class="close-widget">x</a>
    <input type="search" class="docs-search-input" name="q" results="5" placeholder= "Search Documentation"/>
  </form>
  <div class="docs-search-results">
    <ol data-role="results">
    </ol>
  </div>
</div>
