<p class="InfoBox InfoBox--notice">By <strong>Entering Credit Card Details</strong> you agree to the
  <%= link_to 'Terms of Service', credit_card_terms_url, :id => "terms-link" %>,
  <%= link_to 'Privacy', credit_card_privacy_url, :id => "privacy-link" %>, and
  <%= link_to 'Refund', credit_card_refunds_url, :id => "refunds-link" %> policies.</p>
