h1 New Mapping Rule

div{ id="new-mapping-rule-form" data-url=url
                                data-http-methods=ProxyRule::ALLOWED_HTTP_METHODS
                                data-is-proxy-pro-enabled=is_proxy_pro_enabled
                                data-top-level-metrics=top_level_metrics
                                data-errors=errors
                                data-methods=methods}
  = javascript_pack_tag 'new_mapping_rule'
