- current_setting = settings.send(permission)

div class="pf-c-form__group-control pf-m-stack"
  = render 'plan_change_radio', permission: permission,
                                value: 'request',
                                checked: current_setting == 'request'
  = render 'plan_change_radio', permission: permission,
                                value: 'direct',
                                checked: current_setting == 'direct',
                                hint: can?(:see, :finance) ? t('formtastic.hints.settings.change_plan_finance') : nil
  - if can?(:see, :finance)
    = render 'plan_change_radio', permission: permission,
                                  value: 'credit_card',
                                  checked: current_setting == 'credit_card'
    = render 'plan_change_radio', permission: permission,
                                  value: 'request_credit_card',
                                  checked: current_setting == 'request_credit_card'
    = render 'plan_change_radio', permission: permission,
                                  value: 'none',
                                  checked: current_setting == 'none',
                                  hint: t("formtastic.hints.settings.#{permission}")
