<% if (current_account && current_account.master?) %>
  <div id="ribbon-container">
    <div class="banner">
      <h2 title="All your base are belong to us.">
        Master Account
     </h2>
    </div>
  </div>
<% end %>
