<% content_for :sublayout_title, 'Service Plans' %>

<p class="description">Service plans allow you to define grades of
service for each of the services (APIs) available through your
developer portal. The plans allow you to define pricing per service
and features available.</p>

<%= render :partial => 'api/plans/listing' %>
