@import "~@patternfly/patternfly/sass-utilities/mixins.scss";
@import "~@patternfly/patternfly/components/Button/button.scss";
@import "~@patternfly/patternfly/components/Card/card.scss";

#email-configurations-edit-container {
  // HACK: removes Main 1.5 rem padding
  margin: -1.5rem;

  .pf-c-page__main-section {
    form {
      // isWidthLimited isn't available in current version. See: https://github.com/patternfly/patternfly-react/blob/master/packages/react-core/src/components/Form/Form.tsx#L12
      max-width: 500px;
    }
  }

  .pf-c-form__actions .pf-c-button .pf-m-danger {
    margin-left: auto;
  }
}
