#email-configurations-index-page {
  // HACK: removes Main 1.5 rem padding
  margin: -1.5rem;

  // HACK: force pagination in bottom toolbar to stick to the right
  #bottom-toolbar .pf-l-toolbar__item {
    flex: auto;
  }

  // HACK: variant='filter-group' should already provide the necessary styles once PF is upgraded
  .pf-l-toolbar {
    [variant="filter-group"] {
      display: flex;

      .pf-l-toolbar__item {
        margin-right: 1rem;
      }
    }
  }
}
