javascript:
  document.addEventListener('DOMContentLoaded', function () {
    let widgetPath = #{json widget.path}
    let serviceId = #{json widget.params[:service_id]}

    const { loadAudienceWidget, loadServiceWidget } = window.dashboardWidget

    if (serviceId === null) {
      loadAudienceWidget(widgetPath)
    } else {
      loadServiceWidget(serviceId, widgetPath)
    }
  })
