javascript:
  document.addEventListener('DOMContentLoaded', function () {
    let widgetPath = #{json widget.path}
    let serviceId = #{json widget.params[:service_id]}

    if (serviceId === null) { // Audience Widget
      dashboardWidget(widgetPath)
    } else {
      let value = window.localStorage['toggle:service_' + serviceId]
      if (value && !JSON.parse(value)['is-closed']) {
        dashboardWidget(widgetPath)
      }

      let container = document.getElementById('service_' + serviceId)
      let title = container.querySelector('.DashboardSection-toggle')
      title.addEventListener('click', function () {
        let isCurrentlyClosed = container.classList.contains('is-closed')
        if (isCurrentlyClosed) {
          dashboardWidget(widgetPath)
        }
      })
    }
  })
