javascript:
  document.addEventListener('DOMContentLoaded', function () {
    let widgetPath = #{json widget.path}
    let serviceId = #{json widget.params[:service_id]}

    if (serviceId === null) {
      dashboardWidget.loadAudienceWidget(widgetPath)
    } else {
      dashboardWidget.loadServiceWidget(serviceId, widgetPath)
    }
  })
