div id=id

javascript:
  document.addEventListener('DOMContentLoaded', function () {
    var apis = #{ json collection.as_json(root: false, only: [:id, :name]) }
    var domClass =  "#{ dom_class collection }"
    var placeholder = "#{ placeholder }"

    var displayApis = function (filteredApis) {
      apis.forEach(function (api) {
        var isFilteredApi = filteredApis.some(function (filteredApi) {
          return filteredApi.id === api.id
        });

        document.getElementById(`${domClass}_${api.id}`).classList.toggle('hidden', !isFilteredApi)
      })
    }

    window.ApiFilter({ apis, placeholder, displayApis }, "#{id}")
  })
