div#backends-widget data-backends-widget={ backends: @widget_backends,
                                           newBackendPath: new_provider_admin_backend_api_path,
                                           backendsPath: provider_admin_backend_apis_path }.to_json
  = javascript_pack_tag 'dashboard_backends_widget'
