<%= link_to provider_admin_cms_switch_path(switch.name),
           id: "switch-#{switch.name}-toggle",
           data: { method: (switch.hidden? ? "put" : "delete"), remote: true, value: false },
           rel: "nofollow" do %>
     <% if switch.hidden? %>
       <button class="pf-c-button pf-m-primary next">Show</button>
     <% else %>
      <button class="pf-c-button pf-m-secondary next">Hide</button>
     <% end %>
<% end %>
