<p>We are working on a more detailed integration guide for the <%= t("plugins.#{plugin_language_name}") %> plugin.

<%= render 'api/integrations/plugin/download_links', :language => plugin_language_name %>
</p>
