.hidden {
  display: none !important;
}

#service_deployment_option_input {
  label span,
  .inline-hints {
    display: none;
  }
}
.deployment_option_hosted label::after {
  content: ' 3scale managed';
}
