.pf-c-page__main-section {
  form {
    // isWidthLimited isn't available in current version. See: https://github.com/patternfly/patternfly-react/blob/master/packages/react-core/src/components/Form/Form.tsx#L12
    max-width: 500px;
  }

  .pf-c-form__group-narrow {
    max-width: 110px;
  }
}
