<% std_opts = "--strict --tags ~@wip #{ENV['CUCUMBER_OPTIONS']}" %>
default: <%= std_opts %>
<% tags = %w[ @backend @emails @stats @search @no-txn ] %>
list: --dry-run --format Cucumber::Formatter::List
ci: --profile default --backtrace --strict --verbose --format junit --out tmp/junit/cucumber --format progress
txn: --profile default --tags=~@javascript <%= tags.map { |tag| "--tags=~#{tag}" }.join(' ') %>
no-txn: --profile default --tags=~@javascript --tags=<%= tags.join(',') %>
javascript: --profile default --tags=~@ignore --tags=@javascript
visual: -b --tags=@percy
