<div class="warning">
  <h2>This token has expired</h2>
  <p>If you have already registered, please <%= link_to 'login', login_path %>. If not, please ask your admin to issue a new invitation.</p>
</div>
