@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/neat.css';

$orange300: var(--pf-global--palette--orange-300);
$background-color: var(--pf-global--BackgroundColor--200);
$border-color: var(--pf-global--palette--black-300);
$error-color: var(--pf-global--danger-color--100);
$codemirror-vars-color: #00b9e4; // pf-light-blue-400
$codemirror-vars2-color: #703fec; // pf-purple-400
$codemirror-liquid-bg-color: transparent;
$highlight-color: var(--pf-global--palette--blue-400);

// Copied from _selector.scss
$border-width: 1px !default;

// Copied from _typography.scss
$lineHeight: 1.5;
$line-height-sm: calc(2 / 3 * $lineHeight);
$line-height-base: calc(3 / 3 * $lineHeight);
$line-height-lg: calc(4 / 3 * $lineHeight);


@function line-height-times($multiplier: 1, $subtract-border: false) {
  $spacer: $line-height-base * 1rem * $multiplier;

  @if $subtract-border == true {
    @return calc(#{$spacer} - #{$border-width});
  } @else {
    @return $spacer;
  }
}

$border-radius: line-height-times(.125);
$border-width-lg: 2.0 * $border-width;
$font-weight-bold: 700;

/* Everything Liquid (Copied from vendors/assets/styles/codemirror/liquid) */
.CodeMirror .cm-liquid {
  color: $highlight-color;
  background-color: $codemirror-liquid-bg-color;
}

.cm-liquid.CodeMirror-searching {
  background-color: var(--pf-global--BackgroundColor--light-200);
}

/* Number constants */
.CodeMirror .cm-liquid-atom {
  color: #A0B;
}

/* String constants */
.CodeMirror .cm-liquid-string {
  color: var(--pf-global--success-color--100);
}

/* {{, }}, {%, %} */
.CodeMirror .cm-liquid-markup-delimiter {
  color: $highlight-color;
}

/* The name of a Liquid tag (if, assign, for, ...) */
.CodeMirror .cm-liquid-tag-name {
  color: var(--pf-global--palette--black-500);
}

/* The closing name of a Liquid block tag (endif, endfor) */
.CodeMirror .cm-liquid-endtag-name {
  color: var(--pf-global--palette--black-500);
}

/* Keywords (in, reversed, with, ...) */
.CodeMirror .cm-liquid-keyword {
  font-weight: bold;
}

/* The name of a Tag attribute (limit, offset) */
.CodeMirror .cm-liquid-tag-attribute-name {
  font-style: italic;
}

/* A method of a drop */
.CodeMirror .cm-liquid-method {
  font-style: italic;
}

/* The name one can give to a cycle tag */
.CodeMirror .cm-liquid-tag-cycle-name {
  font-style: italic;
}

/* A filter in output markdown */
.CodeMirror .cm-liquid-filter {
  font-style: italic;
}

/* adjusted copy of the 'neat' theme which we are using (Copied from cms) */
.CodeMirror-scroll {
  min-height: line-height-times(13);
  border: line-height-times(calc(1 / 4)) solid $background-color;
}

.CodeMirror-gutters {
  border-right: none;
}

.CodeMirror {
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  height: auto;
}

.cm-s-neat {
  background-color: $background-color;
  color: var(--pf-global--palette--black-500);
  padding: line-height-times(1) 0;
}

.CodeMirror-focused .CodeMirror-selected {
  background: $border-color;
}

.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: $border-color;
}

.cm-s-neat .CodeMirror-linenumber {
  color: $border-color;
}

.cm-s-neat .CodeMirror-gutter {
  background: $background-color;
  border-right: 0;
}

.cm-s-neat .CodeMirror-gutter-text {
  color: $border-color;
}

.cm-s-neat .CodeMirror-cursor {
  border-left: $border-width-lg solid $highlight-color !important;
}

.cm-s-neat span.cm-number,
.cm-s-neat span.cm-atom {
  color: $orange300;
}

.cm-s-neat span.cm-meta {
  color: $orange300;
}

.cm-s-neat span.cm-link {
  color: $highlight-color;
}

.cm-s-neat span.cm-comment {
  color: var(--pf-global--palette--black-500);
}

.cm-s-neat span.cm-keyword {
  line-height: 1em;
  font-weight: $font-weight-bold;
  color: $orange300
}

.cm-s-neat span.cm-string {
  color: var(--pf-global--success-color--100);
}

.cm-s-neat span.cm-builtin {
  line-height: 1em;
  font-weight: $font-weight-bold;
  color: $highlight-color;
}

.cm-s-neat span.cm-special {
  line-height: 1em;
  font-weight: $font-weight-bold;
  color: var(--pf-global--warning-color--100);
}

.cm-s-neat span.cm-property,
.cm-s-neat span.cm-attribute {
  color: $orange300;
}

.cm-s-neat span.cm-variable {
  color: $codemirror-vars-color;
}

.cm-s-neat span.cm-variable-2 {
  color: $codemirror-vars2-color;
}

.cm-s-neat span.cm-def {
  color: $orange300;
}

.cm-s-neat span.cm-tag {
  color: $orange300;
}

.cm-s-neat .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: $error-color !important;
}
