.dashboard-list-icon-title-layout {
  display: flex;
  align-items: center;
}

.dashboard-list-icon-title-layout svg {
  font-size: 28px;
  margin-right: 8px;
}

.dashboard-list-subtitle {
  margin-top: 8px;
}

.pf-c-card__footer {
  margin-left: auto;
}

.pf-c-data-list__item-row {
  --pf-c-data-list__item-row--PaddingLeft: 0;
}

.dashboard-list-secondary {
  color: var(--pf-global--disabled-color--100);
  font-size: var(--pf-global--FontSize--sm);
}

.dashboard-list-item-action > button.pf-c-dropdown__toggle {
  height: 29px;
  margin-top: -6px;
}

.apiContainer {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
}
