@import '@patternfly/patternfly/components/Divider/divider.css';
@import '@patternfly/patternfly/components/Page/page.css';
@import '@patternfly/patternfly/components/Panel/panel.css';
@import '@patternfly/patternfly/components/Truncate/truncate.css';
@import '@patternfly/patternfly/layouts/Grid/grid.css';
@import '@patternfly/patternfly/layouts/Level/level.css';
@import '@patternfly/patternfly/utilities/Spacing/spacing.css';
@import '@patternfly/patternfly/utilities/Text/text.css';
