@import '@patternfly/patternfly/components/Card/card.css';
@import '@patternfly/patternfly/components/Title/title.css';
@import '@patternfly/patternfly/components/Button/button.css';
@import '@patternfly/patternfly/components/DataList/data-list.css';
@import '@patternfly/patternfly/components/Dropdown/dropdown.css';
@import '@patternfly/patternfly/components/Table/table.css';
@import '@patternfly/patternfly/components/Toolbar/toolbar.css';
@import '@patternfly/patternfly/components/Pagination/pagination.css';
@import '@patternfly/patternfly/components/InputGroup/input-group.css';
@import '@patternfly/patternfly/components/OptionsMenu/options-menu.css';
@import '@patternfly/patternfly/layouts/Level/level.css';
