// import 'patternflyStyles/settingsPage'
@import '~@patternfly/patternfly/components/Button/button.css';
@import '~@patternfly/patternfly/components/Check/check.css';
@import '~@patternfly/patternfly/components/Form/form.css';
@import '~@patternfly/patternfly/components/FormControl/form-control.css';
@import '~@patternfly/patternfly/components/InputGroup/input-group.css';
@import '~@patternfly/patternfly/components/Radio/radio.css';
@import '~@patternfly/patternfly/components/Select/select.css';

// import 'patternflyStyles/pf4Base'
@import '~@patternfly/patternfly/patternfly-variables.css';
@import '~@patternfly/patternfly/patternfly-shield-noninheritable.css';
@import '~@patternfly/patternfly/patternfly-shield-inheritable.css';
@import '~@patternfly/patternfly/patternfly-common.css';
@import '~@patternfly/patternfly/patternfly-globals.css';
@import '~@patternfly/patternfly/patternfly-addons.css';

@import '~@patternfly/patternfly/components/Page/page.css';
@import '~@patternfly/patternfly/components/Nav/nav.css';
@import '~@patternfly/patternfly/components/ContextSelector/context-selector.css';
@import '~@patternfly/patternfly/layouts/Level/level.css';
@import '~@patternfly/patternfly/patternfly-fonts.css';

/****** HACK ******/

/* PF4 font-size is not dynamic, but ours is.
As we are still in a transition where PF4 is not totally implemented,
we are keeping the dinamycally calculated size.
This code must be removed once PF4 is implemented in the whole application */

@media screen and (max-width: 979px) {
  html {
    font-size: 0.65rem!important;
  }
}

@media screen and (min-width: 980px) {
  html {
      font-size:calc(0.65rem + 0.35 * ((100vw - 50rem) / 50))!important;
  }
}

@media screen and (min-width: 1600px) {
  html {
      font-size:1rem!important;
  }
}
/****** END OF HACK ******/
