<a class="pf-c-button pf-m-primary" type="button" href=<%= "https://github.com/3scale/3scale_ws_api_for_#{language}/zipball/master" %>>
  <span class="pf-c-button__icon pf-m-start">
    <i class="fa fa-download" aria-hidden="true"></i>
  </span>
  ZIP
</a>

<a class="pf-c-button pf-m-primary" type="button" href=<%= "https://github.com/3scale/3scale_ws_api_for_#{language}" %>>
  <span class="pf-c-button__icon pf-m-start">
    <i class="fa fa-github" aria-hidden="true"></i>
  </span>
  Github
</a>
