// Copied from colors.scss
$link-color: #0088ce; // pf-blue-400

.ActiveMenuTitle {

  & > i:first-child {
    color: $link-color;
    margin-right: 0.5rem;
  }

  & > i:last-child {
    margin-left: 0.5rem;
  }

}
