// Adjust styles for a context selector that is within the (dark) header
.header-context-selector {
  --pf-c-context-selector__toggle--BorderTopColor: transparent;
  --pf-c-context-selector__toggle--BorderRightColor: transparent;
  --pf-c-context-selector__toggle--BorderBottomColor: transparent;
  --pf-c-context-selector__toggle--BorderLeftColor: transparent;
  --pf-c-context-selector__toggle--active--BorderBottomColor: transparent;
  --pf-c-context-selector__toggle--expanded--BorderBottomColor: transparent;
  --pf-c-context-selector__toggle--hover--BorderBottomColor: transparent;
  --pf-c-context-selector--Width: initial;
}

.header-context-selector__item-icon {
  // color: var(--pf-global--active-color--100);
  margin-right: var(--pf-global--spacer--sm);
  min-width: var(--pf-global--spacer--lg);
}

.header-context-selector__toggle-text-icon {
  margin-right: var(--pf-global--spacer--sm);
  color: var(--pf-global--active-color--100);
}

.pf-c-context-selector__menu-list {
  overflow-y: auto;
}

a.pf-c-context-selector__menu-list-item {
  color: var(--pf-global--Color--100);
}
