<h1>Documentation</h1>

<p>Use our live documentation to learn about the Echo API</p>

{% content_for javascripts %}
    {{ 'active_docs.js' | javascript_include_tag }}
{% endcontent_for %}

{% include 'shared/swagger_ui' %}
