<div id="domain_recovery">
  <%= form_tag recover_provider_domains_path, :method => :post, :class => 'formtastic', :id => 'domain-recovery' do %>
    <fieldset class="inputs">
      <ol>
        <li class="string">
          <%= label_tag :email, "Email address" %>
          <%= text_field_tag :email, params[:email], :class => :text, :placeholder => 'Your Email Address' %>
        </li>
        <li class="commit">
          <%= submit_tag "Recover domain", :class => 'important-button recovery' %>
        </li>
        <p class="inline-hints">
          Please enter the email address you used to sign up to this site.
          We'll email your login urls.
        </p>
      </ol>
    </fieldset>
  <% end %>
</div>
