<ul class="nav nav-tabs">
  <li class="{% if urls.messages_new.current_or_subpath? %}active{% endif %}">
    <a href="{{ urls.messages_new }}">Compose</a>
  </li>
  <li class="{% if urls.messages_inbox.current_or_subpath? %}active{% endif %}">
    <a href="{{ urls.messages_inbox }}">Inbox</a>
  </li>
  <li class="{% if urls.messages_outbox.current_or_subpath? %}active{% endif %}">
    <a href="{{ urls.messages_outbox }}">Sent Messages</a>
  </li>
  <li class="{% if urls.messages_trash.current_or_subpath? %}active{% endif %}">
    <a href="{{ urls.messages_trash }}">
      <i class="fa fa-trash"></i>
      Trash
    </a>
  </li>
</ul>
