<div class='button-bar'>
  <%= f.actions :style => 'position:absolute' do %>
    <li><%= insert_legal_terms_snippet_button %>   </li>
  <% end %>
  <%= f.actions :style => 'position:absolute' do %>
    <%= f.commit_button "Update legal terms for #{@page.title}" %>
  <% end %>
</div>
