<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-coffee"></i>
        Forgot password
      </div>
      <div class="panel-body">
        {% form 'password_reset', { class: 'form-horizontal' } %}
          <fieldset>
            <div class="form-group">
              <label for="email" class="control-label col-md-4">Email address</label>
              <div class="col-md-6">
                <input id="email" name="email" type="text" class="form-control" autofocus="autofocus">
                <span class="help-block">Please enter the email address you used to sign up to this site. Instructions on how to reset your password will be sent to you.</span>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <div class="col-md-10">
              <input name="commit" type="submit" class="btn btn-success btn-lg pull-right" value="Send instructions">
            </div>
          </fieldset>
        {% endform %}
      </div>
      <div class="panel-footer">
        <a href="{{ urls.login }}" class="link">
          <i class="fa fa-chevron-left"></i>
          Sign in
        </a>
      </div>
    </div>
  </div>
</div>
