- content_for :javascripts do
  = javascript_packs_with_chunks_tag 'codemirror', 'api_docs_form'
  = javascript_include_tag 'codemirror/modes/liquid'

div.pf-hack__remove-main-padding id="api-docs-container" data-service=api_docs_service_data(@api_docs_service).to_json
