- content_for :javascripts do
  = javascript_include_tag 'provider/codemirror'

- content_for :sublayout_title, 'ActiveDocs'

div id="api-docs-container" data=@api_docs_service
  = javascript_pack_tag 'api_docs_form'

/ semantic_form_for @api_docs_service, url: create_api_docs_service_path(@api_docs_service.service), html: {id: 'new-api-docs'} do |form|
/   = render partial: 'form', locals: {form: form}