<% content_for :sublayout_title, 'ActiveDocs' %>
<h2>ActiveDocs: New Service Spec</h2>
<%= semantic_form_for @api_docs_service, url: create_api_docs_service_path(@api_docs_service.service), html: {id: 'new-api-docs'} do |form| %>
  <%= render partial: 'form', locals: {form: form} %>
<% end %>
