/ Can't content_for this:
= stylesheet_packs_chunks_tag 'call_to_action'

div class="pf-c-banner pf-m-sticky pf-m-red"
  = t('layouts.provider.call_to_action_html', href: '@redhat_customer_portal_verification_presenter.authorize_url')
