div.CallToAction
  ' in order to be able to open a support case, please
  => link_to "connect your Red Hat Account", @redhat_customer_portal_verification_presenter.authorize_url, class: "CallToAction-link"
  | to this 3scale account.
