<div id="flashWrapper" style="<%= flash.empty? ? "display:none;" : "" %>">
  <div class="ajaxNoticeValid">
    <% flash.each do |type, value| %>
      <span class="flash-message flash-message--<%= type %>"><%= value %></span>
      <% flash.discard(type) %>
    <%- end -%>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        if($.flash !== undefined) { setTimeout($.flash.hide, $.flash.timeout) }
      });
    </script>
  </div>
</div>
