= f.input :client_id, as: :patternfly_input, required: true, label: 'Client'
= f.input :client_secret,  as: :patternfly_input, input_html: { type: 'password' }, required: true, label: 'Client Secret'
