<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-user"></i>
        Sign up
      </div>
      <div class="panel-body panel-footer">
        <h2>Thank you</h2>
        <p class="lead">We have sent you an email to confirm your email address. Please click the link in the email and you can directly login!</p>
        <p>(If you don't see the email, please check your spam box as well.)</p>
      </div>
    </div>
  </div>
</div>