<h2>Edit Feature "<%= h @feature.name %>"</h2>

<%= semantic_form_for @feature, :url => admin_plan_feature_path(@plan, @feature), :html => {:class => 'remote'} do |form| %>
  <%= render 'form', :form => form %>
<% end %>
