h2 Add a Backend

div id="add-backend-form" data=add_backend_usage_form_data(@service) data-inline-errors=@inline_errors.to_json data-backend-api-id=@backend_api_config&.backend_api_id
  = javascript_pack_tag 'add_backend_usage'
  = javascript_pack_tag 'pf4_styles_modal'
