- append_javascript_pack_tag 'add_backend_usage', 'PF4Styles/modal'

h2 Add a backend

div id="add-backend-form" data=add_backend_usage_form_data(@service) data-inline-errors=@inline_errors.to_json data-backend-api-id=@backend_api_config&.backend_api_id
