- content_for :title, 'Security'
- content_for :page_header_title, 'Security'

= render partial: 'form', locals: { url: provider_admin_security_path, settings: @settings, field: :admin_bot_protection_level, selector_label: t('.selector_label') }
