<% unless @account.signs_legal_terms? -%>
  <p><i class="included fa fa-check-circle-o"></i> Users of this account will not be presented with legal terms and conditions to perform actions that require them.</p>
<% end -%>
