<% case ENV['DATABASE_URL'].to_s
   when /^oracle/ %>
default: &DEFAULT
  adapter: oracle_enhanced
  url: <%= ENV['DATABASE_URL'] %>
  time_zone: 'UTC'
  pool: <%= ENV.fetch('RAILS_MAX_THREADS', 25) %>

production:
  <<: *DEFAULT

development:
  <<: *DEFAULT

test:
  <<: *DEFAULT
  url: <%= "#{ENV['DATABASE_URL']}#{ENV['TEST_ENV_NUMBER']}" %>
<% when /^postgresql/ %>
default: &DEFAULT
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>
  pool: <%= ENV.fetch('RAILS_MAX_THREADS', 25) %>
  encoding: unicode
  variables:
    timezone: 'UTC'

production:
  <<: *DEFAULT

development:
  <<: *DEFAULT

test:
  <<: *DEFAULT
  url: <%= "#{ENV['DATABASE_URL']}#{ENV['TEST_ENV_NUMBER']}" %>
<% else; db_host = ENV.fetch('DB_PORT_3306_TCP_ADDR') { ENV['DB_PORT'] ? 'db' : ENV['DB_HOST'] } || '127.0.0.1' %>
default: &DEFAULT
  adapter: mysql2
  encoding: utf8
  collation: utf8_bin

production:
  <<: *DEFAULT
  url: <%= ENV.fetch('DATABASE_URL', "mysql2://root:@#{db_host}:3306/3scale_system_production") %>

development:
  <<: *DEFAULT
  url: <%= ENV.fetch('DATABASE_URL', "mysql2://root:@#{db_host}:3306/3scale_system_development") %>

test:
  <<: *DEFAULT
  url: <%= ENV.fetch('DATABASE_URL', "mysql2://root:@#{db_host}:3306/3scale_system_test") %><%=ENV['TEST_ENV_NUMBER']%>
<% end %>
