<% case ENV['DATABASE_URL'].to_s
when /^oracle/ %>
base: &default
  adapter: oracle_enhanced
  url: <%= ENV['DATABASE_URL'] %>
  encoding: utf8
  pool: <%= ENV.fetch('RAILS_MAX_THREADS', 5) %>
  statement_limit: <%= ENV.fetch('ORACLE_STATEMENT_LIMIT', 250) %>

development:
  <<: *default

test:
  <<: *default
  url: <%= "#{ENV['DATABASE_URL']}test" %>

production:
  <<: *default

<% when /^postgresql/ %>
base: &default
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>
  encoding: utf8
  pool: <%= ENV.fetch('RAILS_MAX_THREADS', 5) %>
  variables:
    timezone: 'UTC'
  sslmode: <%= ENV.fetch('DATABASE_SSL_CA', nil) ? 'verify-full' : 'disable' %>
  sslrootcert: <%= ENV['DATABASE_SSL_CA'] %>
  sslcert: <%= ENV['DATABASE_SSL_CERT'] %>
  sslkey: <%= ENV['DATABASE_SSL_KEY'] %>

development:
  <<: *default

test:
  <<: *default
  url: <%= "#{ENV['DATABASE_URL']}#{ENV['TEST_ENV_NUMBER']}" %>

production:
  <<: *default

<% else; db_host = ENV.fetch('DB_PORT_3306_TCP_ADDR') { ENV['DB_PORT'] ? 'db' : ENV['DB_HOST'] } || '127.0.0.1' %>
base: &default
  adapter: mysql2
  url: <%= ENV['DATABASE_URL'] %>
  encoding: utf8
  pool: <%= ENV.fetch('RAILS_MAX_THREADS', 5) %>
  collation: utf8_bin
  sslca: <%= ENV['DATABASE_SSL_CA'] %>
  sslcert: <%= ENV['DATABASE_SSL_CERT'] %>
  sslkey: <%= ENV['DATABASE_SSL_KEY'] %>

development:
  <<: *default
  url: <%= ENV.fetch('DATABASE_URL', "mysql2://root:@#{db_host}:3306/3scale_system_development") %>

test:
  <<: *default
  url: <%= ENV.fetch('DATABASE_URL', "mysql2://root:@#{db_host}:3306/3scale_system_test") %><%=ENV['TEST_ENV_NUMBER']%>

production:
  <<: *default
<% end %>
