default: &default
  enabled: false
  request_pattern: "\\.3scale\\.localhost"
  request_replacement: ".example.com"
  response_pattern: "\\.example\\.com"
  response_replacement: ".3scale.localhost"

development:
  <<: *default
  enabled: true

test:
  <<: *default

production:
  <<: *default

preview:
  <<: *default
