base: &default
  test_api_hosts:
    - echo-api.3scale.net
  ignore_test_failures: []
  # Backend endpoint as visible by apicast (host.containers.internal in podman)
  backend_endpoint: <%= ENV.fetch('APICAST_BACKEND_ROOT_ENDPOINT', 'http://host.docker.internal:3001') %>
  verify_mode: <%= OpenSSL::SSL::VERIFY_NONE %>
  # APIcast endpoints as visible from the client
  apicast_staging_endpoint: 'http://%{system_name}-%{account_id}.staging.%{env}apicast.dev.localhost:8080'
  apicast_production_endpoint: 'http://%{system_name}-%{account_id}.%{env}apicast.dev.localhost:8000'
  apicast_registry_url: <%= ENV['APICAST_REGISTRY_URL'] %>
  self_managed_apicast_registry_url: <%= ENV['APICAST_REGISTRY_URL'] %>
  sandbox_endpoint: 'https://%{system_name}-%{account_id}.staging.%{env}apicast.io:%{port}'
  hosted_proxy_endpoint: 'https://%{system_name}-%{account_id}.%{env}apicast.io:%{port}'

development:
  <<: *default
  test_api_hosts:
    - hello-world-api.3scale.net
  ignore_test_failures:
    - echo-api.3scale.net
  override: 'http://localhost:8091'
  debug: true

test:
  <<: *default
  backend_endpoint: 'http://127.0.0.1:4001'

production:
  <<: *default
