- if @service&.plugin_deployment?
  .deprecated_plugin_message
    p.InfoBox--notice.InfoBox
      i This Product currently uses a plugin as the deployment option. Your integration will keep on working but we no longer support plugins.
