document.querySelector('.metric_slot')?.remove();
document.querySelector('tr#<%= dom_id(@metric) %>').insertAdjacentHTML(
  'afterend',
  '<tr><td colspan="8" class="metric_slot" id="<%= dom_id(@metric) %>_slot"></td></tr>'
);
