div{ id='product-metrics-index-container' data-mapping-rules-path=admin_service_proxy_rules_path(@service)
                                          data-application-plans-path=admin_service_application_plans_path(@service) }
  = javascript_pack_tag 'product_metrics_index'
