@use 'provider/colors' as *;
@use 'utils' as *;
@use 'provider/typography' as *;
@use 'sass:math';

$upgrade-button-top: line-height-times(20);
$upgrade-button-left: line-height-times(1);
$upgrade-button-width: line-height-times(10);

.plan-preview-box {
  background: white;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  box-shadow: var(--pf-global--BoxShadow--sm);
  left: 50%;
  margin-left: line-height-times(-25);
  min-height: line-height-times(40);
  overflow: hidden;
  padding: line-height-times(1);
  position: absolute;
  text-align: left;
  top: line-height-times(2.5);
  width: line-height-times(50);
  z-index: 599;

  .plans-menu {
    float: left;
    font-size: $font-size-sm;
    width: 40%;

    a {
      color: $font-color;
      height: line-height-times(2);

      &:hover {
        color: $link-color;
      }

      &.current {
        color: $link-color;
      }
    }

    ul {
      font-size: $font-size-base;
      list-style: none inside;
    }
  }

  #plans-content {
    border-left: $border-width solid $border-color;
    float: left;
    padding-left: line-height-times(1);
    width: 60%;
  }

  .plan-review-section {
    margin-top: line-height-times(2);
  }

  .select-plan-button,
  .current-plan-notice,
  .contact-by-email-notice {
    left: $upgrade-button-left;
    position: absolute;
    top: $upgrade-button-top;
  }

  #credit-card-status {
    left: $upgrade-button-left;
    position: absolute;
    top: $upgrade-button-top + line-height-times(3);
    width: $upgrade-button-width;
  }

  .contact-by-email-notice {
    width: $upgrade-button-width;
  }

  .select-plan-button[data-can-upgrade="false"] {
    display: none;
  }

  .close-box {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: line-height-times(2);
    position: absolute;
    right: line-height-times(1);
    text-align: right;
    top: line-height-times(math.div(2, 3));
    width: line-height-times(1);

    &::after {
      @include iconic('\f057\0000a0');
    }
  }

  .loading h3 {
    text-align: center;
  }
}
