- content_for :javascripts do
  = stylesheet_packs_chunks_tag 'pf_spacing'

div.pf-c-content.pf-u-mb-md.pf-u-mt-md
  h3 = t('buyers.accounts.edit.admin_domain_confirm_intro')
ul.pf-c-list.pf-u-my-md
  li = t('buyers.accounts.edit.admin_domain_confirm_ssl_html')
  li = t('buyers.accounts.edit.admin_domain_confirm_sessions_html')
  li = t('buyers.accounts.edit.admin_domain_confirm_emails_html')
  li = t('buyers.accounts.edit.admin_domain_confirm_sso_html')
.pf-c-form__group.pf-m-action
  .pf-c-form__actions.pf-u-mt-md
    button.pf-c-button.pf-m-primary#admin-domain-confirm-btn type="button" = t('buyers.accounts.edit.admin_domain_confirm_submit')
    button.pf-c-button.pf-m-link.fancybox-close type="button" = t('buyers.accounts.edit.admin_domain_confirm_cancel')
