- is_service_mesh = proxy.service_mesh_integration?
= f.inputs "API gateway", class: "apicast-only-settings #{'hidden' if is_service_mesh}", disabled: is_service_mesh do
  = f.input :sandbox_endpoint, label: "Staging Public Base URL",
            input_html: { data: { default: (proxy.default_staging_endpoint unless proxy.self_managed?) },
                          readonly: !apicast_custom_urls?,
                          placeholder: "https://api.#{parameterized_org_name_of_the_current_account}.com" },
            hint: apicast_endpoint_input_hint(service, environment: 'staging')

  = help_bubble( 'proxy_endpoint_bubble', t('api.integrations.proxy.proxy_endpoint_help_html'))
  = f.input :endpoint, label: "Production Public Base URL",
            input_html: { data: { default: (proxy.default_production_endpoint unless proxy.self_managed?) },
                          readonly: !apicast_custom_urls?,
                          placeholder: "https://api.#{parameterized_org_name_of_the_current_account}.com" },
            hint: apicast_endpoint_input_hint(service, environment: 'production')
  = help_bubble( 'proxy_endpoint_bubble', t('api.integrations.proxy.proxy_endpoint_help_html'))
