- content_for :page_header_title, t('.header.title')
- content_for :page_header_body, t('.header.body')
- content_for :title, t('.header.title')

- content_for :javascripts do
  = javascript_packs_with_chunks_tag 'account_authentication_providers'

div class="pf-l-flex pf-m-column" id="account-authentication-providers" data-props=presenter.props.to_json
