<%= f.actions do %>
  <div class="pf-c-action-list__group">
    <%= f.commit_button "#{@page.new_record? ? 'Create Email Template' : 'Save'}", button_html: { id: 'codemirror_save_button' } %>
    <%= disable_sending_button %>
  </div>
<% end %>
