<div class="button-bar">
  <%= f.buttons  :style => 'position:absolute' do %>
    <%= disable_sending_button %>
  <% end %>

  <%= f.buttons  :style => 'position:absolute' do %>
    <%= f.commit_button %>
  <% end %>
</div>
