= javascript_pack_tag 'new_service'
#new_service_wrapper data-new-service-data={isServiceDiscoveryAccesible: service_discovery_accessible?,
isServiceDiscoveryUsable: service_discovery_usable?,
serviceDiscoveryAuthenticateUrl: service_discovery_presenter.authorize_url,
providerAdminServiceDiscoveryServicesPath: provider_admin_service_discovery_services_path,
adminServicesPath: admin_services_path}.to_json
