= javascript_pack_tag 'new_service'

#new_service_wrapper data-new-service-data={ isServiceDiscoveryAccessible: service_discovery_accessible?,
                                             template: @service.as_json,
                                             isServiceDiscoveryUsable: service_discovery_usable?,
                                             serviceDiscoveryAuthenticateUrl: service_discovery_presenter.authorize_url,
                                             providerAdminServiceDiscoveryServicesPath: provider_admin_service_discovery_services_path,
                                             adminServicesPath: admin_services_path,
                                             backendApis: current_account.backend_apis.as_json(only: [:id, :name], root: false) }.to_json
