<h2>Overview</h2>

<div id="twoCol">
  <div class="left wide">
    <p>Use the admin panel to configure information about your service.
    Use the
    <%= link_or_text_to_settings_or_site %>
    area to set
    <%= "design, colouring, " if can?(:manage, :connect_portal) %>
    DNS and other configurations.</p>
  </div>
</div>
