<%= render partial: 'provider/admin/cms/tab_content_title', locals: { header: 'Files' } %>

<%= cms_new_button_dropdown(CMS::File) %>

<section class="pf-c-page__main-section pf-m-light">
  <table>
    <% @files.each do |file| %>
      <tr>
        <td><%= link_to file.path, edit_provider_admin_cms_file_path(file) %><td>
      </tr>
    <% end %>
  </table>
</section>
