<% content_for :javascripts do %>
  <%= javascript_packs_with_chunks_tag 'inline_chart' %>
<% end %>

<% if defined?(cinstance) %>
  <% endpoint = usage_stats_api_applications_path(cinstance)%>
<% end %>

<div id="mini-charts">
  <% Array.wrap(metrics).each do |metric| %>
    <% endpoint ||= usage_stats_api_services_path(metric.backend_api_metric? ? nil : metric.owner_id) %>
    <div class="charts inlinechart" id="chart-<%= metric.id %>">
      <%= content_tag :div,
        class: "inline-chart-container",
        id: "inline-chart-container-#{metric.id}",
        data: {
          "unit-pluralized": metric.unit.pluralize,
          "end-point": endpoint,
          "metric-name": metric.name,
          "title": metric.friendly_name
        } do %>
      <% end %>
    </div>
  <% end %>
</div>
