<% if @usage_limits %>
  <table id="usage_limits_table" class="usage_table">
    <thead>
      <tr class="table_title">
        <th colspan='2'>Usage Limits
        </th>
        <th class="operations">
          <%= link_to 'New usage limit', new_polymorphic_path([:admin, @plan, @metric, :usage_limit]), :class => 'fancybox action add', 'data-autodimensions' => 'true' %>
          <%= link_to 'Close', '', :class => 'metric_slot_close_button action close' %>
        </th>
      </tr>
      <tr>
        <th>Period</th>
        <th>Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="usage_limits_table_body">
      <%= render :partial => 'api/usage_limits/usage_limit', :collection => @usage_limits %>
    </tbody>
  </table>
<% end %>
