<h2>Edit Usage limit</h2>

<%= semantic_form_for @usage_limit,
                      :url => polymorphic_path([:admin, @plan, @usage_limit]),
                      :html => {:class => 'remote'} do |form| %>
  <%= render 'form', :form => form %>
<% end %>
