<h2>ActiveDocs: New Service Spec</h2>
<%= semantic_form_for @api_docs_service, :url => admin_api_docs_services_path, :html => {:id => 'new-api-docs'} do |form| %>
  <%= render :partial => 'form', :locals => {:form => form } %>
<% end %>
