.form-control::-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
}

.form-control::-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  border: 1px solid #d1d1d1;
  color: #393f44;
  background-color: #fff;
  width: 100%;
  padding: 0.375rem;
  height: 2.25rem;
  border-radius: 0.1875rem;
  line-height: 1.5;

  &.braintree-hosted-fields-focused {
    outline: none !important;
    border-color: #0088ce;
    box-shadow: 0;
    color: #0088ce;
  }
}
