@import '@patternfly/patternfly/components/Login/login.css';
@import '@patternfly/patternfly/components/BackgroundImage/background-image.css';
@import '@patternfly/patternfly/components/Form/form.css';
@import '@patternfly/patternfly/components/FormControl/form-control.css';
@import '@patternfly/patternfly/components/Title/title.css';
@import '@patternfly/patternfly/components/Button/button.css';

// HACK
// This is a hack to hide the old login page and avoid flickering when replaced by the new one
// It's needed because whit display:none, visibility:hidden or negative margins cukes can't find the elements

// scss-lint:disable ImportantRule
.login-layout #old-login-page-wrapper * {
  background-color: transparent !important;
  border: 0;
  color: transparent !important;
  height: 0;
  width: 0;
}
// scss-lint:enable ImportantRule

// End of HACK

$pf-black-500:  #8b8d8f; // $osloGray
$--pf-global--danger-color--100: #c9190b;
$--pf-global--info-color--200:	#004368;

#pf-login-page-container {

  .pf-c-background-image::before {
    filter: none;
  }

  .login-provider {
    padding: .3rem 0;

    .login-provider-link:hover {
      text-decoration: none;
    }
  }

  .providers-separator {
    margin-top: 1rem;
    text-align: center;
  }

  .pf-c-form__helper-text {
    margin: 1rem 0;
    svg {
      margin-right: .3rem;
    }
  }
  .pf-m-error {
    color: $--pf-global--danger-color--100;
  }

  .pf-m-notice {
    color: $--pf-global--info-color--200;
  }
}

/****** Override styles for IE 11  ******/
.isIe11 {
  .pf-c-login {
    .pf-c-login__container {
      display: block;
      padding-right: 6.125rem;
      padding-left: 6.125rem;
      width: 90%;
      padding: 10% 5%;

      .pf-c-login__main {
        display: block;
        width: 45%;
        float: left;

        .pf-c-login__main-body {
          .pf-c-form {
            .pf-c-form__group {
              .pf-c-form__actions {
                .pf-c-button.pf-m-primary {
                  background-color: #06c;
                  border-radius: 3px;
                  color: #fff;
                  padding: 6px 16px;
                }
              }
            }
          }
        }
      }
      .pf-c-login__header {
        display: block;
        width: 45%;
        float: right;
      }

      @media (max-width: 768px) {
        .pf-c-login__main {
          display: block;
          width: 100%;
          float: left;
        }
        .pf-c-login__header {
          display: block;
          width: 100%;
          float: left;
        }
      }
    }
  }
}
