<table class="usage_table">
  <thead>
    <tr class="table_title">
      <th colspan='4'>Pricing Rules
      </th>
      <th class="operations">
        <%= link_to 'New pricing rule',
          new_admin_application_plan_metric_pricing_rule_path(@plan, @metric),
          :class => 'fancybox action add', 'data-autodimensions' => 'true' %>
        <%= link_to 'Close', '', :class => 'metric_slot_close_button action close' %>
      </th>
    </tr>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Price per unit</th>
      <th colspan='2' class="mini"></th>
    </tr>
  </thead>
  <tbody id="pricing_rules_table_body">
    <%= render :partial => 'pricing_rule', :collection => @pricing_rules %>
  </tbody>
</table>
