<div class="pf-l-grid__item pf-m-12-col">
  <div class="pf-c-card">
    <div class="pf-c-card__header">
      <div class="pf-c-card__title">
        Transactions
      </div>
    </div>

    <table class="pf-c-table pf-m-grid-lg" role="grid" aria-label="Transactions table">
      <% unless @invoice.payment_transactions.empty? %>
        <thead>
          <tr role="row">
            <th role="columnheader" scope="col"></th>
            <th role="columnheader" scope="col">Status</th>
            <th role="columnheader" scope="col">Created At</th>
            <th role="columnheader" scope="col">Reference</th>
            <th role="columnheader" scope="col">Message</th>
            <th role="columnheader" scope="col">Amount</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          <%= render 'payment_transaction', collection: @invoice.payment_transactions %>
        </tbody>
      <% else %>
        <tr role="row">
          <td colspan="5"><em>No transactions registered for this invoice.</em></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
