<div class="Dashboard-chart" data-chart>
  <% if widget.loaded? %>
    <script>
      renderChartWidget(document.getElementById(<%=json widget.id%>), <%= json widget.chart %>)
    </script>
  <% end %>
</div>
