div class="pf-l-bullseye pf-l-flex__item pf-m-flex-1"
  svg class="pf-l-bullseye__item pf-c-spinner" role='progressbar' viewBox='0 0 100 100' aria-label='Loading...'
    circle class='pf-c-spinner__path' cx='50' cy='50' r='45' fill='none'
